{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinksExtra = true %}


{% set pageHeading = "Password reset" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>



		<p>Instructions on how to reset your password will be sent via email in the next 15 minutes.</p>
		<p>If you don't receive an email check your junk/spam folder. If you still haven't received password reset instructions it is likely that there is not an account registered for the email address provided. Therefore, you should try alternative email addresses you may have registered with.</p>
		<p>Wait 15 minutes before requesting a new password reset as this will invalidate any email and link that we have just sent you.</p>
		<p>If you still do not receive a password reset email, you can <a href="https://www.civilservicejobs.service.gov.uk/csr/support.cgi">request technical support</a>.</p>





  	</div>  
</div>

{% endblock %}
