{% extends "layouts/vacancy.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Vacancy holders" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>
    <script type="text/javascript">
        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            selectElement: document.querySelector('#mrrVacancyDepartment' name="mrrVacancyDepartment" value="" )
        })
    </script>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">        
    <div class="govuk-grid-column-full">    
        
        <h2 class="govuk-heading-l">Recruitment process</h2>        

        <p>The Civil Service's full recruitment process is outlined on this page, from creating a vacancy advertisement through to onboarding successful applicants. You can access information, self-serve forms and guidance about bringing candidates into the Civil Service and helping them progress their career.</p>
         
        <div class="govuk-grid-row govuk-!-margin-top-9">        
    

    <!-- Example 1 -->
    
        
        
            <a id="advertising_tag"><div class="govuk-grid-column-one-half"></a>
                <h3 class="govuk-heading-m">Advertising a vacancy</h3>                
                <p class="govuk-body">Creating a vacancy, manage advertisements and access information about vacancy campaigns.</p>
            
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list ">
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vacancy approvals</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Advertisement approvals</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="/grs-customer-contact/self-serve/amend-vacancy/start?query=amendVacacny">Amend a vacancy advertisement</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="/grs-customer-contact/self-serve/manual-recruitment-request/start?query=manualRecruitmentRequest">Manual recruitment request</a></li>                        
                        </ul>
                    </div>                
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list ">                        
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vacancy campaign planning</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vacancy supporting documents</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vacancy request form</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="/grs-customer-contact/self-serve/withdraw-vacancy/start?query=withdrawVacacny">Withdraw a vacancy advertisement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
    
            <a id="recruiting_tag"><div class="govuk-grid-column-one-half "></a>
                <h3 class="govuk-heading-m">Recruiting candidates</h3>                
                <p class="govuk-body">Find out about Success Profiles and the recruitment process, candidate interviews, tests and assessments.</p>
                    
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">  
                        <!-- <h3 class="govuk-heading-s">Guidance</h3> -->
                        <ul class="govuk-list">                           
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Candidate assessment</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Candidate interviews</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Making an offer from the Reserve List</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Online tests</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Pre-Sift</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Sift</a></li>                            
                        </ul>                        
                    </div>
                    <div class="govuk-grid-column-one-half">    
                        <!-- <h3 class="govuk-heading-s">Forms</h3>                     -->
                        <ul class="govuk-list">                                                       
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Provisional offer</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Reasonable adjustments</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Reserve List query</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Withdrawal request</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Update to candidate application</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="govuk-grid-row govuk-!-margin-top-7"> 
    

    
            <a id="preemployment_tag"><div class="govuk-grid-column-one-half"></a>
                <h3 class="govuk-heading-m">Making pre-employment checks</h3>                
                <p class="govuk-body">Review and record the progress of pre-employment checks, and manage candidate applications and authentications.</p>
            
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list">                                                       
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Criminal record check</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Enhanced integrity check</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Health check</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >NSV</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >OGD check</a></li>                                    
                        </ul>
                    </div>                            
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list">                                                                                       
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Overseas check</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Pension</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >Self employment</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#" >EEHC check</a></li>
                        </ul>
                    </div>
                </div>  
            </div>  
    
    
    
            <a id="righttowork_tag"><div class="govuk-grid-column-one-half"></a>
                <h3 class="govuk-heading-m">Making right to work checks</h3>                
                <p class="govuk-body">Carry out right to work checks and verify candidates’ identity.</p>
            
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list">
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Driving licence checks</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">National Insurance Number Check (NINO)</a></li>                        
                        </ul>
                    </div>                
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list">                        
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#">Right to Work and identity verification</a> </li>                
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
        
        <div class="govuk-grid-row govuk-!-margin-top-7"> 
    
            <a id="onboarding_tag"><div class="govuk-grid-column-one-half "></a>
                <h3 class="govuk-heading-m">Onboarding candidates</h3>                
                <p class="govuk-body">Use the Applicant Tracking System, onboard and help candidates further their career with the Civil Service.</p>
            
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list">                                                       
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#"> Candidate pack to HR</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#"> Conditional appointment</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#"> Employment contract</a></li>                        
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">  
                        <ul class="govuk-list">                                                                               
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#"> Formal offer</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#"> New entrant notification</a></li>
                            <li><a class="govuk-link govuk-link--no-visited-state" href="#"> Posting notice</a></li>
                        </ul>
                    </div>
                </div>

            </div>
    
  
        </div>

    <!-- <div class="govuk-grid-row govuk-!-margin-top-5">
        <div class="govuk-grid-column-two-thirds">
            
            <h2 class="govuk-heading-m">Guidance, information and feedback</h2>                                                   
            <p class="govuk-body">Find out more about recruitment processes, the Civil Service recruitment system and make information requests.</p>
        
            <ul class="govuk-list">            
                <li><a class="govuk-link govuk-link--no-visited-state" href="#">Recruitment general enquiry</a></li>                                                                                   
                <li><a class="govuk-link govuk-link--no-visited-state" href="#">System guidance</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="#">Give feedback</a></li> 
        
            </ul>
        </div>
    </div> -->

   
    





        
        
    </div>

</div>

{% endblock %}