{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Authentication" %}
{% set pageSection = "Self-serve" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	<p>Details to authenticate to follow</p>


    	{% if data['user'] == "vh" %} 

		<form method="post" action="/crm/vacancy-holder" >

			<input type="text" name="authenticated" id="authenticated" value="Yes" class="govuk-visually-hidden"/>

    		{{ govukButton({
      			text: "Sign in"      			
    		}) }}
		</form>

    	{% elif data['user'] == "can" %}

    		{{ govukButton({
      			text: "Sign in",
      			href: "/crm/candidates"
    		}) }}    

    	{% else %}
    
			<p>Do not need to authenticate.</p>

    	{% endif %}

    

  
  </div>
</div>


{% endblock %}