{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Confirm correct vacancy holder details" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	<p>Flow and pattern to be confirmed.</p>

        <div class="govuk-button-group">
    	{{ govukButton({
      		text: "Confirm and continue",
			href: "/crm/self-serve/manual-recruitment-request/vacancy-holder-details/"

    	}) }}

        <a class="govuk-link" href="/crm/self-serve/manual-recruitment-request/vacancy-holder-details/name">This is not me</a>
        </div>
  
	</div>
</div>


{% endblock %}