{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% if data['pageIteration'] == "current" %}
	{% set pageHeading = "Civil Service job search" %}
{% else %}
	{% set pageHeading = "Find jobs in the Civil Service" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">	
	<div class="govuk-grid-column-full">

		<!-- CURRENT ITERATION -->
		{% if data['pageIteration'] == "current" %}

				<!-- Notifcation banners -->
				{% include "includes/notifcation_banner.html" %}		

				<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
				<p class="govuk-body-l hint">Find jobs in the Civil Service and central government organisations</p>    	
				
				<form method="post" action="/csjobs/search/results" >
					<div class="govuk-grid-row grey">
						<div class="govuk-grid-column-one-third govuk-!-padding-top-5">
							<h2 class="govuk-heading-m govuk-!-margin-bottom-1">What</h2>
							{{ govukInput({
								label: { text: "Enter job title, skill or keywords", classes: "govuk-label", isPageHeading: false },      					
								id: "searchKeyword",
								name: "searchKeyword"					
							}) }}
						</div>
						<div class="govuk-grid-column-one-third govuk-!-padding-top-5">
							<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Where</h2>
							{{ govukInput({
								label: { text: "Enter a postcode, town or region", classes: "govuk-label",isPageHeading: false },      					
								id: "searchWhere",
								name: "searchWhere"					
							}) }}
						</div>
						<div class="govuk-grid-column-one-quarter">
							{{ govukButton({
								text: "Search",
								classes: "override-button"
							}) }}				
							<p class="govuk-!-text-align-right"><a href="/csjobs/search/results" class="govuk-link govuk-link--no-visited-state">Advanced search</a></p>
						</div>

					</div>
				</form>
				
				<p class="govuk-body govuk-!-margin-top-7"><a href="https://www.civil-service-careers.gov.uk/" class="govuk-link govuk-link--no-visited-state" target="_blank">Discover careers within the Civil Service</a></p>				

		<!-- NEW ITERATION -->
		{% else %}

				<!-- Notifcation banners -->
				{% include "includes/notifcation_banner.html" %}		

				<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
				<p class="govuk-body-l">Use this service to search and apply for government job opportunities.</p>    	
				
				<form method="post" action="/csjobs/search/results" >
																	
						<div class="govuk-grid-column-full grey govuk-!-margin-bottom-7">
							<div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-left-5">

								<div class="govuk-grid-column-three-quarters ">
									<!-- <div class="govuk-grid-column-one-third govuk-!-padding-top-5"> -->
										<!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Enter job title or keywords</h2> -->
										{{ govukInput({
											label: { text: "Enter job title or keywords", classes: "govuk-label--m", isPageHeading: false },      					
											hint: {
												text: "For example, Content Designer, Security Consultant  or UX."
											},
											
											id: "searchKeyword",
											name: "searchKeyword"					
										}) }}
									<!-- </div>
									<div class="govuk-grid-column-one-third govuk-!-padding-top-5"> -->
										<!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Where</h2> -->
										{{ govukInput({
											label: { text: "Enter a postcode, town or city", classes: "govuk-label--m govuk-!-margin-bottom-0",isPageHeading: false },      					
											hint: {
												text: "For example, SW1A PBY or Newcastle Upon Tyne."
											},
											
											id: "searchWhere",
											name: "searchWhere"					
										}) }}
									<!-- </div> -->
									<!-- </div>
									<div class="govuk-grid-column-one-quarter"> -->
			
										<div class="govuk-button-group">
											{{ govukButton({
												text: "Search for jobs"
												
											}) }}				
			
											<p>Use more options to find jobs with <a href="/csjobs/search/results" class="govuk-link govuk-link--no-visited-state">advanced search</a></p>
										
										</div>
										
										
									</div>
									<div class="govuk-grid-column-one-thirds">
										<!-- <h2 class="govuk-heading-s">More options</h2> -->
										<!-- <p class="govuk-body">Use more options to find jobs with <a href="/csjobs/search/results" class="govuk-link govuk-link--no-visited-state">advanced search</a>.</p> -->
			
			
									
								</div>

							</div>
						</div>

						

					
				</form>
				
				<!-- <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">Find your fit in the Civil Service</h2> -->
				<p class="govuk-body govuk-!-margin-top-7">Find out more about <a href="https://www.civil-service-careers.gov.uk/" class="govuk-link govuk-link--no-visited-state" target="_blank">careers available in the Civil Service (opens in new tab)</a></p>		
				
			


		{% endif %}


		</div>  

</div>
{% endblock %}