{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Civil Service job search" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">	
	<div class="govuk-grid-column-full">


		{% if data['notification'] != "" %}

			{% set html %}
  				<h3 class="govuk-notification-banner__heading">
    				
					
					
					{% if data['notification'] == "accountCreated" %}
						Account created
					{% elif data['notification'] == "signedOut" %}
						Signed out
					{% elif data['notification'] == "closeAccount" %}
						Account closed
					{% elif data['notification'] == "accountUpdated" %}
						Update successful						
					{% elif data['notification'] == "needAccount" %}
						Continue Application						
					{% else %}
						Training outcome recorded and trainee withdrawn
					{% endif %}    	
  				</h3>
  				
				<p class="govuk-body">
					{% if data['notification'] == "accountCreated" %}
						You may now use your account to register for job alerts and apply for jobs.
					{% elif data['notification'] == "signedOut" %}
						You have signed out of your account
					{% elif data['notification'] == "closeAccount" %}
						You have closed your account
					{% elif data['notification'] == "accountUpdated" %}

					{% elif data['notification'] == "needAccount" %}
						Your registration is complete. You may continue with your application by clicking the link below.
						<br><br><a href="#">Click here to continue with your application</a>
					{% else %}					
						Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.
					{% endif %}	
				</p>
			{% endset %}

			{{ govukNotificationBanner({
  				html: html,
  				type: "success"
			}) }}



		{% endif %}

		



		

    	<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
		<p class="govuk-body-l hint ">Find jobs in the Civil Service and central government organisations</p>
    	
		<div class="govuk-grid-row grey">
			<div class="govuk-grid-column-one-third govuk-!-padding-top-5">

				<h2 class="govuk-heading-m govuk-!-margin-bottom-1">What</h2>
				{{ govukInput({
					label: { text: "Enter job title, skill or keywords", classes: "govuk-label",isPageHeading: false },      
					
					id: "pecRefOneNameAlt",
					name: "pecRefOneNameAlt",
					value: data['pecRefOneNameAlt']
				}) }}

			</div>
			<div class="govuk-grid-column-one-third govuk-!-padding-top-5">

				<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Where</h2>
				{{ govukInput({
					label: { text: "Enter a postcode, town or region", classes: "govuk-label",isPageHeading: false },      					
					id: "pecRefOneNameAlt",
					name: "pecRefOneNameAlt",
					value: data['pecRefOneNameAlt']
				}) }}

			</div>
			<div class="govuk-grid-column-one-quarter">

				<form method="post" action="/csjobs/search/results" >

					{{ govukButton({
						text: "Search",
						classes: "override-button"
					  }) }}
				

				</form>
			
			  <p class="govuk-!-text-align-right"><a href="/csjobs/search/results">Advanced search</a></p>

			</div>

		</div>
		

		<p class="govuk-body govuk-!-margin-top-7  "><a href="https://www.civil-service-careers.gov.uk/" target="_blank">Discover careers within the Civil Service</a></p>
		

		


  	</div>  
</div>

{% endblock %}
