{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% if data['pageIteration'] == "current" %}
	{% set pageHeading = "Sign in" %}
{% else %}
	{% set pageHeading = "Sign in to your account" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

{% if data['pageIteration'] == "current" %}

<div class="govuk-grid-row">	
	<div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>

		<p>Sign in or <a href="/csjobs/account/">create an account</a> to get started.</p>

		<form method="post" action="/csjobs/search" >

			<input type="hidden" name="account-status" id="account-status" value="SignedIn" />
			{{ govukInput({
				label: { text: "Email address", classes: "govuk-label--m",isPageHeading: false },      					
				classes: "govuk-!-width-one-half",
				id: "userEmailAddress",
				name: "userEmailAddress",
				value: data['userEmailAddress']
			}) }}

			{{ govukInput({
				label: { text: "Password", classes: "govuk-label--m",isPageHeading: false },      					
				classes: "govuk-!-width-one-half",
				id: "userPassword",
				name: "userPassword",
				value: data['userPassword']
			}) }}		 
		 
			{{ govukButton({
				text: "Sign in"
		  	}) }}

		  	<p><a href="/csjobs/password/">Forgotten your password?</a></p>

		</form>

	</div>  
</div>

{% else %}

	<div class="govuk-grid-row">	
		<div class="govuk-grid-column-two-thirds">

		<!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

			<h1 class="govuk-heading-xl">{{ pageHeading }}</h1>


			{% if data['applyCreateAccount'] == "Yes" %}
				<div class="govuk-inset-text">
					<p>To continue with your application you need to sign in to your account.</p>
				</div>
				<p class="govuk-body">If you do not have one, you need to <a href="/csjobs/account/" class="govuk-link govuk-link--no-visited-state">create an account</a>. </p>
				<p>With an account you can set up job alerts and track progress of your applications.</p>

			{% else %}

			<p class="govuk-body">If you do not have one, you need to <a href="/csjobs/account/" class="govuk-link govuk-link--no-visited-state">create an account</a>. </p>
			<p>With an account you can set up job alerts and track progress of your applications.</p>
				<!-- <p class="govuk-body">Sign in or <a href="/csjobs/account/">create an account</a> to get started.</p> -->

			{% endif %}
			
			{% if data['applyCreateAccount'] == "Yes" %}

			{% elif data['applyHaveAccount'] == "Yes" %}
			
				<form method="post" action="/csjobs/pec/application/guidance?navpage=guidance" >
			

			{% else %}
				<form method="post" action="/csjobs/search" >
			{% endif %}
				
				<input type="hidden" name="account-status" id="account-status" value="SignedIn" />				
				{{ govukInput({
					label: { text: "Email address", classes: "govuk-label", isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",
					type: "email",
					id: "userEmailAddress",
					name: "userEmailAddress",
					value: data['userEmailAddress']
				}) }}

				{{ govukInput({
					label: { text: "Password", classes: "govuk-label", isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",
					type: "password",
					id: "userPassword",
					name: "userPassword",
					value: data['userPassword']					
				}) }}		 
			
				{{ govukButton({
					text: "Sign in"
				}) }}

				<p class="govuk-body"><a href="/csjobs/password/" class="govuk-link govuk-link--no-visited-state">Forgotten your password?</a></p>

			</form>

		</div>  
	</div>

{% endif %}

{% endblock %}
