<div class="x-govuk-masthead x-govuk-masthead--large grey">
    <div class="govuk-width-container">
        
      <div class="govuk-grid-row govuk-!-padding-top-7 ">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Vacancy holders</h2>
            <p>Find out about pre-employment checking, manage applications, authentications and statuses of candidates.</p>
            {{ govukButton({
              text: "Sign in to access vacancy holder services",
              classes: "govuk-button--secondary",
              href: "/field-of-dreams/authentication/?user=vh"
            }) }}
            <!-- <p class="govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="/field-of-dreams/authentication/?user=vh">Sign in to access vacancy holder services </a></p> -->
        </div>
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Candidates</h2>
            <p>Access your Civil Service Jobs account, and find guidance and advice about using Civil Service Jobs.</p>
            {{ govukButton({
              text: "Access candidate services",
              classes: "govuk-button--secondary",
              href: "/field-of-dreams/candidates"
            }) }}
            <!-- <p class="govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="/field-of-dreams/candidates">Access candidate services </a></p> -->
        </div>    
               
    </div>
        
      
    </div>
  </div>
