<div class="x-govuk-masthead x-govuk-masthead--large grey">
    <div class="govuk-width-container">
        
      <div class="govuk-grid-row govuk-!-padding-top-7 ">
        <div class="govuk-grid-column-two-thirds">
          <!-- <p>As a vacancy holder you work on the recruitment process from creating advertisements through to final candidate onboarding.</p> -->
          <p>To assist you in helping people join the Civil Service, this page has links to useful forms, information and guidance about <a href="#">advertising a vacancy</a>, <a href="#">making pre-employment</a> and <a href="#">right to work checks</a>, <a href="#">recruiting candidates</a>, <a href="#">onboarding</a> and more.</p>
      </div>
      <!-- <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">‘How do I…?’</h3>
          {{ govukButton({
            text: "Ask GRS Online",
            classes: "govuk-button--secondary"
          }) }}    
      </div> -->
               
    </div>
        
      
    </div>
  </div>
