<div class="x-govuk-masthead x-govuk-masthead--large grey">
    <div class="govuk-width-container">
        
    	<div class="govuk-grid-row">
        	<div class="govuk-grid-column-full">

          		{% include "includes/query.html" %}              
          		<!-- <p class="govuk-body">To assist you in helping people join the Civil Service, this page has links to useful forms, information and guidance about <a href="#advertising_tag" class="govuk-link govuk-link--no-visited-state">advertising a vacancy</a>, <a href="#preemployment_tag" class="govuk-link govuk-link--no-visited-state">making pre-employment</a> and <a href="#righttowork_tag" class="govuk-link govuk-link--no-visited-state">right to work checks</a>, <a href="#recruiting_tag" class="govuk-link govuk-link--no-visited-state">recruiting candidates</a>, <a href="#onboarding_tag" class="govuk-link govuk-link--no-visited-state">onboarding</a> and more.</p> -->
          
      		</div>                     
    	</div>
        
      
    </div>
</div>