<div class="x-govuk-masthead x-govuk-masthead--large grey">
    <div class="govuk-width-container">
        
      <div class="govuk-grid-row govuk-!-padding-top-7 ">
        <div class="govuk-grid-column-two-thirds">
          <!-- <p class="govuk-body">As a vacancy holder you work on the recruitment process from creating advertisements through to final candidate onboarding.</p> -->
          <!-- <p class="govuk-body">To assist you in helping people join the Civil Service, this page has links to useful forms, information and guidance about <a href="#advertising_tag" class="govuk-link govuk-link--no-visited-state">advertising a vacancy</a>, <a href="#preemployment_tag" class="govuk-link govuk-link--no-visited-state">making pre-employment</a> and <a href="#righttowork_tag" class="govuk-link govuk-link--no-visited-state">right to work checks</a>, <a href="#recruiting_tag" class="govuk-link govuk-link--no-visited-state">recruiting candidates</a>, <a href="#onboarding_tag" class="govuk-link govuk-link--no-visited-state">onboarding</a> and more.</p> -->

          <p>The GRS team receives and responds to a large number of emails. These emails include queries and requests for help about many different subjects and processes associated with GRS. </p>
        <p>This is a varied, complex and time-consuming method of communication, as GRS team members have to receive emails, check information and answer queries within a limited time frame.</p>
        <p>To improve the query process, we have designed a new automated system that gives users the ability to ask questions, get guidance and engage with GRS without having to send emails.</p>
        <p>With direct access to different types of query and a simple, easy to use process, we are sure that users will be able to access information, guidance and to interact with GRS more efficiently and faster than ever before. </p>

      </div>
      <!-- <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">‘How do I…?’</h3>
          {{ govukButton({
            text: "Ask GRS Online",
            classes: "govuk-button--secondary"
          }) }}    
      </div> -->
               
    </div>
        
      
    </div>
  </div>
