<nav class="cabo-side-navigation" aria-label="Side navigation">
    <ul class="cabo-side-navigation__list">
        <li class="cabo-side-navigation__item {% if data['navpage'] == "det" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/details?navpage=det">Your details</a></li>
        <li class="cabo-side-navigation__item {% if data['navpage'] == "rtw" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/right-to-work?navpage=rtw">Right to work</a></li>
        <li class="cabo-side-navigation__item {% if data['navpage'] == "eh" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/employment-history?navpage=eh">Employment history</a></li>
        <!-- <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/transfer-of-staff">Transfer of Staff Form</a></li> -->
        <li class="cabo-side-navigation__item {% if data['navpage'] == "ref" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/references?navpage=ref">Verifying your history</a></li>
        <!-- <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/pension">Pension Questionnaire</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/overseas">Overseas</a></li>-->
        <li class="cabo-side-navigation__item {% if data['navpage'] == "ban" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/bankruptcy-details?navpage=ban">Bankruptcy Details</a></li>
        <li class="cabo-side-navigation__item {% if data['navpage'] == "hlt" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/health-declaration?navpage=hlt">Health Declaration</a></li>
        <!--<li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/self-employment">Self Employment</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/previous-civil-service">Previous Civil Service Employment</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/national-security-vetting">National Security Vetting</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/identity-documents">Upload identity documents</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/dbs-personal-information">DBS - Personal Information</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/dbs-address-details">DBS - Address Details</a></li>
        <li class="cabo-side-navigation__item"><a href="/csjobs/pec/candidate/digital-identity-check">Digital identity check</a></li> -->
        <li class="cabo-side-navigation__item {% if data['navpage'] == "dec" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/candidate/declaration?navpage=dec">Declaration</a></li>
    </ul>
</nav>