<nav class="cabo-side-navigation" aria-label="Side navigation">
    <ul class="cabo-side-navigation__list">
        <li class="cabo-side-navigation__item cabo-side-navigation__item--active" ><a href="/candidate/details" aria-current="location">Your details</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/right-to-work">Right to work</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/employment-history">Employment history</a></li>
        <!-- <li class="cabo-side-navigation__item"><a href="/candidate/transfer-of-staff">Transfer of Staff Form</a></li> -->
        <li class="cabo-side-navigation__item"><a href="/candidate/references">References</a></li>
        <!-- <li class="cabo-side-navigation__item"><a href="/candidate/pension">Pension Questionnaire</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/overseas">Overseas</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/bankruptcy-details">Bankruptcy Details</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/health-declaration">Health Declaration</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/self-employment">Self Employment</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/previous-civil-service">Previous Civil Service Employment</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/national-security-vetting">National Security Vetting</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/identity-documents">Upload identity documents</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/dbs-personal-information">DBS - Personal Information</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/dbs-address-details">DBS - Address Details</a></li>
        <li class="cabo-side-navigation__item"><a href="/candidate/digital-identity-check">Digital identity check</a></li> -->
        <li class="cabo-side-navigation__item"><a href="/candidate/declaration">Declaration</a></li>
    </ul>
</nav>