<nav class="cabo-side-navigation" aria-label="Side navigation">
    <ul class="cabo-side-navigation__list">
        <li class="cabo-side-navigation__item {% if data['navpage'] == "guidance" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/application/guidance?navpage=guidance">Application Guidance</a></li>
        <li class="cabo-side-navigation__item {% if data['navpage'] == "eligibility" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/application/eligibility?navpage=eligibility">Eligibility</a></li>
        <li class="cabo-side-navigation__item {% if data['navpage'] == "personalInfo" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/application/personal-information?navpage=personalInfo">Personal information</a></li>    
        <li class="cabo-side-navigation__item {% if data['navpage'] == "diversity" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/application/diversity?navpage=diversity">Diversity monitoring</a></li>
        <li class="cabo-side-navigation__item {% if data['navpage'] == "dec" %}cabo-side-navigation__item--active {% endif %}"><a href="/csjobs/pec/application/declaration?navpage=dec">Declaration</a></li>
    </ul>
</nav>