{% if data['notification'] %}
{% if data['notification'] != "" %}

    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        {% if data['notification'] == "accountCreated" %}
            Account created
        {% elif data['notification'] == "signedOut" %}
            Signed out
        {% elif data['notification'] == "closeAccount" %}
            Account closed
        {% elif data['notification'] == "accountUpdated" %}
            Update successful
        {% elif data['notification'] == "needAccount" %}
            Continue Application
        {% else %}
            Training outcome recorded and trainee withdrawn
        {% endif %}
      </h3>  				
    <p class="govuk-body">
        {% if data['notification'] == "accountCreated" %}
            You may now use your account to register for job alerts and apply for jobs.
        {% elif data['notification'] == "signedOut" %}
            You have signed out of your account
        {% elif data['notification'] == "closeAccount" %}
            You have closed your account
        {% elif data['notification'] == "accountUpdated" %}

        {% elif data['notification'] == "needAccount" %}
            Your registration is complete. You may continue with your application by clicking the link below.
            <br><br><a href="#">Click here to continue with your application</a>
        {% else %}
            Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.
        {% endif %}
    </p>
    {% endset %}
    {{ govukNotificationBanner({
          html: html,
          type: "success"
    }) }}

{% endif %}
{% endif %}