{% if data['pageIteration'] == "current" %}

    {% if data['notification'] %}
    {% if data['notification'] != "" %}

        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            {% if data['notification'] == "accountCreated" %}
                Account created
            {% elif data['notification'] == "signedOut" %}
                Signed out
            {% elif data['notification'] == "closeAccount" %}
                Account closed
            {% elif data['notification'] == "accountUpdated" %}
                Update successful
            {% elif data['notification'] == "needAccount" %}
                Continue Application
            {% elif data['notification'] == "alertCreated" %}
                Alert Created						
            {% elif data['notification'] == "alertDeleted" %}
                Alert Deleted				
            {% else %}
                Dynamic content status needed
            {% endif %}
        </h3>  				
        <p class="govuk-body">
            {% if data['notification'] == "accountCreated" %}
                You may now use your account to register for job alerts and apply for jobs.
            {% elif data['notification'] == "signedOut" %}
                You have signed out of your account
            {% elif data['notification'] == "closeAccount" %}
                You have closed your account
            {% elif data['notification'] == "accountUpdated" %}

            {% elif data['notification'] == "alertCreated" %}
                    You created a new job alert and will start receiving emails with jobs matching your alert criteria.
                    <br><br>Alert reference: 2653541
                    <br><br><a class="govuk-link" href="#">See alert details</a>
            {% elif data['notification'] == "alertDeleted" %}
                    You’ve deleted your job alert.
                    <br><br>You will stop receiving emails related to this alert
                    <br><br>Alert reference: 2653541	
                    {% elif data['notification'] == "applyRole" %}
                    Your registration is complete. You may continue with your application by clicking the link below.
                    <br><br><a href="/csjobs/pec/application/guidance?navpage=guidance">Click here to continue with your application</a>
                    {% elif data['notification'] == "needAccount" %}
                Your registration is complete. You may continue with your application by clicking the link below.
                <br><br><a href="/csjobs/pec/application/guidance?navpage=guidance">Click here to continue with your application</a>
            {% else %}
                Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.
            {% endif %}
        </p>
        {% endset %}
        {{ govukNotificationBanner({
            html: html,
            type: "success"
        }) }}

    {% endif %}
    {% endif %}

{% else %}

    {% if data['notification'] %}
    {% if data['notification'] != "" %}

        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            {% if data['notification'] == "accountCreated" %}
                Your account has been created
            {% elif data['notification'] == "signedOut" %}
                You have signed out of your account
            {% elif data['notification'] == "closeAccount" %}
                You have closed your account
            {% elif data['notification'] == "accountUpdated" %}
                You have updated your account details.
            {% elif data['notification'] == "needAccount" %}
                Your account has been created
            {% elif data['notification'] == "alertCreated" %}
                You have created a new job alert						
            {% elif data['notification'] == "alertDeleted" %}
                Job alert deleted
            {% elif data['notification'] == "alertUpdated" %}
                You’ve updated your job alert.
            {% elif data['notification'] == "alertPaused" %}
                You have paused your job alerts
            {% elif data['notification'] == "alertRestarted" %}
                You have restarted your job alerts
            {% else %}
                Training outcome recorded and trainee withdrawn
            {% endif %}
        </h3>  				
        <p class="govuk-body">
            {% if data['notification'] == "accountCreated" %}
                Use your account to apply for jobs, see your saved jobs and track the progress of your applications.
            {% elif data['notification'] == "signedOut" %}
                <!-- You have now signed out of your account. -->
            {% elif data['notification'] == "closeAccount" %}
                <!-- You have closed your account -->
            {% elif data['notification'] == "accountUpdated" %}
                <!-- You have updated your account details. -->
            {% elif data['notification'] == "alertCreated" %}
                    You will begin receiving this job alert from your chosen day.
                    <!-- <br><br>Alert reference: 2653541
                    <br><br><a class="govuk-link" href="#">See alert details</a> -->
            {% elif data['notification'] == "alertDeleted" %}
                You will no longer receive an email with jobs matching this alert.
                    <!-- <br><br>You will stop receiving emails related to this alert
                    <br><br>Alert reference: 2653541 -->
            {% elif data['notification'] == "alertUpdated" %}
                    <!-- You’ve updated your job alert. -->
            {% elif data['notification'] == "alertPaused" %}
                Your alerts will stay in your account until you restart them or delete them.
            {% elif data['notification'] == "alertRestarted" %}
                   You will start receiving an email with jobs matching your alerts.
            {% elif data['notification'] == "needAccount" %}
                You can now set up job alerts and track progress of your applications.
                <br><br><a href="/csjobs/pec/application/guidance?navpage=guidance">Continue with your application</a>.
            {% else %}
                Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.
            {% endif %}
        </p>
        {% endset %}
        {{ govukNotificationBanner({
            html: html,
            type: "success"
        }) }}

    {% endif %}
    {% endif %}


{% endif %}