{% extends "layouts/main.html" %}
{% set showBackLink = true %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Help with creating a vacancy" %}
{% set pageSection = "Guidance - Vacancies" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<!-- 
{{ govukBreadcrumbs({
	items: [
	  {
		text: "Home",
		href: "#"
	  },
	  {
		text: "Advertising",
		href: "#"
	  },
      {
		text: "Managing advertisement approvals",
		href: "#"
	  }	  
	]
  }) }} -->

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">



    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<h2 class="govuk-heading-l">Stage 1: Advert Only vacancy request </h2>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>

		<p>An ‘Advert Only’ vacancy should be created by the Vacancy Holder (VH) on a ‘Vacancy Holder’ profile. This will be received through the Dashboard and it will go into the ‘Vacancies awaiting recruitment review’ as normal.</p>
		<p>Note: If you’re not sure whether the vacancy is ‘Advert Only’, you can check the ‘History’ to see if the VH has created it using an ‘Advert Only’ template.</p>
		<p>All communications for Advert Only vacancies will need to go through CRM at present as there is no facility to push back on vX.</p>

		<!-- /////////// Stage 2 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 2: Locating Vacancy on VX</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>
		<p>Enter the vacancy reference number into the ‘Search Vacancies’ box and click the search icon. </p>
		<p>If ‘Search Vacancies’ is not shown, you can change the search by using the small dropdown arrow.</p>


		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>
		<p>You will be taken to the vacancy ‘Summary’ tab.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 3</h2>
            </section>	  
        </article>
		<p>Note: You must be on a ‘Recruiter’ profile to ‘Edit’ an Advert Only vacancy.</p>


		<!-- /////////// Stage 3 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 3: Approval</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>
		<p>Go to the Advert Guidance Hub, where you will see ‘Stage 2: Approval’ on your department's advert guidance, to check what approval to advertise is required.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>
		<p>Select the ‘Vacancy Forms’ tab and see the ‘Approval’ section to check the correct approval has been received.</p>

		<!-- /////////// Stage 4 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 4: Vacancy details form - Recruiter Actions</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>
		<p>Ensure the information regarding the application process is clear for candidates in the advert.</p>
		<p>Make sure the GRS Recruitment email address ‘recruitment.grs@cabinetoffice.gov.uk’ is not included in the advert. If it is, replace this email address with the one provided by the Vacancy Holder for applications to be sent to, or for candidate queries.     </p>
		<p>Note: No standard wording will be required in the advert, unless including this has been agreed with the department. </p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>
		<p>You will need to complete all mandatory fields (*) before you are able to save the vacancy. Once all mandatory fields have been completed then select the 'Submit' button.  </p>
		<p>If you select ‘Submit’ before completing all mandatory fields, the page will refresh and all incomplete mandatory fields will be highlighted in red; you will need to complete any fields highlighted red before continuing.</p>
		<p>Questions displayed to candidates are indicated by the following warning: (Field visible to candidate) *</p>


		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 3</h2>
            </section>	  
        </article>
		<p>You will be taken back to the vacancy ‘Summary’ tab.</p>
		


		<!-- /////////// Stage 5 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 5: Manually activate vacancy</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>
		<p>You will need to manually activate the vacancy before it can be posted to Civil Service Jobs. </p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>
		<p>Select ‘Edit’ on the vacancy ‘Summary’ tab, then tick the ‘Is active’ box.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 3</h2>
            </section>	  
        </article>
		<p>Check that the ‘Preferred Go Live Date’ and the ‘Preferred Vacancy Closing Date’ are correct.</p>
		<p>Note (Future Go Live Date): The ‘preferred Go Live date’ needs to be a past or present day to post a vacancy with a future ‘Go Live’ date. For example, if today’s date is 1 July and you want to complete the ‘external postings tab’ with a go live date of 8 July, the preferred go live date must be today's date or earlier. Amend the dates if required.</p>
		<p>Select ‘Save’.</p>
		


		<!-- /////////// Stage 6 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 6: Posting the vacancy</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>
		<p>Select the ‘External Postings’ tab, then select the ‘Add’ Button.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>
		<p>Within the ‘Destination’ dropdown list select ‘Post to Civil Service Jobs’ and select ‘Next’. </p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 3</h2>
            </section>	  
        </article>
		
		<p>Enter the ‘Live Date’ and ‘Posting Closing Date’.</p>
		<p>Note: The ‘Posting Closing Date’ must be the same as the ‘Preferred Vacancy Closing Date’ that you entered on the ‘Summary’ tab. This will prevent candidates being able to apply after the closing date.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 4</h2>
            </section>	  
        </article>
		<p>Select ‘Next’. You will be taken to the ‘New Posting’ page. </p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 5</h2>
            </section>	  
        </article>
		<p>Select ‘Next’. This will activate your vacancy.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 6</h2>
            </section>	  
        </article>
		<p>Select the ‘Confirm vacancy posted’ button to change the vacancy status; an email will be sent to the Vacancy Holder automatically to advise that the vacancy has been posted.</p>

		<!-- /////////// Stage 7 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 7: Create vacancy on CRM</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>
		<p>Login to CRM.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>
		<p>Select ‘+ Create Vacancy’ from the drop down on the ‘Vacancies’ tab.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 3</h2>
            </section>	  
        </article>
		<p>‘Is this a WCN (V9) Vacancy?’ - Select ‘No’ for VX vacancies so that CRM automatically hides the fields that are no longer required.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 4</h2>
            </section>	  
        </article>
		<p>Input the ‘CSJobs No.’ and complete all of the required fields.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 5</h2>
            </section>	  
        </article>
		<p>Select ‘Save’.</p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 6</h2>
            </section>	  
        </article>
		<p>Save the advert request email to the vacancy.</p>

		<!-- /////////// Stage 8 ////////////////// -->
		<h2 class="govuk-heading-l">Stage 8: Issue email to VH - CRM</h2>
		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 1</h2>
            </section>	  
        </article>

		<p>Check the ‘CRM Action’ section of your department's advert guidance for any special instructions. </p>

		<article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--orange step" aria-label="Section 1">					 
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Step 2</h2>
            </section>	  
        </article>

		<p>Send an ‘Advert Live’ email to the VH. </p>
		<p>Check the email is linked to the vacancy:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>Select the blue  ‘Email’ button from the top right-hand corner; this will open an email to the VH.</li>
			<li>Complete the ‘From’ and ‘Subject’ fields.</li>
			<li>Select ‘Templates’ and input VX into the search field.</li>
			<li>Select ‘VX - To VH - Vacancy Posted (Advert Only)’. </li>
			<li>Check and complete any required information on the template.</li>
			<li>Select ‘Send’.</li>
		</ul>

	
      

      <!-- <ul class="govuk-list govuk-list--bullet">
      
      </ul> -->

      
        
	</div>


	<div class="govuk-grid-column-one-third"> 

		
        
    
    </div>
</div>

{% endblock %}