{% extends "layouts/main.html" %}
{% set showBackLink = false %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Vacancies" %}
{% set pageSection = "Sub status" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<div class="govuk-inset-text">
			<p>Content to follow, to include self-serve, guidance and answers linked to the heading name.</p>
		</div>

	</div>
</div>

{% endblock %}