{% extends "layouts/main.html" %}
{% set showBackLink = false %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Vacancies" %}
{% set pageSection = "Sub status" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}	

		<p class="govuk-body-l">The recruitment process for bringing candidates into the Civil Service begins with a vacancy advertisement. As a vacancy holder, there’s a lot to consider.</p>
		<p>Starting with getting the approval for a vacancy and then its advertisement, through creating an effective and eye-catching advert that will attract candidates, to the final onboarding of successful applicants, you’ll need to manage a lot of details.</p>
		<p>On this page you can access information to help you manage the process and publish effective advertisements that are accurate and useful. There’s guidance about creating, managing and editing advertisements, and to make things smoother you’re able to use self-serve forms to make requests for actions. </p>

		<!-- <p class="govuk-body-l">Recruiting candidates into the Civil Service begins with a vacancy advertisement. The recruitment process proceeds from creating a vacancy advertisement through to onboarding successful applicants. </p>
		<p>On this page you can access information about creating, managing and editing advertisements. You will also find some self-serve forms to make requests for actions, and there is guidance about how to make advertisements accurate, useful and effective.</p>
		 -->
		 

		 <h2 class="govuk-heading-l">Self-serve forms</h2>

		 <div class="govuk-grid-row">
			 
			 <div class="govuk-grid-column-one-half">
				 
				 <article class="moj-ticket-panel" aria-label="Sub navigation 1">
					 <section class="moj-ticket-panel__content moj-ticket-panel__content--purple" aria-label="Section 1">					 			  			
						   <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Manual recruitment request</h3>
						 <p>Use this online form to make a manual recruitment request for a vacancy.</p>
						 <p><a href="/grs-customer-contact/self-serve/manual-recruitment-request/start?query=amendVacacny" class="govuk-link govuk-link--no-visited-state">Go to form</a></p>
					 </section>	  
				   </article>
				 
			 </div>
 
 
		 </div>

		
		 
	

		

	</div>


	<div class="govuk-grid-column-one-third"> 

		<!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Chat with us</h2>        
        <p>Ask us online for guidance and answers.</p>     
		{{ govukButton({
			text: "Ask GRS Online",
			classes: "govuk-button--secondary govuk-!-margin-top-2"
		  }) }}      -->
    

		<h2 class="govuk-heading-l">Guidance</h2>

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Advertising a vacancy</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Creating a vacancy</a></li>
			<li><a class="govuk-link" href="#">Managing advertisements</a></li>
			<li><a class="govuk-link" href="#">Vacancy campaigns</a></li>
		</ul>
		
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Advertisement approvals</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="/grs-customer-contact/triage/advertising/guidance/advertisement-approval">Managing advertisement approvals</a></li>

		</ul>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Amend a vacancy advertisement</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Requesting an amendment to an active advertisement</a></li>
		</ul>
	
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Manual recruitment request</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Making a manual recruitment request for a vacancy</a></li>
		</ul>		
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy approvals</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Getting approval for a vacancy</a></li>
		</ul>				
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy campaign planning</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Plan and start a recruitment campaign </a></li>
		</ul>				
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy supporting documents</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Providing certain documents in support of a vacancy </a></li>
		</ul>						
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy request form</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Asking for permission to create a vacancy </a></li>
		</ul>								

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Withdraw a vacancy advertisement</h3>
		<ul class="govuk-list">
			<li><a class="govuk-link" href="#">Requesting the withdrawal of a vacancy’s advertisement </a></li>
		</ul>										


<!-- 
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Advertising a vacancy</h3>
		<p>Use the options below to get information about creating a vacancy, managing advertisements and to access information about vacancy campaigns.</p>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Advertisement approvals</h3>
		<p>To get advertisement approvals you should follow the procedures set out in your department’s guidance.</p>
		<p><a href="/grs-customer-contact/triage/advertising/guidance/advertisement-approval">read guidance</a></p>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Amend a vacancy advertisement</h3>
		<p>Use this online form to request an amendment to an active advertisement that is live online.</p>
	
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Manual recruitment request</h3>
		<p>Use this online form to make a manual recruitment request for a vacancy.</p>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy approvals</h3>
		<p>To get approval for a vacancy you should follow the procedures set out in your department’s guidance.</p>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy campaign planning</h3>
		<p>Find out more about how to plan and start a recruitment campaign for a vacancy.</p>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy supporting documents</h3>
		<p>You may need to provide certain documents in support of the created vacancy. You can access a list of documents and check the ones you need.</p>
		
		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy request form</h3>
		<p>Use this online form to make a request for a vacancy.</p>

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Withdraw a vacancy advertisement</h3>
		<p>You can fill in an online form to request the withdrawal of a vacancy’s advertisement.</p> -->







	</div>
</div>

{% endblock %}