{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "What type of Criminal Record Check (CRC) is required?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "changeSection" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >

		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/security-level" >
		{% endif %}
            

            {{ govukRadios({
				name: "mrrPreChecksCriminalRecord",   				     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Basic", text: "Basic", checked: checked("mrrPreChecksCriminalRecord", "Basic") },					
					{ value: "Enhanced", text: "Enhanced", checked: checked("mrrPreChecksCriminalRecord", "Enhanced") },
					{ value: "Standard", text: "Standard", checked: checked("mrrPreChecksCriminalRecord", "Standard") },
					{ divider: "or" },
                    { value: "None", text: "None", checked: checked("mrrPreChecksCriminalRecord", "None") }
                    
				]
			}) }}
            
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}        
            
        </form>

        
  
	</div>
</div>


{% endblock %}