{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Are pre-employment checks required?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p>Pre-employment checks are carried out to help the Civil Service make informed decisions about the suitability of individuals for vacancies.</p>
       
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}			
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/reserved-status" >	
		{% endif %}
            
			{{ govukRadios({
				name: "mmrPreChecks",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrPreChecks", "Yes") },					
					{ value: "No~/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers", text: "No", checked: checked("mmrPreChecks", "No") }																			
				]
			}) }}



            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}