{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Which pre-employment checks are required for this vacancy?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	<p class="govuk-body">Select all that apply.</p>

		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/criminal-record" >
				<!-- <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" > -->
<input type="hidden"  id="status" name="status" value="" />
		{% endif %}
            
            {{ govukCheckboxes({
				name: "mmrPreChecksRequired",   				
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Contract", text: "Contract", checked: checked("mmrPreChecksRequired", "Contract") },
					{ value: "Criminal record check", text: "Criminal record check", checked: checked("mmrPreChecksRequired", "Criminal record check") },	
					{ value: "Employment history check", text: "Employment history check", checked: checked("mmrPreChecksRequired", "Employment history check") },
					{ value: "Health check", text: "Health check", checked: checked("mmrPreChecksRequired", "Health check") },
					{ value: "Internal fraud check", text: "Internal fraud check", checked: checked("mmrPreChecksRequired", "Internal fraud check") },
					{ value: "New Entrant Notification (NEN)", text: "New Entrant Notification (NEN)", checked: checked("mmrPreChecksRequired", "New Entrant Notification (NEN)") },
					{ value: "Overseas check", text: "Overseas check", checked: checked("mmrPreChecksRequired", "Overseas check") },
					{ value: "Pensions check", text: "Pensions check", checked: checked("mmrPreChecksRequired", "Pensions check") },
					{ value: "Posting notice", text: "Posting notice", checked: checked("mmrPreChecksRequired", "Posting notice") },
					{ value: "Previous Civil Service check", text: "Previous Civil Service check", checked: checked("mmrPreChecksRequired", "Previous Civil Service check") },
					{ value: "References", text: "References", checked: checked("mmrPreChecksRequired", "References") },
					{ value: "Right to work check", text: "Right to work check", checked: checked("mmrPreChecksRequired", "Right to work check") },										
					{ value: "Self-employment check", text: "Self-employment check", checked: checked("mmrPreChecksRequired", "Self-employment check") }
				]
			}) }}



            {{ govukButton({
      	    	text: "Confirm and continue"			    
    	    }) }}            
            
        </form>

        
  
	</div>
</div>


{% endblock %}