{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Is this a ‘reserved post’?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">Additional restrictions apply in relation to certain sensitive Civil Service posts. These are known as 'reserved posts'. Only UK nationals are eligible for employment in reserved posts.</p>
        
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/required-checks" >
			<!-- <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/criminal-record" > -->
		{% endif %}
            
            {{ govukRadios({
				name: "mrrPreChecksReserved",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mrrPreChecksReserved", "Yes") },					
					{ value: "No", text: "No", checked: checked("mrrPreChecksReserved", "No") }																			
				]
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}