//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// @import "node_modules/@x-govuk/govuk-prototype-components/x-govuk/all";
@import "node_modules/@x-govuk/govuk-prototype-components/x-govuk/components/masthead/masthead";

.moj-ticket-panel {
    display: block;
    margin-right: 0;
    flex-wrap: wrap;
}


.moj-ticket-panel__content {
    display: block;
    position: relative;
    background-color: #f3f2f1;
    padding: 20px;    
    margin-bottom: 15px;
    flex-grow: 1;
    border-left: 6px solid rgba(0,0,0,0);
}


.step {
    padding-top: 14px;
    padding-bottom: 14px;
};


.moj-search {
    font-size: 0
}

.moj-search form {
    align-items: flex-end;
    display: flex
}

.moj-search .govuk-form-group {
    display: inline-block;
    flex: 1;
    margin-bottom: 0;
    vertical-align: top
}

.moj-search__label,.moj-search__hint {
    text-align: left
}

.moj-search__input:focus {
    position: relative;
    z-index: 1
}

.moj-search__button {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    position: relative;
    top: -2px;
    vertical-align: bottom;
    width: auto
}

.moj-search--inline {
    padding: 10px 0 !important
}

@media(min-width: 48.0625em) {
    .moj-search--inline {
        padding:0 !important
    }
}





.moj-ticket-panel__content--blue {
    border-left-color: #1d70b8;
}


.moj-ticket-panel__content--orange {
    border-left-color: #f47738;
}

.moj-ticket-panel__content--turquiose {
    border-left-color: #28a197;
}


.moj-ticket-panel__content--purple {
    border-left-color: #912b88;
}


.moj-ticket-panel__content--brown {
    border-left-color: #b58840;
}


.moj-ticket-panel__content--green {
    border-left-color: #00703c;
}

.moj-ticket-panel__content--pink {
    border-left-color: #d53880;
}

.moj-ticket-panel__content--lightgreen {
    border-left-color: #85994b;
}

.moj-ticket-panel__content--lightblue {
    border-left-color: #5694ca;
}







.autocomplete__wrapper input {
    background: #ffffff;
}

.bottom-border-blue {
    border-bottom: #f3f2f1 6px solid; 
    margin-bottom: 30px;    
}

.grey {
    background-color: #dedede;    
}

.white {
    background-color: #f3f2f1;
    

}

.hmrc-timeline {
    border-left: 5px solid #b1b4b6;
}

.hmrc-timeline__event-title::before {
    background-color: #b1b4b6
}

.js-enabled .govuk-tabs__panel {
    border: 0;
    padding-left: 0;
}

.cabo-side-navigation {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    border-right: 2px solid #dedede;    
}

@media print {
    .cabo-side-navigation {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .cabo-side-navigation {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .cabo-side-navigation {
        font-size: 14pt;
        line-height: 1.2
    }
}

@media(max-width: 40.0525em) {
    .cabo-side-navigation {
        display:flex;
        overflow-x: scroll
    }
}

@media(min-width: 40.0625em) {
    .cabo-side-navigation {
        display:block;
        padding: 20px 0 0
    }
}



@media print {
    .cabo-side-navigation__title {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .cabo-side-navigation__title {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .cabo-side-navigation__title {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media(max-width: 40.0525em) {
    .cabo-side-navigation__title {
        display:none
    }
}

.cabo-side-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0
}

@media(max-width: 40.0525em) {
    .cabo-side-navigation__list {
        display:flex;
        margin: 0;
        white-space: nowrap
    }
}

@media(min-width: 40.0625em) {
    .cabo-side-navigation__list {
        margin-bottom:20px
    }
}

@media(max-width: 40.0525em) {
    .cabo-side-navigation__item {
        display:flex
    }
}

.cabo-side-navigation__item a,.cabo-side-navigation__item a:link,.cabo-side-navigation__item a:visited {
    background-color: inherit;
    color: #1d70b8;
    display: block;
    text-decoration: none
}

@media(max-width: 40.0525em) {
    .cabo-side-navigation__item a,.cabo-side-navigation__item a:link,.cabo-side-navigation__item a:visited {
        border-bottom:4px solid rgba(0,0,0,0);
        padding: 15px;
        padding-bottom: 11px
    }
}

@media(min-width: 40.0625em) {
    .cabo-side-navigation__item a,.cabo-side-navigation__item a:link,.cabo-side-navigation__item a:visited {
        background-color:inherit;
        border-left: 4px solid rgba(0,0,0,0);
        padding: 10px
    }
}

.cabo-side-navigation__item a:hover {
    // background-color: #1d70b8
}

.cabo-side-navigation__item a:focus {
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    border-color: #0b0c0c;
    border-left-color: rgba(0,0,0,0);
    position: relative
}

.cabo-side-navigation__item--active a:link,.cabo-side-navigation__item--active a:visited {
    color: #ffffff;
    font-weight: bold
}

.cabo-side-navigation__item--active a:focus {
    color: #ffffff;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    border-color: #0b0c0c;
    border-left-color: rgba(0,0,0,0)
}

@media(min-width: 40.0625em) {
    .cabo-side-navigation__item--active a:link,.cabo-side-navigation__item--active a:visited {
        background-color:#1d70b8
    }

    .cabo-side-navigation__item--active a:focus {
        color: #0b0c0c;
        background-color: #fd0;
        border-color: rgba(0,0,0,0)
    }
}


// .grey {
//     background-color: #DEE0E2;
// }

.hint {
    color: #505a5f;
}

.override-button {
    margin-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 12px;
}







.hmrc-user-research-banner {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1d70b8;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-family: GDS Transport,arial,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative
}

.hmrc-user-research-banner:after {
    clear: both;
    content: "";
    display: block
}

@media(min-width: 40.0625em) {
    .hmrc-user-research-banner {
        padding-bottom:30px;
        padding-top: 30px
    }
}

@media print {
    .hmrc-user-research-banner {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .hmrc-user-research-banner {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .hmrc-user-research-banner {
        font-size: 14pt;
        line-height: 1.15
    }
}


