{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Is this the correct vacancy?" %}
{% set pageSection = "Amend a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    			
        
		
		
			<p class="govuk-body govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Vacancy</span><br>Senior Content Designer</p>
			<p class="govuk-body govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Vacancy reference number</span><br>{{ data['withdrawVacancyRefNum'] }} 458745963</p>
			<p class="govuk-body govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Vacancy holder</span><br>Ray Kinsella</p>
			<p class="govuk-body govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Department</span><br>HM Revenue & Customs			</p>
			<p class="govuk-body govuk-!-margin-bottom-7"><span class="govuk-!-font-weight-bold">Closing date</span><br>10 December 2024</p>
		


		
		
		<!-- <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Vacancy holder</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">						
			{% include "includes/query/amVac/vacancyHolder.html" %}
		</dl>

		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Vacancy details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">									
			{% include "includes/query/amVac/vacancy.html" %}
			{% include "includes/query/amVac/department.html" %}
			{% include "includes/query/amVac/area.html" %}
			{% include "includes/query/amVac/job_type.html" %}
			{% include "includes/query/amVac/profession.html" %}
			{% include "includes/query/amVac/location.html" %}
			{% include "includes/query/amVac/pattern.html" %}			
		</dl> -->

        <form method="post" action="/grs-customer-contact/self-serve/amend-vacancy/extend-closing-date" >
            
            <input type="hidden" id="vacancyDetailsConfirmed" name="vacancyDetailsConfirmed" value="Yes" />
			
			<div class="govuk-button-group">
            {{ govukButton({
      	    	text: "Confirm and continue"			    
    	    }) }}            	
			
			<a class="govuk-link" href="/grs-customer-contact/self-serve/amend-vacancy/reference-number">This is not the right vacancy advert</a>
			</div>
            
        </form>            
        
  
	</div>
</div>

{% endblock %}