{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "What is the vacancy’s reference number?" %}
{% set pageSection = "Amend a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/grs-customer-contact/self-serve/amend-vacancy/confirm-vacancy" >
				{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/grs-customer-contact/self-serve/amend-vacancy/confirm-vacancy" >
		{% endif %}
            
            {{ govukInput({
				label: { text: "What is the vacancy’s reference number??", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				hint: {
					text: "This is usually 10 digits, for example 2385467294."
				},
				id: "amendVacancyRefNum",
				name: "amendVacancyRefNum",
				value: data['amendVacancyRefNum']
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>
  
	</div>
</div>

{% endblock %}