{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "We need to speak with you" %}
{% set pageSection = "" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		
		<p>You have a query that we feel is time-sensitive.</p>		
		<p>You need to contact us so we can help you quickly. There are a few different ways for you to get in touch with us. </p>
		<p>Our team will be happy to assist you and give you guidance. Use one of the options below. </p>
		
		
		<h2 class="govuk-heading-m">Call us</h2>
		<p>You can call us directly on the CS Job helpline. The query team will be able to help you with your CS Jobs related query and enable you to get on with your work. </p>
		<p>You can call us on 020 7 212 xxxx</p>

		<h2 class="govuk-heading-m">Use Instant Chat</h2>
		<p>Using our new direct AI Instant Chat function means you can chat online with the ChatBot and get answers to your queries quickly and easily.</p>
		<p>Select the option below and the Instant Chat window will open on your screen. Follow the instructions and input your query.</p>

  
	</div>
</div>

{% endblock %}