{% extends "layouts/main.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "You are about to withdaw this vacancy" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	



            {{ govukButton({
      	    	text: "Confirm and withdraw"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}