{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}
{% set showBackLink = false %}%}

{% set pageHeading = "Vacancy reference number not recognised" %}
{% set pageSection = "Withdraw a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    			
            
		<p>The vacancy reference number that you provided has not been recognised.<br>It does not match an existing vacancy. </p>
		<p><a href="/field-of-dreams/self-serve/withdraw-vacancy/reference-number">Check the reference number and try again</a>.
		</p>		

            <!-- {{ govukButton({
      	    	text: "Live chat",    
				classes: "govuk-button--secondary"
    	    }) }} -->

       

		<p></p>
	</div>
</div>

{% endblock %}