{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "What is the reason for withdrawing this advert?" %}
{% set pageSection = "Withdraw a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/withdraw-vacancy/advertisement-details" >
				{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/withdraw-vacancy/confirmation" >
		{% endif %}
            
            <!-- {{ govukTextarea({
				label: { text: "What is the vacancy’s reference number??", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "amendVacancyRefNum",
				name: "amendVacancyRefNum",
				value: data['amendVacancyRefNum']
			}) }} -->


			{% set otherHtml %}
				{{ govukInput({
					id: "withdrawVacancyReasonOther",
					name: "withdrawVacancyReasonOther",
					type: "text",
					autocomplete: "text",
					classes: "govuk-!-width-two-thirds",
					label: {
						text: "What is the reason?",
						classes: "govuk-visually-hidden"
					},
					hint: {
						text: "For example, 'Location has changed' or 'It is now a hybrid job'."
					}
				}) }}
			{% endset -%}


			{{ govukRadios({
				name: "withdrawVacancyReason",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Extend the closing date", text: "Extend the closing date", checked: checked("withdrawVacancyReason", "Extend the closing date") },					
					{ value: "Change the assessment methods", text: "Change the assessment methods", checked: checked("withdrawVacancyReason", "Change the assessment methods") },					
					{ value: "Amend an error in the advert", text: "Amend an error in the advert", checked: checked("withdrawVacancyReason", "Amend an error in the advert") },										
					{ value: "Other", text: "Other", checked: checked("withdrawVacancyReason", "Other"), conditional: { html: otherHtml } }
				]
			}) }}




            {{ govukButton({
      	    	text: "Continue and send request"			    
    	    }) }}

        </form>
  
	</div>
</div>

{% endblock %}