{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Complete request" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


		<p class="govuk-body">You are about to submit the following manual recruitment request:</p>

		<p class="govuk-body"><span class="govuk-!-font-weight-bold">Vacancy: </span>{{ data['mrrVacancy'] }}


		<br><span class="govuk-!-font-weight-bold">Vacancy holder: </span>
		{% if data['mrrVhConfirm'] == "Yes" %}
			Ray Kinsella
		{% else %}
			{{ data['mrrVhName'] }}
		{% endif %}
		<br><span class="govuk-!-font-weight-bold">Department: </span>{{ data['mrrVacancyDepartment'] }}
		<br><span class="govuk-!-font-weight-bold">Candidate: </span>{{ data['mrrCandidate1Name'] }}
	</p>
		
		<p class="govuk-body">When you submit this manual recruitment request, it will be sent to the correct recipient and processed.</p>
		
		<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/confirmation" >
		
			{{ govukButton({
				text: "Submit recruitment request",
				classes: "govuk-!-margin-top-5"
			}) }}		

		</form>

		<!-- <p class="govuk-body"><a href="/grs-customer-contact/vacancy-holder?query=" class="govuk-link govuk-link--no-visited-state">Return to vacancy holders</a></p> -->
  
	</div>
</div>

{% endblock %}