{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Manual recruitment request" %}
{% set pageSection = "Vacancy advertisements" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<!-- <p class="govuk-body">Provide the relevant information about a vacancy to create the request and proceed with recruitment.</p> -->

		<p class="govuk-body">To make a manual recruitment request you need to provide information about the vacancy. Make sure you have all the relevant details ready.</p>



<!-- 
		<p class="govuk-body">To request the withdrawal of a vacancy’s advertisement, you need to provide the vacancy’s reference number. Make sure you have the relevant reference number ready.</p>

		<p class="govuk-body">To request an amendment to a vacancy’s advertisement, you need to provide information about the vacancy. Make sure you have all the relevant details ready, such as the vacancy’s reference number.</p> -->

		<!-- <h2 class="govuk-heading-m">Required information</h2> -->
		<p class="govuk-body">You need to tell us:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>details about the vacancy holder</li>
			<li>details about the vacancy, including the type, location and salary</li>
			<li>the pre-employment checks needed for this vacancy</li>
			<li>details about the candidate</li>
		</ul>
		
		{{ govukButton({
			text: "Start request",
			classes: "govuk-!-margin-top-5",
			isStartButton: true,
			href: "/grs-customer-contact/self-serve/manual-recruitment-request/vacancy-holder-details/"
		}) }}
		

		<h2 class="govuk-heading-m govuk-!-margin-top-5">Before you start</h2>
		<!-- <p>If you want to amend a vacancy’s advertisement you can use the self-serve <a href="/grs-customer-contact/self-serve/amend-vacancy/start?query=amendVacacny" class="govuk-link govuk-link--no-visited-state">amend a vacancy advertisement</a> option.</p> -->
		<p>For anything else you can <a href="/grs-customer-contact/triage/advertising/" class="govuk-link govuk-link--no-visited-state">access information about creating, managing and editing advertisements</a> and there is guidance about how to make advertisements accurate, useful and effective.</p>
		


	</div>
</div>

{% endblock %}