{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}


{% set pageHeading = "Close your account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>
		
    	<p class="govuk-body-l">If you close your account:</p>
		<ul class="govuk-body-l govuk-list govuk-list--bullet">
			<li>your applications will be withdrawn</li>
			<li>you won't be able to access your application history</li>
			<li>you won't receive job alert emails</li>
			<li>you won't be able to re-access your account</li>
		</ul>
		<p class="govuk-body-l">The process for withdrawing your application may take a few days</p>


		<form method="post" action="/csjobs/search?notification=closeAccount&account-status=" >		 
			
			<div class="govuk-button-group">
			{{ govukButton({
				text: "Close account"
			  }) }}			  
			</div> 
		</form>

		<p><a href="#">Cancel closing account</a></p>

  	</div>  
</div>

{% endblock %}
