{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% if data['pageIteration'] == "current" %}
	{% set pageHeading = "Your account details" %}
{% else %}
	{% set pageHeading = "Your account details" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


{% if data['pageIteration'] == "current" %}



<div class="govuk-grid-row">	
	<div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>

		<p>You can change your details on this page, or <a href="#">close your account</a>.</p>
		
			{% if data['notification'] == "needAccount" %}
				<form method="post" action="/csjobs/search?notification=needAccount">
			{% else %}
				<form method="post" action="/csjobs/search?notification=accountCreated">
			{% endif %}

				<input type="hidden" name="account-status" id="account-status" value="SignedIn" />


				{{ govukInput({
					label: { text: "First name", classes: "govuk-label--m",isPageHeading: false },      					
					classes: "govuk-!-width-one-half",
					id: "userFirstName",
					name: "userFirstName",
					value: data['userFirstName']
				}) }}
		
				{{ govukInput({
					label: { text: "Last name", classes: "govuk-label--m",isPageHeading: false },      					
					classes: "govuk-!-width-one-half",
					id: "userLastName",
					name: "userLastName",
					value: data['userLastName']
				}) }}		 
		
				{% call govukFieldset({
					legend: {
					  text: "Email address",
					  classes: "govuk-fieldset__legend--m",
					  isPageHeading: false
					}
				  }) %}
		
				
				{{ govukInput({
					label: { text: "You'll need this email address to sign in to your account", classes: "govuk-label",isPageHeading: false },      					
					classes: "govuk-!-width-one-half",
					id: "userEmailAddress",
					name: "userEmailAddress",
					value: data['userEmailAddress']
				}) }}		 
		
				
				{{ govukInput({
					label: { text: "Confirm your email address", classes: "govuk-label",isPageHeading: false },      					
					classes: "govuk-!-width-one-half",
					id: "userConfirmEmailAddress",
					name: "userConfirmEmailAddress",
					value: data['userConfirmEmailAddress']
				}) }}	
				{% endcall %}
				
				
				
				{{ govukInput({
					label: { text: "Confirm Password", classes: "govuk-label--m",isPageHeading: false },      					
					classes: "govuk-!-width-one-half",
					hint: {
						text: "You must confirm your password to make changes to your account details"
					},
					id: "userConfirmPassword",
					name: "userConfirmPassword",
					value: data['userConfirmPassword']
				}) }}	
		
		
				{{ govukRadios({
					classes: "govuk-radios--inline",
					name: "userCivilServant",
					fieldset: {
					legend: { text: "Are you a civil servant or an employee of a public body?", isPageHeading: false, classes: "govuk-fieldset__legend--m govuk-!-font-weight-bold" } },
					hint: {
						text: "Some public bodies are accredited by the Civil Service Commission allowing their employees to view vacancies advertised to civil servants"
					},
					items: [
						{ value: "Yes", text: "Yes" },
						{ value: "No", text: "No" }			
					]
				  }) }}
		
				  <p><a href="/csjobs/password/">Terms and conditions (opens in new tab)</a></p>
		
				  {{ govukCheckboxes({
					name: "userTermsConditions",        
					fieldset: {
						legend: {
							text: "Agree terms and conditions",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}
					},
					items: [                
						{ value: "I agree to terms and conditions", text: "I agree to terms and conditions", checked: checked("userTermsConditions") }				
		
					]
				}) }}	
		
				
			 
				{{ govukButton({
					text: "Create account"
				  }) }}
		
				</form>	
		


  	</div>  
</div>

{% else %}

	<div class="govuk-grid-row">	
		<div class="govuk-grid-column-two-thirds">    

    			<h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

				<div class="govuk-inset-text">
					<p>You can change your details on this page, or <a href="#">close your account</a>.</p>
				</div>

				{% if data['notification'] == "needAccount" %}
					<form method="post" action="/csjobs/search?notification=needAccount">
				{% else %}
					<form method="post" action="/csjobs/search?notification=accountCreated">
				{% endif %}
				
				<!-- Add this to show user is signed in for main navigation -->
				<input type="hidden" name="account-status" id="account-status" value="SignedIn" />


				{{ govukInput({
					label: { text: "First name", classes: "govuk-label", isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",
					id: "userFirstName",
					name: "userFirstName",
					value: data['userFirstName']
				}) }}
		
				{{ govukInput({
					label: { text: "Last name", classes: "govuk-label", isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",
					id: "userLastName",
					name: "userLastName",
					value: data['userLastName']
				}) }}		 
						
				{{ govukInput({
					label: { text: "Email address", classes: "govuk-label", isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",
					hint: {
						text: "Enter an email address in the correct format, for example name@example.com"
					},
					id: "userEmailAddress",
					name: "userEmailAddress",
					value: data['userEmailAddress']
				}) }}		 
						
				{{ govukInput({
					label: { text: "Confirm your email address", classes: "govuk-label",isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",
					id: "userConfirmEmailAddress",
					name: "userConfirmEmailAddress",
					value: data['userConfirmEmailAddress']
				}) }}	
											
				
				
				
		
				

				<!-- If Civil Servant further questions -->
				{% set civilServantHtml %}

						{{ govukSelect({
							label: { text: "Select your department", classes: "govuk-label", isPageHeading: false },      
							classes: "govuk-!-width-two-thirds",							
							id: "alertJobGrade",
							name: "alertJobGrade",
							value: data['alertJobGrade'],
							items: [
								{ value: "", text: "" },	  	
								{ value: "updated", text: "Choose when to receive " },	
								{ value: "published", text: "Recently published" },    			
								{ value: "views", text: "Most views" },
								{ value: "comments", text: "Most comments" }
							]
						}) }}

						{{ govukRadios({					
							name: "userCivilServant",
							classes: "govuk-radios--inline",
							fieldset: {
							legend: { text: "Are you a priority mover?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
							hint: {
								text: "A priority mover is a civil servant whose job may end due to proposed changes in their department. You must obtain priority mover status approval before selecting 'Yes'."
							},
							items: [
								{ value: "Yes", text: "Yes" },
								{ value: "No", text: "No" }			
							]
						  }) }}

						
						
							{{ govukInput({
								label: { text: "Provide your email address", classes: "govuk-label",isPageHeading: false },      					
								classes: "govuk-!-width-two-thirds",
								hint: {
									text: "Leave this section blank if you cannot access your email."
								},
								id: "userWorkEmail",
								name: "userWorkEmail",
								value: data['userWorkEmail']
							}) }}	
							
							{{ govukInput({
								label: { text: "Confirm your email address", classes: "govuk-label", isPageHeading: false },      					
								classes: "govuk-!-width-two-thirds",							
								id: "userConfirmWorkEmail",
								name: "userConfirmWorkEmail",
								value: data['userConfirmWorkEmail']
							}) }}	
						
							{{ govukInput({
								label: { text: "Provide your line manager’s email address", classes: "govuk-label",isPageHeading: false },      					
								classes: "govuk-!-width-two-thirds",
								hint: {
									text: "You only need to provide this if you cannot access your work email."
								},
								id: "userLineManagerEmail",
								name: "userLineManagerEmail",
								value: data['userLineManagerEmail']
							}) }}	
							
							{{ govukInput({
								label: { text: "Confirm your manager's email address", classes: "govuk-label", isPageHeading: false },      					
								classes: "govuk-!-width-two-thirds",								
								id: "userConfirmLineManagerEmail",
								name: "userConfirmLineManagerEmail",
								value: data['userConfirmLineManagerEmail']
							}) }}	
						


					


		
				{% endset -%}




				{{ govukRadios({					
					name: "userCivilServant",
					fieldset: {
					legend: { text: "Are you a civil servant or an employee of a public body?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
					hint: {
						text: "This affects the jobs that we can show you and the way we consider your application."
					},
					items: [
						{ value: "Yes", text: "Yes", conditional: {html: civilServantHtml}, checked: checked("userCivilServant", "Yes") },
						{ value: "No", text: "No", checked: checked("userCivilServant", "No") }			
					]
				  }) }}

				  <div class="govuk-inset-text">
				  <p>You must confirm your password to make changes to your account details.</p>
				</div>

				  {{ govukInput({
					label: { text: "Confirm password", classes: "govuk-label",isPageHeading: false },      					
					classes: "govuk-!-width-two-thirds",					
					type: "password",
					id: "userPassword",
					name: "userPassword"
					
				}) }}	
						  
		
				  <!-- {{ govukCheckboxes({
					name: "userTermsConditions",        
					fieldset: {
						legend: {
							text: "Agree terms and conditions",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}
					},
					items: [                
						{ value: "I agree to terms and conditions", html: 'I agree to <a href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?pageclass=StandardMessage&display=tandc" target="_blank">terms and conditions (opens in new tab)</a>', checked: checked("userTermsConditions") }				
		
					]
				}) }}	
		 -->
				
			 
				{{ govukButton({
					text: "Save changes"
				  }) }}
		
				</form>	
		


  	</div>  
</div>




{% endif%}

{% endblock %}



