{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}


{% set pageHeading = "Create an account" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>
		
    	
		<form method="post" action="/csjobs/search?notification=accountCreated" >

			<input type="hidden" name="account-status" id="account-status" value="SignedIn" />

			{{ govukInput({
				label: { text: "Email address", classes: "govuk-label--m",isPageHeading: false },      					
				classes: "govuk-!-width-one-half",
				id: "userEmailAddress",
				name: "userEmailAddress",
				value: data['userEmailAddress']
			}) }}

			{{ govukInput({
				label: { text: "Password", classes: "govuk-label--m",isPageHeading: false },      					
				classes: "govuk-!-width-one-half",
				id: "userPassword",
				name: "userPassword",
				value: data['userPassword']
			}) }}		 
		 
			{{ govukButton({
				text: "Sign in"
		  	}) }}

		  	<p><a href="/csjobs/password/">Forgotten your password?</a></p>

		</form>
		

		


  	</div>  
</div>

{% endblock %}
