{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% if data['mrrCandidate3Name'] %}
	{% set pageHeading = "You have added 3 candidates to this vacancy" %}
{% elif data['mrrCandidate2Name'] %}
	{% set pageHeading = "You have added 2 candidates to this vacancy" %}
{% else %}
	{% set pageHeading = "You have added 1 candidate to this vacancy" %}
{% endif %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


		<div class="govuk-form-group govuk-!-margin-bottom-7">
			<dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
				
				{% if data['mrrCandidate3Name'] %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mrrCandidate3Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">							
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
				{% endif %}

				{% if data['mrrCandidate2Name'] %}
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mrrCandidate2Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">							
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
				{% endif %}

				{% if data['mrrCandidate1Name'] %}
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mrrCandidate1Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">							
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
				  {% endif %}


			</dl>		  
		</div>
		
		{% if data['status'] == "change" %}
			<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/check-your-answers"  novalidate action="" >
				{% include "includes/status_null.html" %}
		{% else %}
			<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/final" novalidate action="" >
		{% endif %}

				
		{% if data['mrrCandidate3Name'] %}

		{{ govukRadios({
			name: "mrrAddCandidate4",   
			classes: "govuk-radios--inline",     
			fieldset: {
				legend: {
					text: "Do you need to add another candidate?",
					isPageHeading: false,
					classes: "govuk-label--m"
				}
			},
			items: [                
				{ value: "Yes~/grs-customer-contact/self-serve/manual-recruitment-request/candidates/reference-number", text: "Yes", checked: checked("mrrAddCandidate4", "Yes") },					
				{ value: "No", text: "No", checked: checked("mrrAddCandidate4", "No") }																			
			]
		}) }}


		{% elif data['mrrCandidate2Name'] %}

		{{ govukRadios({
			name: "mrrAddCandidate3",   
			classes: "govuk-radios--inline",     
			fieldset: {
				legend: {
					text: "Do you need to add another candidate?",
					isPageHeading: false,
					classes: "govuk-label--m"
				}
			},
			items: [                
				{ value: "Yes~/grs-customer-contact/self-serve/manual-recruitment-request/candidates/reference-number", text: "Yes", checked: checked("mrrAddCandidate3", "Yes") },					
				{ value: "No", text: "No", checked: checked("mrrAddCandidate3", "No") }																			
			]
		}) }}


		{% elif data['mrrCandidate1Name'] %}
			
			{{ govukRadios({
				name: "mrrAddCandidate",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Do you need to add another candidate?",
						isPageHeading: false,
						classes: "govuk-label--m"
					}
				},
				items: [                
					{ value: "Yes~/grs-customer-contact/self-serve/manual-recruitment-request/candidates/reference-number", text: "Yes", checked: checked("mrrAddCandidate", "Yes") },					
					{ value: "No", text: "No", checked: checked("mrrAddCandidate", "No") }																			
				]
			}) }}
		
		{% endif %}

			{{ govukButton({
				text: "Continue"			    
			}) }}    		
				  					
      		

        </form>        
  
	</div>
</div>


{% endblock %}