{% extends "layouts/candidate.html" %}

{% set serviceName = "Government Recruitment Service" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Candidates" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}





<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        

        

        <!-- <h2 class="govuk-heading-l">Who we are</h2> -->
        
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-two-thirds ">

                <h2 class="govuk-heading-m">Heading</h2>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half ">
                        <h2 class="govuk-heading-m">Query 1</h2>
                        <p>govuk-grid-column-one-quarter</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">Query 2</h2>
                        <p>govuk-grid-column-one-quarter</p>
                    </div>                            
                </div>

                



            </div>
            <div class="govuk-grid-column-one-third">
                {{ xGovukRelatedNavigation({
                    sections: [{
                        items: [
                            { text: "Content about something", href: "#" }, 
                            { text: "Further content about something else", href: "#" }
                        ],
                        subsections: [{
                            title: "Frequent queries",                            
                            items: [
                                { text: "Make a change to my interview", href: "#" }
                            ]
                        }]
                    }]
                }) }}
            </div>


            
        </div>

        
    </div>    
</div>



{% endblock %}