{% extends "layouts/landing.html" %}

{% set serviceName = "Government Recruitment Service" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Government Recruitment Service (GRS)" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">                                
        
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds ">
                <h2 class="govuk-heading-m">What we are working on </h2>
                <p class="govuk-body">Content about what might be releasing, ability to obtain UR, etc etc:</p>     
                <ul class="govuk-list govuk-list--bullet">
                    <li>constructing, altering, repairing, extending, demolishing or dismantling buildings or structures</li>
                    <li>installing heating, lighting, air-conditioning, ventilation, power supply, drainage, sanitation, water supply or fire protection systems in any building or structure</li>
                    <li>internal cleaning of buildings and structures, so far as carried out in the course of their construction, alteration, repair, extension or restoration</li>  
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ xGovukRelatedNavigation({
                    sections: [{
                        items: [
                            { text: "Content about something", href: "#" }, 
                            { text: "Further content about something else", href: "#" }
                        ]                                            
                    }]
                }) }}
            </div>


        </div>

        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Vacancy holders</h2>
                <p>Content relating to vacancy holder, could be authentication or any other relevant information.</p>
                <p class="govuk-link govuk-link--no-visited-state"><a href="/crm/vacancy-holder">Find out how we can help you </a></p>
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Candidates</h2>
                <p>Content relating to candidates, could be authentication or any other relevant non sensitive information.</p>
                <p class="govuk-link govuk-link--no-visited-state"><a href="/crm/candidates">Find out how we can help you </a></p>
            </div>      
        </div>


        <!-- <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-one-third ">
                <h2 class="govuk-heading-m">Query 1</h2>
                <p>govuk-grid-column-one-quarter</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Query 2</h2>
                <p>govuk-grid-column-one-quarter</p>
            </div>        
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Query 3</h2>
                <p>govuk-grid-column-one-quarter</p>
            </div>            
        </div>                     -->

        

    </div>    
</div>



{% endblock %}