{% extends "layouts/vacancy.html" %}

{% set serviceName = "Government Recruitment Service" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Vacancy" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}





<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        

        <!-- <h2 class="govuk-heading-l">Who we are</h2> -->
        
        <div class="govuk-grid-row govuk-!-margin-top-5">
            
            
            <div class="govuk-grid-column-full ">

                
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third ">
                        <h2 class="govuk-heading-m">Pre-employment checks</h2>
                        <ul class="govuk-list">
                            <li>
                              <a class="govuk-link" href="#">Self serve query 1</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">Self serve query 2</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">Self serve query 3</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">More</a>
                            </li>
                          </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Managing applications</h2>
                        <ul class="govuk-list">
                            <li>
                              <a class="govuk-link" href="#">Self serve query 1</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">Self serve query 2</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">Self serve query 3</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">More</a>
                            </li>
                          </ul>
                    </div>                            
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Candidate statuses</h2>
                        <ul class="govuk-list">
                            <li>
                              <a class="govuk-link" href="#">Self serve query 1</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">Self serve query 2</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">Self serve query 3</a>
                            </li>
                            <li>
                              <a class="govuk-link" href="#">More</a>
                            </li>
                          </ul>
                    </div>                            
                </div>

                <div class="govuk-grid-row govuk-!-margin-top-5">
                    <div class="govuk-grid-column-full">                        
                        <h2 class="govuk-heading-m">Guidance and help</h2>                    
                        <p>Access pre-employment checking, manage applications, authentications and statuses of candidates. Access pre-employment checking, manage applications, authentications and statuses of candidates.</p>
                    <div>
                                                      
                </div>

                



            </div>
            <!-- <div class="govuk-grid-column-one-third">
                {{ xGovukRelatedNavigation({
                    sections: [{
                        items: [
                            { text: "Content about something", href: "#" }, 
                            { text: "Further content about something else", href: "#" }
                        ],
                        subsections: [{
                            title: "Frequent queries",                            
                            items: [
                                { text: "Make a change to my interview", href: "#" }
                            ]
                        }]
                    }]
                }) }}
            </div> -->


            </div>
        
    </div>
    
</div>



{% endblock %}