{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Health Declaration" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
      {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

	<h1 class="govuk-heading-l govuk-!-padding-top-4">Health Declaration</h1>

	
	<p>We ask about your health because:</p>
	<ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-9">
		<li>if you have a disability or health condition we need to understand how it could affect your ability to carry out the tasks of the job you’re applying for</li>
		<li>it enables us to consider adjustments we could make to help you take up employment with us and carry out the duties of the job effectively</li>
		<li>we must be confident that your attendance record will be good</li>
	</ul>


	<form method="post" action="" >

		<!-- // Conditional reveals -->

		{% set adjustmentsHtml %}
			{{ govukTextarea({
				id: "canHealthAdjustmentsDetails",
				name: "canHealthAdjustmentsDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Provide details about any adjustments (including adaptations to the workplace) required to assist you at work." }
			}) }}
		{% endset -%}

		{% set pastWorkHtml %}
			{{ govukTextarea({
				id: "canHealthPastWorkDetails",
				name: "canHealthPastWorkDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Provide details of any health, disability or other conditions that affected your ability to work in the past." }
			}) }}
		{% endset -%}

		{% set advertHtml %}
			{{ govukTextarea({
				id: "canHealthAdvertDetails",
				name: "canHealthAdvertDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Give details of any health, disability or other conditions that may affect your ability to undertake the duties outlined in the job advert." }
			}) }}
		{% endset -%}

		{% set medicalHtml %}
			{{ govukTextarea({
				id: "canHealthMedicalDetails",
				name: "canHealthMedicalDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Provide details about treatment or investigations for any medical condition at present that may affect your attendance or may require adjustments at work." }
			}) }}
		{% endset -%}

		{% set abilityHtml %}
			{{ govukTextarea({
				id: "canHealthAbilityDetails",
				name: "canHealthAbilityDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Provide details of the health issues which may have been caused or made worse by work (including an educational setting) and which you think may affect your ability to undertake the new role or place you at any risk in the workplace." }
			}) }}
		{% endset -%}


		{% set absenceHtml %}
			{{ govukTextarea({
				id: "canHealthAbsenceDetails",
				name: "canHealthAbsenceDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Provide details of your health-related absence from work of more than 16 days within the last 2 years." }
			}) }}
		{% endset -%}


		{% set occupationalHtml %}
			{{ govukTextarea({
				id: "canHealthOccupationalDetails",
				name: "canHealthOccupationalDetails",
				type: "text",  
				classes: "govuk-!-width-full",
				label: { text: "Give details of the health issues or disabilities you would like to discuss with our occupational health provider." }
			}) }}
		{% endset -%}

		<!-- //// End of conditional reveals -->
		

		{{ govukRadios({
			name: "canHealthAdjustments",
			fieldset: {
			legend: { text: "Do you need any adjustments (including adaptations to the workplace) to assist you at work?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: adjustmentsHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}


		{{ govukRadios({
			name: "canHealthPastWork",
			fieldset: {
			legend: { text: "Do you have any health issues, a disability or other conditions that have affected your ability to work in the past?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: pastWorkHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}

		{{ govukRadios({
			name: "canHealthAdvert",
			fieldset: {
			legend: { text: "Do you have any health issues, a disability or other conditions that may affect your ability to undertake the duties outlined in the job advert?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: advertHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}

		{{ govukRadios({
			name: "canHealthMedical",
			fieldset: {
			legend: { text: "Are you having, or waiting for, treatment or investigations for any medical condition at present that may affect your attendance or may require adjustments at work?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: medicalHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}

		{{ govukRadios({
			name: "canHealthAbility",
			fieldset: {
			legend: { text: "Have you ever had any health issues which may have been caused or made worse by work (including an educational setting) and which you think may affect your ability to undertake the new role or place you at any risk in the workplace?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: abilityHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}

		{{ govukRadios({
			name: "canHealthAbsence",
			fieldset: {
			legend: { text: "Have you had any health-related absence from work of more than 16 days within the last 2 years?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: absenceHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}

		{{ govukRadios({
			name: "canHealthOccupational",
			fieldset: {
			legend: { text: "Do you have any health issues or disabilities which you would like to discuss with our occupational health provider?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: {html: occupationalHtml} },
				{ value: "No", text: "No" }			
			]
		}) }}

		  <div class="govuk-button-group">			
  
			{{ govukButton({
				  text: "Save and continue"                  
			}) }}
		  </div>

	</form>	
    
    
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

		<h1 class="govuk-heading-l govuk-!-padding-top-4">Health Declaration</h1>


		<p>We ask about your health because:</p>
		<ul class="govuk-list govuk-list--bullet govuk-list--spaced">

			<li>if you have a disability or health condition we need to understand how it could affect your ability to carry out the tasks of the job you’re applying for</li>
			<li>it enables us to consider adjustments we could make to help you take up employment with us and carry out the duties of the job effectively</li>
			<li>we must be confident that your attendance record will be good</li>
		</ul>


		<form method="post" action="/pec/candidate/declaration?navpage=dec" >

			<!-- // Conditional reveals -->

			{% set adjustmentsHtml %}
				{{ govukTextarea({
					id: "canHealthAdjustmentsDetails",
					name: "canHealthAdjustmentsDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Provide details about any adjustments (including adaptations to the workplace) required to assist you at work." },
					value: data['canHealthAdjustmentsDetails']
				}) }}
			{% endset -%}

			{% set pastWorkHtml %}
				{{ govukTextarea({
					id: "canHealthPastWorkDetails",
					name: "canHealthPastWorkDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Provide details of any health, disability or other conditions that affected your ability to work in the past." },
					value: data['canHealthPastWorkDetails']
				}) }}
			{% endset -%}

			{% set advertHtml %}
				{{ govukTextarea({
					id: "canHealthAdvertDetails",
					name: "canHealthAdvertDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Give details of any health, disability or other conditions that may affect your ability to undertake the duties outlined in the job advert." },
					value: data['canHealthAdvertDetails']
				}) }}
			{% endset -%}

			{% set medicalHtml %}
				{{ govukTextarea({
					id: "canHealthMedicalDetails",
					name: "canHealthMedicalDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Provide details about treatment or investigations for any medical condition at present that may affect your attendance or may require adjustments at work." },
					value: data['canHealthMedicalDetails']
				}) }}
			{% endset -%}

			{% set abilityHtml %}
				{{ govukTextarea({
					id: "canHealthAbilityDetails",
					name: "canHealthAbilityDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Provide details of the health issues which may have been caused or made worse by work (including an educational setting) and which you think may affect your ability to undertake the new role or place you at any risk in the workplace." },
					value: data['canHealthAbilityDetails']
				}) }}
			{% endset -%}


			{% set absenceHtml %}
				{{ govukTextarea({
					id: "canHealthAbsenceDetails",
					name: "canHealthAbsenceDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Provide details of your health-related absence from work of more than 16 days within the last 2 years." },
					value: data['canHealthAbsenceDetails']
				}) }}
			{% endset -%}


			{% set occupationalHtml %}
				{{ govukTextarea({
					id: "canHealthOccupationalDetails",
					name: "canHealthOccupationalDetails",
					type: "text",  
					classes: "govuk-!-width-full",
					label: { text: "Give details of the health issues or disabilities you would like to discuss with our occupational health provider." },
					value: data['canHealthOccupationalDetails']
				}) }}
			{% endset -%}

			<!-- //// End of conditional reveals -->
			

			{{ govukRadios({
				name: "canHealthAdjustments",
				fieldset: {
				legend: { text: "Do you need any adjustments (including adaptations to the workplace) to assist you at work?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: adjustmentsHtml}, checked: checked("canHealthAdjustments", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthAdjustments", "No") }			
				]
			}) }}


			{{ govukRadios({
				name: "canHealthPastWork",
				fieldset: {
				legend: { text: "Do you have any health issues, a disability or other conditions that have affected your ability to work in the past?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: pastWorkHtml}, checked: checked("canHealthPastWork", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthPastWork", "No") }			
				]
			}) }}

			{{ govukRadios({
				name: "canHealthAdvert",
				fieldset: {
				legend: { text: "Do you have any health issues, a disability or other conditions that may affect your ability to undertake the duties outlined in the job advert?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: advertHtml}, checked: checked("canHealthAdvert", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthAdvert", "No") }			
				]
			}) }}

			{{ govukRadios({
				name: "canHealthMedical",
				fieldset: {
				legend: { text: "Are you having, or waiting for, treatment or investigations for any medical condition at present that may affect your attendance or may require adjustments at work?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: medicalHtml}, checked: checked("canHealthMedical", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthMedical", "No") }			
				]
			}) }}

			{{ govukRadios({
				name: "canHealthAbility",
				fieldset: {
				legend: { text: "Have you ever had any health issues which may have been caused or made worse by work (including an educational setting) and which you think may affect your ability to undertake the new role or place you at any risk in the workplace?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: abilityHtml}, checked: checked("canHealthAbility", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthAbility", "No") }			
				]
			}) }}

			{{ govukRadios({
				name: "canHealthAbsence",
				fieldset: {
				legend: { text: "Have you had any health-related absence from work of more than 16 days within the last 2 years?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: absenceHtml}, checked: checked("canHealthAbsence", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthAbsence", "No") }			
				]
			}) }}

			{{ govukRadios({
				name: "canHealthOccupational",
				fieldset: {
				legend: { text: "Do you have any health issues or disabilities which you would like to discuss with our occupational health provider?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: {html: occupationalHtml}, checked: checked("canHealthOccupational", "Yes") },
					{ value: "No", text: "No", checked: checked("canHealthOccupational", "No") }			
				]
			}) }}

      		<div class="govuk-button-group">
        		{{ govukButton({
          			text: "Back",
					href: "/pec/candidate/bankruptcy-details?navpage=ban"
        		}) }}
      
        		{{ govukButton({
          			text: "Continue"                  
        		}) }}
      		</div>

    	</form>

    {% endif %}
  
	</div>
</div>

{% endblock %}


