<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Budget approved</dt>
    <dd class="govuk-summary-list__value">
        {% if data['mrrVacancyApproved'] == "NotRequired" %}
            Not required
        {% else %}        
            {{data['mrrVacancyApproved']}}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/vacancy-approved?status=change">Change<span class="govuk-visually-hidden"> the vacancy’s budget approval status</span></a>
    </dd>
</div>

{% if not data['mrrVacancyApproved'] == "NotRequired" %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Documentation provided</dt>
    <dd class="govuk-summary-list__value">{{data['mrrVacancyDocumentation']}}</dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/approval-confirmation?status=change">Change<span class="govuk-visually-hidden"> the vacancy’s budget approval documentation</span></a>
    </dd>
</div>
{% endif %}