{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Application status: Offer accepted" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    
    {% if data['iteration'] == "new" %}

    	<div class="govuk-grid-column-two-thirds"> 
    		<h1 class="govuk-heading-l">Your details</h1>    	
		</div>
      
    	<!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    	<div class="govuk-grid-column-full">    
    		<p class="govuk-body">Application For ATS2219 - Reference Checker</p>
    		<p class="govuk-body-l">Application status: Offer accepted</p>			
			

    		<div class="govuk-button-group">
        		{{ govukButton({
          			text: "Begin pre-employment checks",
					href: "/pec/candidate/details?navpage=det"         			
        		}) }}
      
        		{{ govukButton({
          			text: "Withdraw Application"                  
        		}) }}

        		{{ govukButton({
            		text: "Advert details"                    
          		}) }}
      		</div>
				

        	<p class="govuk-body">We're delighted that you have accepted our job offer.</p>
        	<p class="govuk-body">As part of the onboarding process we require additional information.</p>
    
    {% endif %}
  
	</div>
</div>

{% endblock %}