{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Does this role involve working with children or regulated activity at the applicant's home address?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	<p>Flow and pattern to be confirmed.</p>

        <form method="post" action="/crm/self-serve/manual-recruitment-request/pre-employment-checks/enhanced/volunteer" >
            
            
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}            
            
        </form>

        
  
	</div>
</div>


{% endblock %}