{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Pension Questionnaire" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
        {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

    <h1 class="govuk-heading-l">Your details</h1>
        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    <h1 class="govuk-heading-l govuk-!-padding-top-4">Pension Questionnaire</h1>

		<p class="govuk-body-l">Your answers will allow us to work out which of the Civil Service Pension schemes you can join.</p>		


		{{ govukRadios({
			name: "refRequestUnsuitable",
			fieldset: {
			  legend: { text: "Have you ever been a member of public service pension scheme?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-hint" } },
			  hint: { text: "Answer this question with your latest period of pension scheme membership. Public services employers include the Civil Service, judiciary workers, teachers, members of the armed forces, fire and rescue services, the police, health service workers and local government employees. *By-analogy schemes are almost identical to the main Civil Service arrangements, but may have slightly different terms or rules." },

			items: [
				{ value: "Civil Service Pension arrangements", text: "Civil Service Pension arrangements" },
				{ value: "By-analogy* Civil Service Pension arrangements", text: "By-analogy* Civil Service Pension arrangements" },
				{ value: "Other public service pension - Post 31 March 2007", text: "Other public service pension - Post 31 March 2007" },
				{ value: "No - I have never been a public service pension member", text: "No - I have never been a public service pension member" }
			]
		  }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back"
        }) }}
      
        {{ govukButton({
          text: "Continue"
                  
        }) }}
      </div>


      
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


