{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Reference Request" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
        {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

        <h1 class="govuk-heading-l govuk-!-padding-top-4">References</h1>
        <p class="govuk-body">As part of the recruitment process, you are required to provide 3 referees.</p>        
        <!-- <p class="govuk-body">We may contact these referees to ask them to give us a reference about you.</p>     -->
        <p class="govuk-body">You should ask your referees for their consent before supplying their name and email address to us.</p>
        
        <div class="govuk-inset-text">
            <p class="govuk-body">An employer or academic referee:</p>
            <ul class="govuk-list govuk-list--bullet">          
                <li>must be from within the last 3 years</li>      
                <li>must not be a member of your family or related to you in any way</li>                
            </ul>

            <p class="govuk-body">Any other referee:</p>
            <ul class="govuk-list govuk-list--bullet">          
                <li>must have known you for more than 3 years</li>      
                <li>must not be a member of your family or related to you in any way</li>
                 
                <li>can be someone you’ve previously worked with</li>
            </ul>
        </div>        

        <h2 class="govuk-heading-m">First Referee</h2>                    
        
        {% set academicHtml %}
            {{ govukRadios({
                name: "refThirdRelationship",        
                fieldset: {
                    legend: {
                        text: "What is this referee’s relationship to you?",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend"
                    }
                },
                items: [
                    { value: "Employer", text: "Employer" },          
                    { value: "Academic", text: "Academic" }          
                ]
            }) }}

            {{ govukInput({
                label: { text: "Full name", classes: "govuk-label",isPageHeading: false },      
                classes: "govuk-!-width-two-thirds",
                id: "refThirdFullName",
                name: "refThirdFullName"
            }) }}

            {{ govukInput({
                label: { text: "Email address", classes: "govuk-label",isPageHeading: false },      
                classes: "govuk-!-width-two-thirds",    
                hint: {
                    text: "We’ll only use this to ask for the reference."
                },    
                id: "refThirdEmail",
                name: "refThirdEmail"
            }) }}

            {% if data['showPhone'] == "Yes" %}

                {{ govukInput({
                    label: { text: "Telephone number", classes: "govuk-label",isPageHeading: false },      
                    classes: "govuk-!-width-one-half",
                    hint: {
                        html: "This must be a UK landline or mobile. <br>For example, +44 020 7450 4000 or 07771 900 900"
                    },
                    id: "refThirdPhone",
                    name: "refThirdPhone"
                }) }}

            {% endif %}

        {% endset -%}

        {% set nonAcademicHtml %}

            {% set otherThirdHtml %}
                
                {{ govukInput({
                    id: "refThirdRelationshipOther",
                    name: "refThirdRelationshipOther",
                    type: "email",
                    autocomplete: "email",
                    spellcheck: false,
                    classes: "govuk-!-width-two-thirds",
                    label: {
                        text: "Other relationship to referee",
                        classes: "govuk-visually-hidden"
                    },
                    hint: {
                        text: "For example, doctor, pastor or tutor."
                    }

                }) }}
            
            {% endset -%}

    
            {{ govukRadios({
                name: "refThirdRelationship",        
                fieldset: {
                    legend: {
                        text: "Please provide a referee who is one of the following",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend"
                    }
                },
                items: [
                    { value: "Friend", text: "Friend" },          
                    { value: "Someone you worked with", text: "Someone you worked with" },
                    { value: "Other manager", text: "Other", conditional: { html: otherThirdHtml} } 
                ]
            }) }}

            {{ govukInput({
                label: { text: "Full name", classes: "govuk-label",isPageHeading: false },      
                classes: "govuk-!-width-two-thirds",
                id: "refThirdFullName",
                name: "refThirdFullName"
            }) }}

            {{ govukInput({
                label: { text: "Email address", classes: "govuk-label",isPageHeading: false },      
                classes: "govuk-!-width-two-thirds",
                hint: {
                    text: "We’ll only use this to ask for the reference."
                },
                id: "refThirdEmail",
                name: "refThirdEmail"
            }) }}

            {% if data['showPhone'] == "Yes" %}

                {{ govukInput({
                    label: { text: "Telephone number", classes: "govuk-label",isPageHeading: false },      
                    classes: "govuk-!-width-one-half",
                    hint: {
                        html: "This must be a UK landline or mobile. <br>For example, +44 020 7450 4000 or 07771 900 900"
                    },                    
                    id: "refThirdPhone",
                    name: "refThirdPhone"
                }) }}

            {% endif %}

        {% endset -%}


        {{ govukRadios({
            name: "refTwoRelationship",        
            fieldset: {
                legend: {
                    text: "Can you provide an employer or academic referee from the last 3 years?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend"
                }
            },
            hint: {
                text: "If you were self-employed, unemployed or out of work for another reason for the last 3 years, select No and provide an alternative referee."
            },
            items: [
                { value: "Yes", text: "Yes", conditional: { html: academicHtml }  },
                { value: "No", text: "No", conditional: { html: nonAcademicHtml } }         
            ]
        }) }}


        <!-- Second Referee -->
        <!-- /////////////////////////////////// -->
        
        <h2 class="govuk-heading-m govuk-!-margin-top-7">Second Referee</h2>

        {% set otherTwoHtml %}
            
            {{ govukInput({
                id: "refTwoRelationshipOther",
                name: "refTwoRelationshipOther",
                type: "email",
                autocomplete: "email",
                spellcheck: false,
                classes: "govuk-!-width-two-thirds",
                label: {
                    text: "Other relationship to referee",
                    classes: "govuk-visually-hidden"
                },
                hint: {
                    text: "For example, pastor, tutor or doctor."
                }
            }) }}
        
        {% endset -%}

        {{ govukRadios({
            name: "refTwoRelationship",        
            fieldset: {
                legend: {
                    text: "What is your relationship to this referee?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend"
                }
            },
            items: [
                    
            { value: "Friend", text: "Friend" },
                { value: "Someone you worked with", text: "Someone you worked with" },
                { value: "Other", text: "Other" , conditional: { html: otherTwoHtml } }
            ]
        }) }}

        {{ govukInput({
            label: { text: "Full name", classes: "govuk-label",isPageHeading: false },      
            classes: "govuk-!-width-two-thirds",
            id: "refTwoFullName",
            name: "refTwoFullName"
        }) }}

        {{ govukInput({
            label: { text: "Email address", classes: "govuk-label",isPageHeading: false },      
            classes: "govuk-!-width-two-thirds",        
            id: "refTwoEmail",
            name: "refTwoEmail"
        }) }}

        {% if data['showPhone'] == "Yes" %}

            {{ govukInput({
                label: { text: "Telephone number", classes: "govuk-label",isPageHeading: false },      
                classes: "govuk-!-width-one-half",
                hint: {
                    html: "This must be a UK landline or mobile. <br>For example, +44 020 7450 4000 or 07771 900 900"
                },        
                id: "refTwoPhone",
                name: "refTwoPhone"
            }) }}

        {% endif %}
       

        <!-- /////// THIRD REFEREE //////// -->
        <!-- ///////////////////////////////////////////////// -->

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Third Referee</h2>
        <!-- <div class="govuk-inset-text">
            <p class="govuk-body">To avoid a delay in your application we require a third referee who can be used if we are not able to reach the other two referees.</p>
        </div> -->

        {% set otherHtml %}
            
            {{ govukInput({
                id: "refOneRelationshipOther",
                name: "refOneRelationshipOther",
                type: "email",
                autocomplete: "email",
                spellcheck: false,
                classes: "govuk-!-width-two-thirds",
                label: {
                    text: "Other relationship to referee",
                    classes: "govuk-visually-hidden"
                },
                hint: {
                    text: "For example, pastor, tutor or doctor."
                }
            }) }}

        {% endset -%}

        {{ govukRadios({
            name: "refOneRelationship",        
            fieldset: {
                legend: {
                    text: "What is your relationship to this referee?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend"
                }
            },
            items: [                
                { value: "Friend", text: "Friend" },
                { value: "Someone you worked with", text: "Someone you worked with" },
                { value: "Other", text: "Other", conditional: { html: otherHtml } }
            ]
        }) }}

        {{ govukInput({
            label: { text: "Full name", classes: "govuk-label",isPageHeading: false },      
            classes: "govuk-!-width-two-thirds",
            id: "refOneFullName",
            name: "refOneFullName"
        }) }}

        {{ govukInput({
            label: { text: "Email address", classes: "govuk-label",isPageHeading: false },      
            classes: "govuk-!-width-two-thirds",        
            id: "refOneEmail",
            name: "refOneEmail"
        }) }}

        {% if data['showPhone'] == "Yes" %}

            {{ govukInput({
                label: { text: "Telephone number", classes: "govuk-label",isPageHeading: false },      
                classes: "govuk-!-width-one-half",
                hint: {
                    html: "This must be a UK landline or mobile. <br>For example, +44 020 7450 4000 or 07771 900 900"
                },        
                id: "refOnePhone",
                name: "refOnePhone"
            }) }}

        {% endif %}      

        <div class="govuk-inset-text govuk-!-margin-top-9">
            <h2 class="govuk-heading-m">Before you continue</h2>
            <p class="govuk-body">By providing these referees you are confirming that they are not a member of your family or related to you in any way.</p>
            <p class="govuk-body">We will only contact referees if we need to. We are asking for them in advance to avoid any delays in your pre-employment checks.</p>
            <p class="govuk-body">We will ask them to provide a reference for the name that you have applied under.</p>
        </div>


        <div class="govuk-button-group">
            
            <!-- {{ govukButton({
                text: "Back",
                classes: "govuk-button--secondary"
            }) }}        -->
            {{ govukButton({
                text: "Confirm and continue",
                classes: "govuk-!-margin-top-5"                  
            }) }}
        
        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    <h1 class="govuk-heading-l govuk-!-padding-top-4">References</h1>

    <p class="govuk-body-l">First Referee - Personal</p>
    <p class="govuk-body">A personal referee must not be a member of your family or related to you in any way.</p>
    <p class="govuk-body">Ther personal referee must have known you for more than 3 years.</p>
    <p class="govuk-body">By providing the requested referee details in this form, you give consent to us to contact all of the referees as required.</p>
    <p class="govuk-body">You must provide details of 2 personal referees.</p>

    <form method="post" action="time-known" >
    

      {{ govukInput({
        label: { text: "Relationship to referee", classes: "govuk-label--m",isPageHeading: false },      
        classes: "govuk-!-width-two-thirds",
        id: "refOneRelationship",
        name: "refOneRelationship"
      }) }}

      {{ govukInput({
        label: { text: "Full name", classes: "govuk-label--m",isPageHeading: false },      
        classes: "govuk-!-width-two-thirds",
        id: "refOneFullName",
        name: "refOneFullName"
      }) }}

      {{ govukInput({
        label: { text: "Email address", classes: "govuk-label--m",isPageHeading: false },      
        classes: "govuk-!-width-two-thirds",
        id: "refOneEmail",
        name: "refOneEmail"
      }) }}

      {{ govukInput({
        label: { text: "Phone number", classes: "govuk-label--m",isPageHeading: false },      
        classes: "govuk-!-width-two-thirds",
        id: "refOnePhone",
        name: "refOnePhone"
      }) }}


      <p class="govuk-body-l">Second Referee - Personal</p>
      <p class="govuk-body">A personal referee must not be a member of your family or related to you in any way.</p>
      <p class="govuk-body">Ther personal referee must have known you for more than 3 years.</p>
      <p class="govuk-body">You must provide details of 2 personal referees.</p>
      
        {{ govukInput({
          label: { text: "Relationship to referee", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refTwoRelationship",
          name: "refTwoRelationship"
        }) }}
  
        {{ govukInput({
          label: { text: "Full name", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refTwoFullName",
          name: "refTwoFullName"
        }) }}
  
        {{ govukInput({
          label: { text: "Email address", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refTwoEmail",
          name: "refTwoEmail"
        }) }}
  
        {{ govukInput({
          label: { text: "Phone number", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refTwoPhone",
          name: "refTwoPhone"
        }) }}


        {{ govukRadios({
          name: "refRequestColleagues",
          fieldset: {
              legend: { text: "Are you able to provide an employer or academic reference that covers any gaps in your employment history during the last 3 years?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" }
          },
          items: [
              { value: "Yes", text: "Yes" },
              { value: "No", text: "No" }          
          ]
        }) }}

      
      
      
      
      
      
        <p class="govuk-body-l">Third Referee - Academic / Employer</p>
      
        
  
        {{ govukInput({
          label: { text: "Full name", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdFullName",
          name: "refThirdFullName"
        }) }}
  
        {{ govukInput({
          label: { text: "Email address", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdEmail",
          name: "refThirdEmail"
        }) }}
  
        {{ govukInput({
          label: { text: "Phone number", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdPhone",
          name: "refThirdPhone"
        }) }}


        <p class="govuk-body-l">Third Referee - Personal</p>
      
        {{ govukInput({
          label: { text: "Relationship to referee", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdRelationship",
          name: "refThirdRelationship"
        }) }}
  
        {{ govukInput({
          label: { text: "Full name", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdFullName",
          name: "refThirdFullName"
        }) }}
  
        {{ govukInput({
          label: { text: "Email address", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdEmail",
          name: "refThirdEmail"
        }) }}
  
        {{ govukInput({
          label: { text: "Phone number", classes: "govuk-label--m",isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "refThirdPhone",
          name: "refThirdPhone"
        }) }}

    
  
  


    

      

      
      <p class="govuk-body">Please click submit once you've completed all mandatory fields</p>


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back"
        }) }}
      
        {{ govukButton({
          text: "Continue"
                  
        }) }}
      </div>


      
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


