{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Right to work" %}
{% set pageSection = "Section 2" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">        
		{% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    	{% if data['iteration'] == "new" %}

      	<h1 class="govuk-heading-l">Right to work</h1>      
    </div>
      
    	<!-- ////////////// END OF NEW ////////////////// -->
    	{% else %}

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}	
		<p class="govuk-body-l govuk-!-font-weight-bold">We ask for this information so we can confirm your right to work in the UK.</p>

		<form method="post" action="/csjobs/pec/candidate/employment-history?navpage=eh" >
		{{ govukSelect({
			id: "pecRightWorkNationality",
			name: "pecRightWorkNationality",
			label: {
			  text: "Nationality at birth",
			  classes: "govuk-!-font-weight-bold"
			},
			items: [			  
			  	{ value: "select", text: "Select", selected: checked("sort", "select") },				  			  			  			  
				{ value: "British citizen Briton", text: "British citizen Briton", selected: checked("pecRightWorkNationality", "British citizen Briton") },
				{ value: "British national (overseas)", text: "British national (overseas)", selected: checked("pecRightWorkNationality", "British national (overseas)") },
				{ value: "British Overseas Citizen", text: "British Overseas Citizen", selected: checked("pecRightWorkNationality", "British Overseas Citizen") },			
				{ value: "British overseas territories citizen", text: "British overseas territories citizen", selected: checked("pecRightWorkNationality", "British overseas territories citizen") },
				{ value: "British protected person", text: "British protected person", selected: checked("pecRightWorkNationality", "British protected person") },
				{ value: "British subject", text: "British subject", selected: checked("pecRightWorkNationality", "British subject") },
				{ value: "Afghan", text: "Afghan", selected: checked("pecRightWorkNationality", "Afghan") },
				{ value: "Albanian", text: "Albanian", selected: checked("pecRightWorkNationality", "Albanian") },
				{ value: "Algerian", text: "Algerian", selected: checked("pecRightWorkNationality", "Algerian") },
				{ value: "Andorran", text: "Andorran", selected: checked("pecRightWorkNationality", "Andorran") },
				{ value: "Angolan", text: "Angolan", selected: checked("pecRightWorkNationality", "Angolan") },
				{ value: "Argentine, Argentinian", text: "Argentine, Argentinian", selected: checked("pecRightWorkNationality", "Argentine, Argentinian") },
				{ value: "Armenian", text: "Armenian", selected: checked("pecRightWorkNationality", "Armenian") },
				{ value: "Australian", text: "Australian", selected: checked("pecRightWorkNationality", "Australian") },
				{ value: "Austrian", text: "Austrian", selected: checked("pecRightWorkNationality", "Austrian") },
				{ value: "Azerbaijani", text: "Azerbaijani", selected: checked("pecRightWorkNationality", "Azerbaijani") },
				{ value: "Bahamian", text: "Bahamian", selected: checked("pecRightWorkNationality", "Bahamian") },
				{ value: "Bahraini", text: "Bahraini", selected: checked("pecRightWorkNationality", "Bahraini") },
				{ value: "Bangladeshi", text: "Bangladeshi", selected: checked("pecRightWorkNationality", "Bangladeshi") },
				{ value: "Barbadian", text: "Barbadian", selected: checked("pecRightWorkNationality", "Barbadian") },
				{ value: "Belarusian", text: "Belarusian", selected: checked("pecRightWorkNationality", "Belarusian") },
				{ value: "Belgian", text: "Belgian", selected: checked("pecRightWorkNationality", "Belgian") },
				{ value: "Beninese", text: "Beninese", selected: checked("pecRightWorkNationality", "Beninese") },
				{ value: "Bhutanese", text: "Bhutanese", selected: checked("pecRightWorkNationality", "Bhutanese") },
				{ value: "Bolivian", text: "Bolivian", selected: checked("pecRightWorkNationality", "Bolivian") },
				{ value: "Brazilian", text: "Brazilian", selected: checked("pecRightWorkNationality", "Brazilian") },
				{ value: "Bulgarian", text: "Bulgarian", selected: checked("pecRightWorkNationality", "Bulgarian") },
				{ value: "Burkinabe, Burkinan", text: "Burkinabe, Burkinan", selected: checked("pecRightWorkNationality", "Burkinabe, Burkinan") },
				{ value: "Cambodian", text: "Cambodian", selected: checked("pecRightWorkNationality", "Cambodian") },
				{ value: "Cameroonian", text: "Cameroonian", selected: checked("pecRightWorkNationality", "Cameroonian") },
				{ value: "Canadian", text: "Canadian", selected: checked("pecRightWorkNationality", "Canadian") },
				{ value: "Cape Verdean", text: "Cape Verdean", selected: checked("pecRightWorkNationality", "Cape Verdean") },
				{ value: "Chadian", text: "Chadian", selected: checked("pecRightWorkNationality", "Chadian") },
				{ value: "Chilean", text: "Chilean", selected: checked("pecRightWorkNationality", "Chilean") },
				{ value: "Chinese", text: "Chinese", selected: checked("pecRightWorkNationality", "Chinese") },
				{ value: "Citizen of Antigua and Barbuda", text: "Citizen of Antigua and Barbuda", selected: checked("pecRightWorkNationality", "Citizen of Antigua and Barbuda") },
				{ value: "Citizen of Belize", text: "Citizen of Belize", selected: checked("pecRightWorkNationality", "Citizen of Belize") },
				{ value: "Citizen of Bosnia and Herzegovina", text: "Citizen of Bosnia and Herzegovina", selected: checked("pecRightWorkNationality", "Citizen of Bosnia and Herzegovina") },
				{ value: "Citizen of Botswana", text: "Citizen of Botswana", selected: checked("pecRightWorkNationality", "Citizen of Botswana") },
				{ value: "Citizen of Brunei", text: "Citizen of Brunei", selected: checked("pecRightWorkNationality", "Citizen of Brunei") },
				{ value: "Citizen of Burundi", text: "Citizen of Burundi", selected: checked("pecRightWorkNationality", "Citizen of Burundi") },
				{ value: "Citizen of Fiji", text: "Citizen of Fiji", selected: checked("pecRightWorkNationality", "Citizen of Fiji") },
				{ value: "Citizen of Guinea-Bissau", text: "Citizen of Guinea-Bissau", selected: checked("pecRightWorkNationality", "Citizen of Guinea-Bissau") },
				{ value: "Citizen of Ireland, Irish citizen", text: "Citizen of Ireland, Irish citizen", selected: checked("pecRightWorkNationality", "Citizen of Ireland, Irish citizen") },
				{ value: "Citizen of Kiribati", text: "Citizen of Kiribati", selected: checked("pecRightWorkNationality", "Citizen of Kiribati") },
				{ value: "Citizen of Lesotho", text: "Citizen of Lesotho", selected: checked("pecRightWorkNationality", "Citizen of Lesotho") },
				{ value: "Citizen of Madagascar", text: "Citizen of Madagascar", selected: checked("pecRightWorkNationality", "Citizen of Madagascar") },
				{ value: "Citizen of Malaysia", text: "Citizen of Malaysia", selected: checked("pecRightWorkNationality", "Citizen of Malaysia") },
				{ value: "Citizen of Myanmar", text: "Citizen of Myanmar", selected: checked("pecRightWorkNationality", "Citizen of Myanmar") },
				{ value: "Citizen of Niger", text: "Citizen of Niger", selected: checked("pecRightWorkNationality", "Citizen of Niger") },
				{ value: "Citizen of San Marino", text: "Citizen of San Marino", selected: checked("pecRightWorkNationality", "Citizen of San Marino") },
				{ value: "Citizen of Sao Tome and Principe", text: "Citizen of Sao Tome and Principe", selected: checked("pecRightWorkNationality", "Citizen of Sao Tome and Principe") },
				{ value: "Citizen of Seychelles", text: "Citizen of Seychelles", selected: checked("pecRightWorkNationality", "Citizen of Seychelles") },
				{ value: "Citizen of Sri Lanka", text: "Citizen of Sri Lanka", selected: checked("pecRightWorkNationality", "Citizen of Sri Lanka") },
				{ value: "Citizen of St Christopher (St Kitts) and Nevis", text: "Citizen of St Christopher (St Kitts) and Nevis", selected: checked("pecRightWorkNationality", "Citizen of St Christopher (St Kitts) and Nevis") },
				{ value: "Citizen of the Central African Republic", text: "Citizen of the Central African Republic", selected: checked("pecRightWorkNationality", "Citizen of the Central African Republic") },
				{ value: "Citizen of the Democratic People's Republic of Korea, Citizen of the DPRK", text: "Citizen of the Democratic People's Republic of Korea, Citizen of the DPRK", selected: checked("pecRightWorkNationality", "Citizen of the Democratic People's Republic of Korea, Citizen of the DPRK") },
				{ value: "Citizen of The Democratic Republic of the Congo", text: "Citizen of The Democratic Republic of the Congo", selected: checked("pecRightWorkNationality", "Citizen of The Democratic Republic of the Congo") },
				{ value: "Citizen of the Dominican Republic", text: "Citizen of the Dominican Republic", selected: checked("pecRightWorkNationality", "Citizen of the Dominican Republic") },
				{ value: "Citizen of the Ivory Coast", text: "Citizen of the Ivory Coast", selected: checked("pecRightWorkNationality", "Citizen of the Ivory Coast") },
				{ value: "Citizen of the Republic of the Congo", text: "Citizen of the Republic of the Congo", selected: checked("pecRightWorkNationality", "Citizen of the Republic of the Congo") },
				{ value: "Citizen of the United Arab Emirates", text: "Citizen of the United Arab Emirates", selected: checked("pecRightWorkNationality", "Citizen of the United Arab Emirates") },
				{ value: "Citizen of Vanuatu", text: "Citizen of Vanuatu", selected: checked("pecRightWorkNationality", "Citizen of Vanuatu") },
				{ value: "Colombian", text: "Colombian", selected: checked("pecRightWorkNationality", "Colombian") },
				{ value: "Comoran", text: "Comoran", selected: checked("pecRightWorkNationality", "Comoran") },
				{ value: "Costa Rican", text: "Costa Rican", selected: checked("pecRightWorkNationality", "Costa Rican") },
				{ value: "Croatian", text: "Croatian", selected: checked("pecRightWorkNationality", "Croatian") },
				{ value: "Cuban", text: "Cuban", selected: checked("pecRightWorkNationality", "Cuban") },
				{ value: "Cypriot", text: "Cypriot", selected: checked("pecRightWorkNationality", "Cypriot") },
				{ value: "Czech", text: "Czech", selected: checked("pecRightWorkNationality", "Czech") },
				{ value: "Czechoslovak", text: "Czechoslovak", selected: checked("pecRightWorkNationality", "Czechoslovak") },
				{ value: "Dane", text: "Dane", selected: checked("pecRightWorkNationality", "Dane") },
				{ value: "Djiboutian", text: "Djiboutian", selected: checked("pecRightWorkNationality", "Djiboutian") },
				{ value: "Dominican", text: "Dominican", selected: checked("pecRightWorkNationality", "Dominican") },
				{ value: "Dutch citizen, Dutchman, Dutchwoman", text: "Dutch citizen, Dutchman, Dutchwoman", selected: checked("pecRightWorkNationality", "Dutch citizen, Dutchman, Dutchwoman") },
				{ value: "East German", text: "East German", selected: checked("pecRightWorkNationality", "East German") },
				{ value: "East Timorese", text: "East Timorese", selected: checked("pecRightWorkNationality", "East Timorese") },
				{ value: "Ecuadorean", text: "Ecuadorean", selected: checked("pecRightWorkNationality", "Ecuadorean") },
				{ value: "Egyptian", text: "Egyptian", selected: checked("pecRightWorkNationality", "Egyptian") },
				{ value: "Equatorial Guinean", text: "Equatorial Guinean", selected: checked("pecRightWorkNationality", "Equatorial Guinean") },
				{ value: "Eritrean", text: "Eritrean", selected: checked("pecRightWorkNationality", "Eritrean") },
				{ value: "Estonian", text: "Estonian", selected: checked("pecRightWorkNationality", "Estonian") },
				{ value: "Ethiopian", text: "Ethiopian", selected: checked("pecRightWorkNationality", "Ethiopian") },
				{ value: "Filipino, Filipina", text: "Filipino, Filipina", selected: checked("pecRightWorkNationality", "Filipino, Filipina") },
				{ value: "Finn", text: "Finn", selected: checked("pecRightWorkNationality", "Finn") },
				{ value: "French citizen, Frenchman, Frenchwoman", text: "French citizen, Frenchman, Frenchwoman", selected: checked("pecRightWorkNationality", "French citizen, Frenchman, Frenchwoman") },
				{ value: "Gabonese", text: "Gabonese", selected: checked("pecRightWorkNationality", "Gabonese") },
				{ value: "Gambian", text: "Gambian", selected: checked("pecRightWorkNationality", "Gambian") },
				{ value: "Georgian", text: "Georgian", selected: checked("pecRightWorkNationality", "Georgian") },
				{ value: "German", text: "German", selected: checked("pecRightWorkNationality", "German") },
				{ value: "Ghanaian", text: "Ghanaian", selected: checked("pecRightWorkNationality", "Ghanaian") },
				{ value: "Greek", text: "Greek", selected: checked("pecRightWorkNationality", "Greek") },
				{ value: "Grenadian", text: "Grenadian", selected: checked("pecRightWorkNationality", "Grenadian") },
				{ value: "Guatemalan", text: "Guatemalan", selected: checked("pecRightWorkNationality", "Guatemalan") },
				{ value: "Guinean", text: "Guinean", selected: checked("pecRightWorkNationality", "Guinean") },
				{ value: "Guyanese", text: "Guyanese", selected: checked("pecRightWorkNationality", "Guyanese") },
				{ value: "Haitian", text: "Haitian", selected: checked("pecRightWorkNationality", "Haitian") },
				{ value: "Honduran", text: "Honduran", selected: checked("pecRightWorkNationality", "Honduran") },
				{ value: "Hungarian", text: "Hungarian", selected: checked("pecRightWorkNationality", "Hungarian") },
				{ value: "Icelander", text: "Icelander", selected: checked("pecRightWorkNationality", "Icelander") },
				{ value: "Indian", text: "Indian", selected: checked("pecRightWorkNationality", "Indian") },
				{ value: "Indonesian", text: "Indonesian", selected: checked("pecRightWorkNationality", "Indonesian") },
				{ value: "Iranian", text: "Iranian", selected: checked("pecRightWorkNationality", "Iranian") },
				{ value: "Iraqi", text: "Iraqi", selected: checked("pecRightWorkNationality", "Iraqi") },
				{ value: "Israeli", text: "Israeli", selected: checked("pecRightWorkNationality", "Israeli") },
				{ value: "Italian", text: "Italian", selected: checked("pecRightWorkNationality", "Italian") },
				{ value: "Jamaican", text: "Jamaican", selected: checked("pecRightWorkNationality", "Jamaican") },
				{ value: "Japanese", text: "Japanese", selected: checked("pecRightWorkNationality", "Japanese") },
				{ value: "Jordanian", text: "Jordanian", selected: checked("pecRightWorkNationality", "Jordanian") },
				{ value: "Kazakh", text: "Kazakh", selected: checked("pecRightWorkNationality", "Kazakh") },
				{ value: "Kenyan", text: "Kenyan", selected: checked("pecRightWorkNationality", "Kenyan") },
				{ value: "Kosovan", text: "Kosovan", selected: checked("pecRightWorkNationality", "Kosovan") },
				{ value: "Kuwaiti", text: "Kuwaiti", selected: checked("pecRightWorkNationality", "Kuwaiti") },
				{ value: "Kyrgyz", text: "Kyrgyz", selected: checked("pecRightWorkNationality", "Kyrgyz") },
				{ value: "Lao", text: "Lao", selected: checked("pecRightWorkNationality", "Lao") },
				{ value: "Latvian", text: "Latvian", selected: checked("pecRightWorkNationality", "Latvian") },
				{ value: "Lebanese", text: "Lebanese", selected: checked("pecRightWorkNationality", "Lebanese") },
				{ value: "Liberian", text: "Liberian", selected: checked("pecRightWorkNationality", "Liberian") },
				{ value: "Libyan", text: "Libyan", selected: checked("pecRightWorkNationality", "Libyan") },
				{ value: "Liechtenstein citizen", text: "Liechtenstein citizen", selected: checked("pecRightWorkNationality", "Liechtenstein citizen") },
				{ value: "Lithuanian", text: "Lithuanian", selected: checked("pecRightWorkNationality", "Lithuanian") },
				{ value: "Luxembourger", text: "Luxembourger", selected: checked("pecRightWorkNationality", "Luxembourger") },
				{ value: "Macedonian, Citizen of the Republic of North Macedonia", text: "Macedonian, Citizen of the Republic of North Macedonia", selected: checked("pecRightWorkNationality", "Macedonian, Citizen of the Republic of North Macedonia") },
				{ value: "Malawian", text: "Malawian", selected: checked("pecRightWorkNationality", "Malawian") },
				{ value: "Maldivian", text: "Maldivian", selected: checked("pecRightWorkNationality", "Maldivian") },
				{ value: "Malian", text: "Malian", selected: checked("pecRightWorkNationality", "Malian") },
				{ value: "Maltese", text: "Maltese", selected: checked("pecRightWorkNationality", "Maltese") },
				{ value: "Marshall Islander", text: "Marshall Islander", selected: checked("pecRightWorkNationality", "Marshall Islander") },
				{ value: "Mauritanian", text: "Mauritanian", selected: checked("pecRightWorkNationality", "Mauritanian") },
				{ value: "Mauritian", text: "Mauritian", selected: checked("pecRightWorkNationality", "Mauritian") },
				{ value: "Mexican", text: "Mexican", selected: checked("pecRightWorkNationality", "Mexican") },
				{ value: "Micronesian", text: "Micronesian", selected: checked("pecRightWorkNationality", "Micronesian") },
				{ value: "Moldovan", text: "Moldovan", selected: checked("pecRightWorkNationality", "Moldovan") },
				{ value: "Monegasque", text: "Monegasque", selected: checked("pecRightWorkNationality", "Monegasque") },
				{ value: "Mongolian", text: "Mongolian", selected: checked("pecRightWorkNationality", "Mongolian") },
				{ value: "Montenegrin", text: "Montenegrin", selected: checked("pecRightWorkNationality", "Montenegrin") },
				{ value: "Moroccan", text: "Moroccan", selected: checked("pecRightWorkNationality", "Moroccan") },
				{ value: "Mozambican", text: "Mozambican", selected: checked("pecRightWorkNationality", "Mozambican") },
				{ value: "Namibian", text: "Namibian", selected: checked("pecRightWorkNationality", "Namibian") },
				{ value: "Nauruan", text: "Nauruan", selected: checked("pecRightWorkNationality", "Nauruan") },
				{ value: "Nepalese", text: "Nepalese", selected: checked("pecRightWorkNationality", "Nepalese") },
				{ value: "New Zealander", text: "New Zealander", selected: checked("pecRightWorkNationality", "New Zealander") },
				{ value: "Nicaraguan", text: "Nicaraguan", selected: checked("pecRightWorkNationality", "Nicaraguan") },
				{ value: "Nigerian", text: "Nigerian", selected: checked("pecRightWorkNationality", "Nigerian") },
				{ value: "Norwegian", text: "Norwegian", selected: checked("pecRightWorkNationality", "Norwegian") },
				{ value: "Omani", text: "Omani", selected: checked("pecRightWorkNationality", "Omani") },
				{ value: "Pakistani", text: "Pakistani", selected: checked("pecRightWorkNationality", "Pakistani") },
				{ value: "Palauan", text: "Palauan", selected: checked("pecRightWorkNationality", "Palauan") },
				{ value: "Panamanian", text: "Panamanian", selected: checked("pecRightWorkNationality", "Panamanian") },
				{ value: "Papua New Guinean", text: "Papua New Guinean", selected: checked("pecRightWorkNationality", "Papua New Guinean") },
				{ value: "Paraguayan", text: "Paraguayan", selected: checked("pecRightWorkNationality", "Paraguayan") },
				{ value: "Peruvian", text: "Peruvian", selected: checked("pecRightWorkNationality", "Peruvian") },
				{ value: "Pole", text: "Pole", selected: checked("pecRightWorkNationality", "Pole") },
				{ value: "Portuguese", text: "Portuguese", selected: checked("pecRightWorkNationality", "Portuguese") },
				{ value: "Qatari", text: "Qatari", selected: checked("pecRightWorkNationality", "Qatari") },
				{ value: "Romanian", text: "Romanian", selected: checked("pecRightWorkNationality", "Romanian") },
				{ value: "Russian", text: "Russian", selected: checked("pecRightWorkNationality", "Russian") },
				{ value: "Rwandan", text: "Rwandan", selected: checked("pecRightWorkNationality", "Rwandan") },
				{ value: "Salvadorean", text: "Salvadorean", selected: checked("pecRightWorkNationality", "Salvadorean") },
				{ value: "Samoan", text: "Samoan", selected: checked("pecRightWorkNationality", "Samoan") },
				{ value: "Saudi Arabian", text: "Saudi Arabian", selected: checked("pecRightWorkNationality", "Saudi Arabian") },
				{ value: "Senegalese", text: "Senegalese", selected: checked("pecRightWorkNationality", "Senegalese") },
				{ value: "Serbian", text: "Serbian", selected: checked("pecRightWorkNationality", "Serbian") },
				{ value: "Sierra Leonean", text: "Sierra Leonean", selected: checked("pecRightWorkNationality", "Sierra Leonean") },
				{ value: "Singaporean", text: "Singaporean", selected: checked("pecRightWorkNationality", "Singaporean") },
				{ value: "Slovak", text: "Slovak", selected: checked("pecRightWorkNationality", "Slovak") },
				{ value: "Slovene", text: "Slovene", selected: checked("pecRightWorkNationality", "Slovene") },
				{ value: "Solomon Islander", text: "Solomon Islander", selected: checked("pecRightWorkNationality", "Solomon Islander") },
				{ value: "Somali", text: "Somali", selected: checked("pecRightWorkNationality", "Somali") },
				{ value: "South African", text: "South African", selected: checked("pecRightWorkNationality", "South African") },
				{ value: "South Korean", text: "South Korean", selected: checked("pecRightWorkNationality", "South Korean") },
				{ value: "South Sudanese", text: "South Sudanese", selected: checked("pecRightWorkNationality", "South Sudanese") },
				{ value: "Soviet citizen", text: "Soviet citizen", selected: checked("pecRightWorkNationality", "Soviet citizen") },
				{ value: "Spaniard, Spanish citizen", text: "Spaniard, Spanish citizen", selected: checked("pecRightWorkNationality", "Spaniard, Spanish citizen") },
				{ value: "St Lucian", text: "St Lucian", selected: checked("pecRightWorkNationality", "St Lucian") },
				{ value: "Sudanese", text: "Sudanese", selected: checked("pecRightWorkNationality", "Sudanese") },
				{ value: "Surinamer", text: "Surinamer", selected: checked("pecRightWorkNationality", "Surinamer") },
				{ value: "Swazi", text: "Swazi", selected: checked("pecRightWorkNationality", "Swazi") },
				{ value: "Swede", text: "Swede", selected: checked("pecRightWorkNationality", "Swede") },
				{ value: "Swiss", text: "Swiss", selected: checked("pecRightWorkNationality", "Swiss") },
				{ value: "Syrian", text: "Syrian", selected: checked("pecRightWorkNationality", "Syrian") },
				{ value: "Tajik", text: "Tajik", selected: checked("pecRightWorkNationality", "Tajik") },
				{ value: "Tanzanian", text: "Tanzanian", selected: checked("pecRightWorkNationality", "Tanzanian") },
				{ value: "Thai", text: "Thai", selected: checked("pecRightWorkNationality", "Thai") },
				{ value: "Togolese", text: "Togolese", selected: checked("pecRightWorkNationality", "Togolese") },
				{ value: "Tongan", text: "Tongan", selected: checked("pecRightWorkNationality", "Tongan") },
				{ value: "Trinidad and Tobago citizen", text: "Trinidad and Tobago citizen", selected: checked("pecRightWorkNationality", "Trinidad and Tobago citizen") },
				{ value: "Tunisian", text: "Tunisian", selected: checked("pecRightWorkNationality", "Tunisian") },
				{ value: "Turk", text: "Turk", selected: checked("pecRightWorkNationality", "Turk") },
				{ value: "Turkmen", text: "Turkmen", selected: checked("pecRightWorkNationality", "Turkmen") },
				{ value: "Tuvaluan", text: "Tuvaluan", selected: checked("pecRightWorkNationality", "Tuvaluan") },
				{ value: "Ugandan", text: "Ugandan", selected: checked("pecRightWorkNationality", "Ugandan") },
				{ value: "Ukrainian", text: "Ukrainian", selected: checked("pecRightWorkNationality", "Ukrainian") },
				{ value: "United States citizen", text: "United States citizen", selected: checked("pecRightWorkNationality", "United States citizen") },
				{ value: "Uruguayan", text: "Uruguayan", selected: checked("pecRightWorkNationality", "Uruguayan") },
				{ value: "Uzbek", text: "Uzbek", selected: checked("pecRightWorkNationality", "Uzbek") },
				{ value: "Vatican citizen", text: "Vatican citizen", selected: checked("pecRightWorkNationality", "Vatican citizen") },
				{ value: "Venezuelan", text: "Venezuelan", selected: checked("pecRightWorkNationality", "Venezuelan") },
				{ value: "Vietnamese", text: "Vietnamese", selected: checked("pecRightWorkNationality", "Vietnamese") },
				{ value: "Vincentian", text: "Vincentian", selected: checked("pecRightWorkNationality", "Vincentian") },
				{ value: "Yemeni", text: "Yemeni", selected: checked("pecRightWorkNationality", "Yemeni") },
				{ value: "Yugoslavian", text: "Yugoslavian", selected: checked("pecRightWorkNationality", "Yugoslavian") },
				{ value: "Zambian", text: "Zambian", selected: checked("pecRightWorkNationality", "Zambian") },
				{ value: "Zimbabwean", text: "Zimbabwean", selected: checked("pecRightWorkNationality", "Zimbabwean") },
				{ value: "Other", text: "Other", selected: checked("pecRightWorkNationality", "Other") }

			]
		  }) }}




		

		{{ govukSelect({
			id: "pecRightWorkNationalityPresent",
			name: "pecRightWorkNationalityPresent",
			label: {
				text: "Present nationality",
				classes: "govuk-!-font-weight-bold"
			},
			hint: {
				text: "As shown on your passport or travel document"
			}
			,
			items: [			  
				{ value: "select", text: "Select", selected: checked("sort", "select") },				  			  			  			  
				{ value: "British citizen Briton", text: "British citizen Briton", selected: checked("pecRightWorkNationalityPresent", "British citizen Briton") },
				{ value: "British national (overseas)", text: "British national (overseas)", selected: checked("pecRightWorkNationalityPresent", "British national (overseas)") },
				{ value: "British Overseas Citizen", text: "British Overseas Citizen", selected: checked("pecRightWorkNationalityPresent", "British Overseas Citizen") },			
				{ value: "British overseas territories citizen", text: "British overseas territories citizen", selected: checked("pecRightWorkNationalityPresent", "British overseas territories citizen") },
				{ value: "British protected person", text: "British protected person", selected: checked("pecRightWorkNationalityPresent", "British protected person") },
				{ value: "British subject", text: "British subject", selected: checked("pecRightWorkNationalityPresent", "British subject") },
				{ value: "Afghan", text: "Afghan", selected: checked("pecRightWorkNationalityPresent", "Afghan") },
				{ value: "Albanian", text: "Albanian", selected: checked("pecRightWorkNationalityPresent", "Albanian") },
				{ value: "Algerian", text: "Algerian", selected: checked("pecRightWorkNationalityPresent", "Algerian") },
				{ value: "Andorran", text: "Andorran", selected: checked("pecRightWorkNationalityPresent", "Andorran") },
				{ value: "Angolan", text: "Angolan", selected: checked("pecRightWorkNationalityPresent", "Angolan") },
				{ value: "Argentine, Argentinian", text: "Argentine, Argentinian", selected: checked("pecRightWorkNationalityPresent", "Argentine, Argentinian") },
				{ value: "Armenian", text: "Armenian", selected: checked("pecRightWorkNationalityPresent", "Armenian") },
				{ value: "Australian", text: "Australian", selected: checked("pecRightWorkNationalityPresent", "Australian") },
				{ value: "Austrian", text: "Austrian", selected: checked("pecRightWorkNationalityPresent", "Austrian") },
				{ value: "Azerbaijani", text: "Azerbaijani", selected: checked("pecRightWorkNationalityPresent", "Azerbaijani") },
				{ value: "Bahamian", text: "Bahamian", selected: checked("pecRightWorkNationalityPresent", "Bahamian") },
				{ value: "Bahraini", text: "Bahraini", selected: checked("pecRightWorkNationalityPresent", "Bahraini") },
				{ value: "Bangladeshi", text: "Bangladeshi", selected: checked("pecRightWorkNationalityPresent", "Bangladeshi") },
				{ value: "Barbadian", text: "Barbadian", selected: checked("pecRightWorkNationalityPresent", "Barbadian") },
				{ value: "Belarusian", text: "Belarusian", selected: checked("pecRightWorkNationalityPresent", "Belarusian") },
				{ value: "Belgian", text: "Belgian", selected: checked("pecRightWorkNationalityPresent", "Belgian") },
				{ value: "Beninese", text: "Beninese", selected: checked("pecRightWorkNationalityPresent", "Beninese") },
				{ value: "Bhutanese", text: "Bhutanese", selected: checked("pecRightWorkNationalityPresent", "Bhutanese") },
				{ value: "Bolivian", text: "Bolivian", selected: checked("pecRightWorkNationalityPresent", "Bolivian") },
				{ value: "Brazilian", text: "Brazilian", selected: checked("pecRightWorkNationalityPresent", "Brazilian") },
				{ value: "Bulgarian", text: "Bulgarian", selected: checked("pecRightWorkNationalityPresent", "Bulgarian") },
				{ value: "Burkinabe, Burkinan", text: "Burkinabe, Burkinan", selected: checked("pecRightWorkNationalityPresent", "Burkinabe, Burkinan") },
				{ value: "Cambodian", text: "Cambodian", selected: checked("pecRightWorkNationalityPresent", "Cambodian") },
				{ value: "Cameroonian", text: "Cameroonian", selected: checked("pecRightWorkNationalityPresent", "Cameroonian") },
				{ value: "Canadian", text: "Canadian", selected: checked("pecRightWorkNationalityPresent", "Canadian") },
				{ value: "Cape Verdean", text: "Cape Verdean", selected: checked("pecRightWorkNationalityPresent", "Cape Verdean") },
				{ value: "Chadian", text: "Chadian", selected: checked("pecRightWorkNationalityPresent", "Chadian") },
				{ value: "Chilean", text: "Chilean", selected: checked("pecRightWorkNationalityPresent", "Chilean") },
				{ value: "Chinese", text: "Chinese", selected: checked("pecRightWorkNationalityPresent", "Chinese") },
				{ value: "Citizen of Antigua and Barbuda", text: "Citizen of Antigua and Barbuda", selected: checked("pecRightWorkNationalityPresent", "Citizen of Antigua and Barbuda") },
				{ value: "Citizen of Belize", text: "Citizen of Belize", selected: checked("pecRightWorkNationalityPresent", "Citizen of Belize") },
				{ value: "Citizen of Bosnia and Herzegovina", text: "Citizen of Bosnia and Herzegovina", selected: checked("pecRightWorkNationalityPresent", "Citizen of Bosnia and Herzegovina") },
				{ value: "Citizen of Botswana", text: "Citizen of Botswana", selected: checked("pecRightWorkNationalityPresent", "Citizen of Botswana") },
				{ value: "Citizen of Brunei", text: "Citizen of Brunei", selected: checked("pecRightWorkNationalityPresent", "Citizen of Brunei") },
				{ value: "Citizen of Burundi", text: "Citizen of Burundi", selected: checked("pecRightWorkNationalityPresent", "Citizen of Burundi") },
				{ value: "Citizen of Fiji", text: "Citizen of Fiji", selected: checked("pecRightWorkNationalityPresent", "Citizen of Fiji") },
				{ value: "Citizen of Guinea-Bissau", text: "Citizen of Guinea-Bissau", selected: checked("pecRightWorkNationalityPresent", "Citizen of Guinea-Bissau") },
				{ value: "Citizen of Ireland, Irish citizen", text: "Citizen of Ireland, Irish citizen", selected: checked("pecRightWorkNationalityPresent", "Citizen of Ireland, Irish citizen") },
				{ value: "Citizen of Kiribati", text: "Citizen of Kiribati", selected: checked("pecRightWorkNationalityPresent", "Citizen of Kiribati") },
				{ value: "Citizen of Lesotho", text: "Citizen of Lesotho", selected: checked("pecRightWorkNationalityPresent", "Citizen of Lesotho") },
				{ value: "Citizen of Madagascar", text: "Citizen of Madagascar", selected: checked("pecRightWorkNationalityPresent", "Citizen of Madagascar") },
				{ value: "Citizen of Malaysia", text: "Citizen of Malaysia", selected: checked("pecRightWorkNationalityPresent", "Citizen of Malaysia") },
				{ value: "Citizen of Myanmar", text: "Citizen of Myanmar", selected: checked("pecRightWorkNationalityPresent", "Citizen of Myanmar") },
				{ value: "Citizen of Niger", text: "Citizen of Niger", selected: checked("pecRightWorkNationalityPresent", "Citizen of Niger") },
				{ value: "Citizen of San Marino", text: "Citizen of San Marino", selected: checked("pecRightWorkNationalityPresent", "Citizen of San Marino") },
				{ value: "Citizen of Sao Tome and Principe", text: "Citizen of Sao Tome and Principe", selected: checked("pecRightWorkNationalityPresent", "Citizen of Sao Tome and Principe") },
				{ value: "Citizen of Seychelles", text: "Citizen of Seychelles", selected: checked("pecRightWorkNationalityPresent", "Citizen of Seychelles") },
				{ value: "Citizen of Sri Lanka", text: "Citizen of Sri Lanka", selected: checked("pecRightWorkNationalityPresent", "Citizen of Sri Lanka") },
				{ value: "Citizen of St Christopher (St Kitts) and Nevis", text: "Citizen of St Christopher (St Kitts) and Nevis", selected: checked("pecRightWorkNationalityPresent", "Citizen of St Christopher (St Kitts) and Nevis") },
				{ value: "Citizen of the Central African Republic", text: "Citizen of the Central African Republic", selected: checked("pecRightWorkNationalityPresent", "Citizen of the Central African Republic") },
				{ value: "Citizen of the Democratic People's Republic of Korea, Citizen of the DPRK", text: "Citizen of the Democratic People's Republic of Korea, Citizen of the DPRK", selected: checked("pecRightWorkNationalityPresent", "Citizen of the Democratic People's Republic of Korea, Citizen of the DPRK") },
				{ value: "Citizen of The Democratic Republic of the Congo", text: "Citizen of The Democratic Republic of the Congo", selected: checked("pecRightWorkNationalityPresent", "Citizen of The Democratic Republic of the Congo") },
				{ value: "Citizen of the Dominican Republic", text: "Citizen of the Dominican Republic", selected: checked("pecRightWorkNationalityPresent", "Citizen of the Dominican Republic") },
				{ value: "Citizen of the Ivory Coast", text: "Citizen of the Ivory Coast", selected: checked("pecRightWorkNationalityPresent", "Citizen of the Ivory Coast") },
				{ value: "Citizen of the Republic of the Congo", text: "Citizen of the Republic of the Congo", selected: checked("pecRightWorkNationalityPresent", "Citizen of the Republic of the Congo") },
				{ value: "Citizen of the United Arab Emirates", text: "Citizen of the United Arab Emirates", selected: checked("pecRightWorkNationalityPresent", "Citizen of the United Arab Emirates") },
				{ value: "Citizen of Vanuatu", text: "Citizen of Vanuatu", selected: checked("pecRightWorkNationalityPresent", "Citizen of Vanuatu") },
				{ value: "Colombian", text: "Colombian", selected: checked("pecRightWorkNationalityPresent", "Colombian") },
				{ value: "Comoran", text: "Comoran", selected: checked("pecRightWorkNationalityPresent", "Comoran") },
				{ value: "Costa Rican", text: "Costa Rican", selected: checked("pecRightWorkNationalityPresent", "Costa Rican") },
				{ value: "Croatian", text: "Croatian", selected: checked("pecRightWorkNationalityPresent", "Croatian") },
				{ value: "Cuban", text: "Cuban", selected: checked("pecRightWorkNationalityPresent", "Cuban") },
				{ value: "Cypriot", text: "Cypriot", selected: checked("pecRightWorkNationalityPresent", "Cypriot") },
				{ value: "Czech", text: "Czech", selected: checked("pecRightWorkNationalityPresent", "Czech") },
				{ value: "Czechoslovak", text: "Czechoslovak", selected: checked("pecRightWorkNationalityPresent", "Czechoslovak") },
				{ value: "Dane", text: "Dane", selected: checked("pecRightWorkNationalityPresent", "Dane") },
				{ value: "Djiboutian", text: "Djiboutian", selected: checked("pecRightWorkNationalityPresent", "Djiboutian") },
				{ value: "Dominican", text: "Dominican", selected: checked("pecRightWorkNationalityPresent", "Dominican") },
				{ value: "Dutch citizen, Dutchman, Dutchwoman", text: "Dutch citizen, Dutchman, Dutchwoman", selected: checked("pecRightWorkNationalityPresent", "Dutch citizen, Dutchman, Dutchwoman") },
				{ value: "East German", text: "East German", selected: checked("pecRightWorkNationalityPresent", "East German") },
				{ value: "East Timorese", text: "East Timorese", selected: checked("pecRightWorkNationalityPresent", "East Timorese") },
				{ value: "Ecuadorean", text: "Ecuadorean", selected: checked("pecRightWorkNationalityPresent", "Ecuadorean") },
				{ value: "Egyptian", text: "Egyptian", selected: checked("pecRightWorkNationalityPresent", "Egyptian") },
				{ value: "Equatorial Guinean", text: "Equatorial Guinean", selected: checked("pecRightWorkNationalityPresent", "Equatorial Guinean") },
				{ value: "Eritrean", text: "Eritrean", selected: checked("pecRightWorkNationalityPresent", "Eritrean") },
				{ value: "Estonian", text: "Estonian", selected: checked("pecRightWorkNationalityPresent", "Estonian") },
				{ value: "Ethiopian", text: "Ethiopian", selected: checked("pecRightWorkNationalityPresent", "Ethiopian") },
				{ value: "Filipino, Filipina", text: "Filipino, Filipina", selected: checked("pecRightWorkNationalityPresent", "Filipino, Filipina") },
				{ value: "Finn", text: "Finn", selected: checked("pecRightWorkNationalityPresent", "Finn") },
				{ value: "French citizen, Frenchman, Frenchwoman", text: "French citizen, Frenchman, Frenchwoman", selected: checked("pecRightWorkNationalityPresent", "French citizen, Frenchman, Frenchwoman") },
				{ value: "Gabonese", text: "Gabonese", selected: checked("pecRightWorkNationalityPresent", "Gabonese") },
				{ value: "Gambian", text: "Gambian", selected: checked("pecRightWorkNationalityPresent", "Gambian") },
				{ value: "Georgian", text: "Georgian", selected: checked("pecRightWorkNationalityPresent", "Georgian") },
				{ value: "German", text: "German", selected: checked("pecRightWorkNationalityPresent", "German") },
				{ value: "Ghanaian", text: "Ghanaian", selected: checked("pecRightWorkNationalityPresent", "Ghanaian") },
				{ value: "Greek", text: "Greek", selected: checked("pecRightWorkNationalityPresent", "Greek") },
				{ value: "Grenadian", text: "Grenadian", selected: checked("pecRightWorkNationalityPresent", "Grenadian") },
				{ value: "Guatemalan", text: "Guatemalan", selected: checked("pecRightWorkNationalityPresent", "Guatemalan") },
				{ value: "Guinean", text: "Guinean", selected: checked("pecRightWorkNationalityPresent", "Guinean") },
				{ value: "Guyanese", text: "Guyanese", selected: checked("pecRightWorkNationalityPresent", "Guyanese") },
				{ value: "Haitian", text: "Haitian", selected: checked("pecRightWorkNationalityPresent", "Haitian") },
				{ value: "Honduran", text: "Honduran", selected: checked("pecRightWorkNationalityPresent", "Honduran") },
				{ value: "Hungarian", text: "Hungarian", selected: checked("pecRightWorkNationalityPresent", "Hungarian") },
				{ value: "Icelander", text: "Icelander", selected: checked("pecRightWorkNationalityPresent", "Icelander") },
				{ value: "Indian", text: "Indian", selected: checked("pecRightWorkNationalityPresent", "Indian") },
				{ value: "Indonesian", text: "Indonesian", selected: checked("pecRightWorkNationalityPresent", "Indonesian") },
				{ value: "Iranian", text: "Iranian", selected: checked("pecRightWorkNationalityPresent", "Iranian") },
				{ value: "Iraqi", text: "Iraqi", selected: checked("pecRightWorkNationalityPresent", "Iraqi") },
				{ value: "Israeli", text: "Israeli", selected: checked("pecRightWorkNationalityPresent", "Israeli") },
				{ value: "Italian", text: "Italian", selected: checked("pecRightWorkNationalityPresent", "Italian") },
				{ value: "Jamaican", text: "Jamaican", selected: checked("pecRightWorkNationalityPresent", "Jamaican") },
				{ value: "Japanese", text: "Japanese", selected: checked("pecRightWorkNationalityPresent", "Japanese") },
				{ value: "Jordanian", text: "Jordanian", selected: checked("pecRightWorkNationalityPresent", "Jordanian") },
				{ value: "Kazakh", text: "Kazakh", selected: checked("pecRightWorkNationalityPresent", "Kazakh") },
				{ value: "Kenyan", text: "Kenyan", selected: checked("pecRightWorkNationalityPresent", "Kenyan") },
				{ value: "Kosovan", text: "Kosovan", selected: checked("pecRightWorkNationalityPresent", "Kosovan") },
				{ value: "Kuwaiti", text: "Kuwaiti", selected: checked("pecRightWorkNationalityPresent", "Kuwaiti") },
				{ value: "Kyrgyz", text: "Kyrgyz", selected: checked("pecRightWorkNationalityPresent", "Kyrgyz") },
				{ value: "Lao", text: "Lao", selected: checked("pecRightWorkNationalityPresent", "Lao") },
				{ value: "Latvian", text: "Latvian", selected: checked("pecRightWorkNationalityPresent", "Latvian") },
				{ value: "Lebanese", text: "Lebanese", selected: checked("pecRightWorkNationalityPresent", "Lebanese") },
				{ value: "Liberian", text: "Liberian", selected: checked("pecRightWorkNationalityPresent", "Liberian") },
				{ value: "Libyan", text: "Libyan", selected: checked("pecRightWorkNationalityPresent", "Libyan") },
				{ value: "Liechtenstein citizen", text: "Liechtenstein citizen", selected: checked("pecRightWorkNationalityPresent", "Liechtenstein citizen") },
				{ value: "Lithuanian", text: "Lithuanian", selected: checked("pecRightWorkNationalityPresent", "Lithuanian") },
				{ value: "Luxembourger", text: "Luxembourger", selected: checked("pecRightWorkNationalityPresent", "Luxembourger") },
				{ value: "Macedonian, Citizen of the Republic of North Macedonia", text: "Macedonian, Citizen of the Republic of North Macedonia", selected: checked("pecRightWorkNationalityPresent", "Macedonian, Citizen of the Republic of North Macedonia") },
				{ value: "Malawian", text: "Malawian", selected: checked("pecRightWorkNationalityPresent", "Malawian") },
				{ value: "Maldivian", text: "Maldivian", selected: checked("pecRightWorkNationalityPresent", "Maldivian") },
				{ value: "Malian", text: "Malian", selected: checked("pecRightWorkNationalityPresent", "Malian") },
				{ value: "Maltese", text: "Maltese", selected: checked("pecRightWorkNationalityPresent", "Maltese") },
				{ value: "Marshall Islander", text: "Marshall Islander", selected: checked("pecRightWorkNationalityPresent", "Marshall Islander") },
				{ value: "Mauritanian", text: "Mauritanian", selected: checked("pecRightWorkNationalityPresent", "Mauritanian") },
				{ value: "Mauritian", text: "Mauritian", selected: checked("pecRightWorkNationalityPresent", "Mauritian") },
				{ value: "Mexican", text: "Mexican", selected: checked("pecRightWorkNationalityPresent", "Mexican") },
				{ value: "Micronesian", text: "Micronesian", selected: checked("pecRightWorkNationalityPresent", "Micronesian") },
				{ value: "Moldovan", text: "Moldovan", selected: checked("pecRightWorkNationalityPresent", "Moldovan") },
				{ value: "Monegasque", text: "Monegasque", selected: checked("pecRightWorkNationalityPresent", "Monegasque") },
				{ value: "Mongolian", text: "Mongolian", selected: checked("pecRightWorkNationalityPresent", "Mongolian") },
				{ value: "Montenegrin", text: "Montenegrin", selected: checked("pecRightWorkNationalityPresent", "Montenegrin") },
				{ value: "Moroccan", text: "Moroccan", selected: checked("pecRightWorkNationalityPresent", "Moroccan") },
				{ value: "Mozambican", text: "Mozambican", selected: checked("pecRightWorkNationalityPresent", "Mozambican") },
				{ value: "Namibian", text: "Namibian", selected: checked("pecRightWorkNationalityPresent", "Namibian") },
				{ value: "Nauruan", text: "Nauruan", selected: checked("pecRightWorkNationalityPresent", "Nauruan") },
				{ value: "Nepalese", text: "Nepalese", selected: checked("pecRightWorkNationalityPresent", "Nepalese") },
				{ value: "New Zealander", text: "New Zealander", selected: checked("pecRightWorkNationalityPresent", "New Zealander") },
				{ value: "Nicaraguan", text: "Nicaraguan", selected: checked("pecRightWorkNationalityPresent", "Nicaraguan") },
				{ value: "Nigerian", text: "Nigerian", selected: checked("pecRightWorkNationalityPresent", "Nigerian") },
				{ value: "Norwegian", text: "Norwegian", selected: checked("pecRightWorkNationalityPresent", "Norwegian") },
				{ value: "Omani", text: "Omani", selected: checked("pecRightWorkNationalityPresent", "Omani") },
				{ value: "Pakistani", text: "Pakistani", selected: checked("pecRightWorkNationalityPresent", "Pakistani") },
				{ value: "Palauan", text: "Palauan", selected: checked("pecRightWorkNationalityPresent", "Palauan") },
				{ value: "Panamanian", text: "Panamanian", selected: checked("pecRightWorkNationalityPresent", "Panamanian") },
				{ value: "Papua New Guinean", text: "Papua New Guinean", selected: checked("pecRightWorkNationalityPresent", "Papua New Guinean") },
				{ value: "Paraguayan", text: "Paraguayan", selected: checked("pecRightWorkNationalityPresent", "Paraguayan") },
				{ value: "Peruvian", text: "Peruvian", selected: checked("pecRightWorkNationalityPresent", "Peruvian") },
				{ value: "Pole", text: "Pole", selected: checked("pecRightWorkNationalityPresent", "Pole") },
				{ value: "Portuguese", text: "Portuguese", selected: checked("pecRightWorkNationalityPresent", "Portuguese") },
				{ value: "Qatari", text: "Qatari", selected: checked("pecRightWorkNationalityPresent", "Qatari") },
				{ value: "Romanian", text: "Romanian", selected: checked("pecRightWorkNationalityPresent", "Romanian") },
				{ value: "Russian", text: "Russian", selected: checked("pecRightWorkNationalityPresent", "Russian") },
				{ value: "Rwandan", text: "Rwandan", selected: checked("pecRightWorkNationalityPresent", "Rwandan") },
				{ value: "Salvadorean", text: "Salvadorean", selected: checked("pecRightWorkNationalityPresent", "Salvadorean") },
				{ value: "Samoan", text: "Samoan", selected: checked("pecRightWorkNationalityPresent", "Samoan") },
				{ value: "Saudi Arabian", text: "Saudi Arabian", selected: checked("pecRightWorkNationalityPresent", "Saudi Arabian") },
				{ value: "Senegalese", text: "Senegalese", selected: checked("pecRightWorkNationalityPresent", "Senegalese") },
				{ value: "Serbian", text: "Serbian", selected: checked("pecRightWorkNationalityPresent", "Serbian") },
				{ value: "Sierra Leonean", text: "Sierra Leonean", selected: checked("pecRightWorkNationalityPresent", "Sierra Leonean") },
				{ value: "Singaporean", text: "Singaporean", selected: checked("pecRightWorkNationalityPresent", "Singaporean") },
				{ value: "Slovak", text: "Slovak", selected: checked("pecRightWorkNationalityPresent", "Slovak") },
				{ value: "Slovene", text: "Slovene", selected: checked("pecRightWorkNationalityPresent", "Slovene") },
				{ value: "Solomon Islander", text: "Solomon Islander", selected: checked("pecRightWorkNationalityPresent", "Solomon Islander") },
				{ value: "Somali", text: "Somali", selected: checked("pecRightWorkNationalityPresent", "Somali") },
				{ value: "South African", text: "South African", selected: checked("pecRightWorkNationalityPresent", "South African") },
				{ value: "South Korean", text: "South Korean", selected: checked("pecRightWorkNationalityPresent", "South Korean") },
				{ value: "South Sudanese", text: "South Sudanese", selected: checked("pecRightWorkNationalityPresent", "South Sudanese") },
				{ value: "Soviet citizen", text: "Soviet citizen", selected: checked("pecRightWorkNationalityPresent", "Soviet citizen") },
				{ value: "Spaniard, Spanish citizen", text: "Spaniard, Spanish citizen", selected: checked("pecRightWorkNationalityPresent", "Spaniard, Spanish citizen") },
				{ value: "St Lucian", text: "St Lucian", selected: checked("pecRightWorkNationalityPresent", "St Lucian") },
				{ value: "Sudanese", text: "Sudanese", selected: checked("pecRightWorkNationalityPresent", "Sudanese") },
				{ value: "Surinamer", text: "Surinamer", selected: checked("pecRightWorkNationalityPresent", "Surinamer") },
				{ value: "Swazi", text: "Swazi", selected: checked("pecRightWorkNationalityPresent", "Swazi") },
				{ value: "Swede", text: "Swede", selected: checked("pecRightWorkNationalityPresent", "Swede") },
				{ value: "Swiss", text: "Swiss", selected: checked("pecRightWorkNationalityPresent", "Swiss") },
				{ value: "Syrian", text: "Syrian", selected: checked("pecRightWorkNationalityPresent", "Syrian") },
				{ value: "Tajik", text: "Tajik", selected: checked("pecRightWorkNationalityPresent", "Tajik") },
				{ value: "Tanzanian", text: "Tanzanian", selected: checked("pecRightWorkNationalityPresent", "Tanzanian") },
				{ value: "Thai", text: "Thai", selected: checked("pecRightWorkNationalityPresent", "Thai") },
				{ value: "Togolese", text: "Togolese", selected: checked("pecRightWorkNationalityPresent", "Togolese") },
				{ value: "Tongan", text: "Tongan", selected: checked("pecRightWorkNationalityPresent", "Tongan") },
				{ value: "Trinidad and Tobago citizen", text: "Trinidad and Tobago citizen", selected: checked("pecRightWorkNationalityPresent", "Trinidad and Tobago citizen") },
				{ value: "Tunisian", text: "Tunisian", selected: checked("pecRightWorkNationalityPresent", "Tunisian") },
				{ value: "Turk", text: "Turk", selected: checked("pecRightWorkNationalityPresent", "Turk") },
				{ value: "Turkmen", text: "Turkmen", selected: checked("pecRightWorkNationalityPresent", "Turkmen") },
				{ value: "Tuvaluan", text: "Tuvaluan", selected: checked("pecRightWorkNationalityPresent", "Tuvaluan") },
				{ value: "Ugandan", text: "Ugandan", selected: checked("pecRightWorkNationalityPresent", "Ugandan") },
				{ value: "Ukrainian", text: "Ukrainian", selected: checked("pecRightWorkNationalityPresent", "Ukrainian") },
				{ value: "United States citizen", text: "United States citizen", selected: checked("pecRightWorkNationalityPresent", "United States citizen") },
				{ value: "Uruguayan", text: "Uruguayan", selected: checked("pecRightWorkNationalityPresent", "Uruguayan") },
				{ value: "Uzbek", text: "Uzbek", selected: checked("pecRightWorkNationalityPresent", "Uzbek") },
				{ value: "Vatican citizen", text: "Vatican citizen", selected: checked("pecRightWorkNationalityPresent", "Vatican citizen") },
				{ value: "Venezuelan", text: "Venezuelan", selected: checked("pecRightWorkNationalityPresent", "Venezuelan") },
				{ value: "Vietnamese", text: "Vietnamese", selected: checked("pecRightWorkNationalityPresent", "Vietnamese") },
				{ value: "Vincentian", text: "Vincentian", selected: checked("pecRightWorkNationalityPresent", "Vincentian") },
				{ value: "Yemeni", text: "Yemeni", selected: checked("pecRightWorkNationalityPresent", "Yemeni") },
				{ value: "Yugoslavian", text: "Yugoslavian", selected: checked("pecRightWorkNationalityPresent", "Yugoslavian") },
				{ value: "Zambian", text: "Zambian", selected: checked("pecRightWorkNationalityPresent", "Zambian") },
				{ value: "Zimbabwean", text: "Zimbabwean", selected: checked("pecRightWorkNationalityPresent", "Zimbabwean") },
				{ value: "Other", text: "Other", selected: checked("pecRightWorkNationalityPresent", "Other") }

			]
		}) }}					

				
		<!-- Other Nationalities Question -->
		<!-- Conditionals -->
		{% set OtherNationalitiesHtml %}            
		{{ govukInput({
			label: { text: "Provide details on other nationalities or citizenships", classes: "govuk-label govuk-!-font-weight-bold", isPageHeading: false },      								
			classes: "govuk-!-width-two-thirds",
			id: "OtherNationalitiesHtml",
			name: "OtherNationalitiesHtml",
			value: data['OtherNationalitiesHtml']							
		}) }}						
		{% endset -%}
		<!-- // End of conditionals -->

		{{ govukRadios({
			name: "pecRTWOtherNationality",
			id: "pecRTWOtherNationality",
			fieldset: {
			legend: { text: "Have you held or currently hold any other nationality or citizenship?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
			items: [
			{ value: "Yes", text: "Yes", conditional: { html: OtherNationalitiesHtml }, checked: checked("pecRTWOtherNationality", "Yes")  },
			{ value: "No", text: "No", checked: checked("pecRTWOtherNationality", "No") }													]
		}) }}
		<!-- // End of Nationalities -->
		<!-- /////////////////////////////////////// -->

		
		<!-- UK Citizen Question -->
		<!-- Conditionals -->
		{% set BritishPassportHtml %}
		{{ govukRadios({
			name: "pecRTWPassport",
			id: "pecRTWPassport",
			fieldset: {
				legend: { text: "Do you hold a valid British or Irish passport or Irish passport card?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
			items: [
				{ value: "Yes", text: "Yes", checked: checked("pecRTWPassport", "Yes") },
				{ value: "No", text: "No", checked: checked("pecRTWPassport", "No") }							
			]
		}) }}
		{% endset -%}

		{% set LiveUKHtml %}
		{{ govukRadios({
			name: "pecRTWLiveUk",
			id: "pecRTWLiveUk",
			fieldset: {
				legend: { text: "Do you live in the UK?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
			items: [
				{ value: "Yes", text: "Yes", checked: checked("pecRTWLiveUk", "Yes") },
				{ value: "No", text: "No", checked: checked("pecRTWLiveUk", "No") }
			]
		}) }}
		{% endset -%}
		<!-- // End of Conditionals -->

		{{ govukRadios({
			name: "pecRTWUKCitizen",
			id: "pecRTWUKCitizen",
			fieldset: {
				legend: { text: "Are you a UK or Irish citizen?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: { html: BritishPassportHtml }, checked: checked("pecRTWUKCitizen", "Yes") },
				{ value: "No", text: "No", conditional: { html: LiveUKHtml }, checked: checked("pecRTWUKCitizen", "No") }							
			]
		}) }}


					 

					 
	

      	<div class="govuk-button-group">
        	{{ govukButton({
          		text: "Back",
				href: "/csjobs/pec/candidate/details?navpage=det"
        	}) }}
      
        	{{ govukButton({
          		text: "Continue"				
        	}) }}
      	</div>
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


