{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "Has the budget for this vacancy been approved?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	

        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/location" >
			
			{{ govukRadios({
				name: "mmrVacancyBudget",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: pageHeading,
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrVacancyBudget", "Yes") },					
					{ value: "No", text: "No", checked: checked("mmrVacancyBudget", "No") }																			
				]
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}