{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Is this an internal or external role?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}    	

        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/budget-approval" >
			
			{{ govukRadios({
				name: "mmrVacancyType",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Across Government", text: "Across Government", checked: checked("mmrVacancyType", "Across Government") },					
					{ value: "Internal", text: "Internal", checked: checked("mmrVacancyType", "Internal") },															
					{ value: "External", text: "External", checked: checked("mmrVacancyType", "External") }														
				]
			}) }}




            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}