{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Which department is this role based in?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/business-area" >
			
			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "mmrVacancyDepartment",
				name: "mmrVacancyDepartment",
				value: data['mmrVacancyDepartment']
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}