{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "What grade is the role?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	

        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/salary" >
			
			{{ govukRadios({
				name: "mmrVacancyGrade",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Grade 5", text: "Grade 5", checked: checked("mmrVacancyGrade", "Grade 5") },					
					{ value: "Grade 6", text: "Grade 6", checked: checked("mmrVacancyGrade", "Grade 6") },															
					{ value: "Grade 7", text: "Grade 7", checked: checked("mmrVacancyGrade", "Grade 7") }														
				]
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}