{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "What job type is this vacancy?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>
    <script type="text/javascript">
        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            selectElement: document.querySelector('#mmrVacancyJobType' name="mmrVacancyJobType" value="" )
        })
    </script>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}    	

		<p class="govuk-hint">For example, Accountancy, Legal or Policing.</p>

        <form method="post" action="/voldemort/self-serve/manual-recruitment-request/vacancy-details/profession" >

				<div class="govuk-form-group">
					<select id="mmrVacancyJobType" name="mmrVacancyJobType" value="" >
						<option value=""></option>
						<option value="Accountancy">Accountancy</option>
						<option value="Administration / Corporate Support">Administration / Corporate Support</option>
						<option value="Analytical">Analytical</option>
						<option value="Architechture and Data">Architechture and Data</option>
						<option value="Audit">Audit</option>
						<option value="Business Management and Improvement">Business Management and Improvement</option>
						<option value="Commercial">Commercial</option>
						<option value="Communications / Marketing">Communications / Marketing</option>
						<option value="Conflict Advisors">Conflict Advisors</option>
						<option value="Contact Centre">Contact Centre</option>
						<option value="Corporate Finance">Corporate Finance</option>
						<option value="Customer Insight">Customer Insight</option>
						<option value="Debt Management">Debt Management</option>
						<option value="Defence Operations">Defence Operations</option>
						<option value="Digital">Digital</option>
						<option value="Economist">Economist</option>
						<option value="Education and Training">Education and Training</option>
						<option value="Engineering">Engineering</option>
						<option value="Environment and Sustainabiltiy">Environment and Sustainabiltiy</option>
						<option value="Estates">Estates</option>
						<option value="European Opportunities">European Opportunities</option>
						<option value="Fast Stream">Fast Stream</option>
						<option value="Finance">Finance</option>
						<option value="Governance">Governance</option>
						<option value="Health Adviser">Health Adviser</option>
						<option value="Health and Safety">Health and Safety</option>
						<option value="Health Professionals">Health Professionals</option>
						<option value="Human Resources">Human Resources</option>
						<option value="Humanitarian">Humanitarian</option>
						<option value="Industrial">Industrial</option>
						<option value="Information Technology">Information Technology</option>
						<option value="Inspector of Education and Training">Inspector of Education and Training</option>
						<option value="Intelligence">Intelligence</option>
						<option value="Internal Audit">Internal Audit</option>
						<option value="International Trade">International Trade</option>
						<option value="Investigation">Investigation</option>
						<option value="Knowledge and Information Management">Knowledge and Information Management</option>
						<option value="Legal Services">Legal Services</option>
						<option value="Library">Library</option>
						<option value="Logistics">Logistics</option>
						<option value="Market Research">Market Research</option>
						<option value="Medical">Medical</option>
						<option value="Operational Delivery">Operational Delivery</option>
						<option value="Operational Research">Operational Research</option>
						<option value="Planning">Planning</option>
						<option value="Planning Inspector">Planning Inspector</option>
						<option value="Policing">Policing</option>
						<option value="Policy">Policy</option>
						<option value="Press Relations">Press Relations</option>
						<option value="Private Sector Development">Private Sector Development</option>
						<option value="Procure,emt amd Contracts Management">Procure,emt amd Contracts Management</option>
						<option value="Project Delivery">Project Delivery</option>
						<option value="Property">Property</option>
						<option value="Psychology">Psychology</option>
						<option value="Quality">Quality</option>
						<option value="Risk Management">Risk Management</option>
						<option value="Science">Science</option>
						<option value="Secondary Education Teacher">Secondary Education Teacher</option>
						<option value="Secretarial">Secretarial</option>
						<option value="Security">Security</option>
						<option value="Senior Leadership">Senior Leadership</option>
						<option value="Social Development">Social Development</option>
						<option value="Social Research">Social Research</option>
						<option value="Social Survey Interviewer">Social Survey Interviewer</option>
						<option value="Sponsorship">Sponsorship</option>
						<option value="Statistics">Statistics</option>
						<option value="Strategy">Strategy</option>
						<option value="Surveying">Surveying</option>
						<option value="Tax Profession">Tax Profession</option>
						<option value="Valuation">Valuation</option>
						<option value="Veterinary Services">Veterinary Services</option>
						<option value="Other">Other</option>						
					</select>
				</div>
    	
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}


<!-- AUTOCOMPLETE SCRIPT -->

<script>
	function autocomplete(inp, arr) {
	  /*the autocomplete function takes two arguments,
	  the text field element and an array of possible autocompleted values:*/
	  var currentFocus;
	  /*execute a function when someone writes in the text field:*/
	  inp.addEventListener("input", function (e) {
		var a, b, i, val = this.value;
		/*close any already open lists of autocompleted values*/
		closeAllLists();
		if (!val) { return false; }
		currentFocus = -1;
		/*create a DIV element that will contain the items (values):*/
		a = document.createElement("DIV");
		a.setAttribute("id", this.id + "autocomplete-list");
		a.setAttribute("class", "autocomplete-items");
		/*append the DIV element as a child of the autocomplete container:*/
		this.parentNode.appendChild(a);
		/*for each item in the array...*/
		for (i = 0; i < arr.length; i++) {
		  /*check if the item starts with the same letters as the text field value:*/
		  if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
			/*create a DIV element for each matching element:*/
			b = document.createElement("DIV");
			/*make the matching letters bold:*/
			b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
			b.innerHTML += arr[i].substr(val.length);
			/*insert a input field that will hold the current array item's value:*/
			b.innerHTML += "<input type='hidden' placeholder='kdkskfj' value=''>";
			/*execute a function when someone clicks on the item value (DIV element):*/
			b.addEventListener("click", function (e) {
			  /*insert the value for the autocomplete text field:*/
			  inp.value = this.getElementsByTagName("input")[0].value;
			  /*close the list of autocompleted values,
			  (or any other open lists of autocompleted values:*/
			  closeAllLists();
			});
			a.appendChild(b);
		  }
		}
	  });
	  /*execute a function presses a key on the keyboard:*/
	  inp.addEventListener("keydown", function (e) {
		var x = document.getElementById(this.id + "autocomplete-list");
		if (x) x = x.getElementsByTagName("div");
		if (e.keyCode == 40) {
		  /*If the arrow DOWN key is pressed,
		  increase the currentFocus variable:*/
		  currentFocus++;
		  /*and and make the current item more visible:*/
		  addActive(x);
		} else if (e.keyCode == 38) { //up
		  /*If the arrow UP key is pressed,
		  decrease the currentFocus variable:*/
		  currentFocus--;
		  /*and and make the current item more visible:*/
		  addActive(x);
		} else if (e.keyCode == 13) {
		  /*If the ENTER key is pressed, prevent the form from being submitted,*/
		  e.preventDefault();
		  if (currentFocus > -1) {
			/*and simulate a click on the "active" item:*/
			if (x) x[currentFocus].click();
		  }
		}
	  });
	  function addActive(x) {
		/*a function to classify an item as "active":*/
		if (!x) return false;
		/*start by removing the "active" class on all items:*/
		removeActive(x);
		if (currentFocus >= x.length) currentFocus = 0;
		if (currentFocus < 0) currentFocus = (x.length - 1);
		/*add class "autocomplete-active":*/
		x[currentFocus].classList.add("autocomplete-active");
	  }
	  function removeActive(x) {
		/*a function to remove the "active" class from all autocomplete items:*/
		for (var i = 0; i < x.length; i++) {
		  x[i].classList.remove("autocomplete-active");
		}
	  }
	  function closeAllLists(elmnt) {
		/*close all autocomplete lists in the document,
		except the one passed as an argument:*/
		var x = document.getElementsByClassName("autocomplete-items");
		for (var i = 0; i < x.length; i++) {
		  if (elmnt != x[i] && elmnt != inp) {
			x[i].parentNode.removeChild(x[i]);
		  }
		}
	  }
	  /*execute a function when someone clicks in the document:*/
	  document.addEventListener("click", function (e) {
		closeAllLists(e.target);
	  });
	}
  
	
  
	

  
  
  </script>