{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Where is the vacancy located?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">This should be the main office for the government department or branch, even if it’s classed as ‘work from home’.</p>
        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/permanent-role" >


			
			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				hint: {
					text: "For example, Sheffield, Newcastle or South East England"
				},
				id: "mmrVacancyLocation",
				name: "mmrVacancyLocation",
				value: data['mmrVacancyLocation']
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}