{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Where is the role located?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">This could be the main office for the government department or branch. Please state this location even if the role is classed as ‘work from home’.</p>
        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/pattern" >
			
			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "mmrVacancyLocation",
				name: "mmrVacancyLocation",
				value: data['mmrVacancyLocation']
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}