{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Is this a permanent role?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    

        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/location" >
			
			{{ govukRadios({
				name: "mmrVacancyPermanent",   	
				classes: "govuk-radios--inline",			     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrVacancyPermanent", "Yes") },	
					{ value: "No, redirect(/crm/self-serve/manual-recruitment-request/vacancy-details/contract-type)", text: "No", checked: checked("mmrVacancyPermanent", "No") }
					
				]
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}