{% extends "layouts/main.html" %}
{% set showBackLink = false %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Sign in with your departmental details" %}
{% set pageSection = "Vacancy holders" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<!-- Vacancy holder authentication -->
    	{% if data['user'] == "vh" %}

		<form method="post" action="/field-of-dreams/vacancy-holder" >
			<input type="text" name="vhAuthenticated" id="vhAuthenticated" value="Yes" class="govuk-visually-hidden"/>

			{{ govukInput({
				label: { text: "Email address", classes: "govuk-label", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "signInVhEmail",
				name: "signInVhEmail",
				value: data['signInVhEmail']
			}) }}

			{{ govukInput({
				label: { text: "Password", classes: "govuk-label", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				type: "Password",
				id: "signinVhPassword",
				name: "signinVhPassword",
				value: data['signinVhPassword']
			}) }}

    		{{ govukButton({
      			text: "Sign in"      			
    		}) }}
		</form>

		<!-- Candidate authentication -->
    	{% elif data['user'] == "can" %}
			
    		{{ govukButton({
      			text: "Sign in",
      			href: "/field-of-dreams/candidates"
    		}) }}        	

    	{% endif %}

	</div>
</div>

{% endblock %}