{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Are pre-employment checks required?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p>Pre-employment checks are carried out to help the Civil Service make informed decisions about the suitability of individuals for vacancies.</p>
        <form method="post" action="/crm/self-serve/manual-recruitment-request/pre-employment-checks/reserved-status" >
            
			{{ govukRadios({
				name: "mmrPreChecks",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrPreChecks", "Yes") },					
					{ value: "No", text: "No", checked: checked("mmrPreChecks", "No") }																			
				]
			}) }}



            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}