{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}


{% set pageHeading = "Content designer" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">	
	<div class="govuk-grid-column-full">    

    	<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
		Department for Business and Trade
		
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">

				<h3 class="govuk-heading-s"> number</h3>
				<p>334599</p>
				
				<h3 class="govuk-heading-s">Salary</h3>
				<p>£41,600 - £48,792</p>
				
				National: 41,600 min - 44,512 max. London: 45,600 min - 48,792 max. Suitability for an additional Recruitment and Retention Allowance of up to £5,000.00 will be assessed at interview.
				A Civil Service Pension with an average employer contribution of 27%
				
				<h3 class="govuk-heading-s">Job grade</h3>
				<p>Senior Executive Officer</p>
				
				<h3 class="govuk-heading-s">Contract type</h3>
				<p>Permanent</p>
				
				<h3 class="govuk-heading-s">Business area</h3>
				<p>HO - Digital Data and Technology</p>

				<h3 class="govuk-heading-s">Type of role</h3>
				<p>Digital Information Technology</p>
				
				<h3 class="govuk-heading-s">Working pattern</h3>
				<p>Flexible working, Full-time, Part-time, Compressed hours</p>
				
				<h3 class="govuk-heading-s">Number of jobs available</h3>
				<p>1</p>

			</div>
			<div class="govuk-grid-column-two-thirds">

				<h2 class="govuk-heading-m">Contents</h2>
				<ul class="govuk-list">
					<li><a class="govuk-link" href="#">About the job</a></li>
					<li><a class="govuk-link" href="#">Benefits</a></li>
					<li><a class="govuk-link" href="#">Things you need to know</a></li>
					<li><a class="govuk-link" href="#">Apply and further information</a></li>					
				</ul>

				<h2 class="govuk-heading-m">Location</h2>
Croydon, Manchester, Sheffield
				
				<h2 class="govuk-heading-m">About the job</h2>
				<h3 class="govuk-heading-s">Job summary</h3>
We’re looking for a Content Designer who wants to make a lasting impact on how the Home Office delivers user centred products and services. 

 You’ll work in an agile, multi-disciplinary team on some of the most exciting and impactful services that government delivers for the public, as well as internal systems for more than 35,000 staff across the department. 

You can learn more about design and research in the Home Office on our blog: 

How we collaborated across government to design content supporting Afghan resettlement 
A product-centric approach to the EU Settlement Scheme; 
How inclusive services help us to deliver effectively; 
and by looking at our design system and content style guide. 
We encourage applications from people from the widest possible diversity of backgrounds, cultures and experiences. We particularly welcome applications from women, people with disabilities and LGBT+ as they are currently under-represented in the Home Office at this grade level. Appointments will be made on merit on the basis of fair and open competition. 

Where business needs allow, some roles may be suitable for a combination of office and home-based working.  This is a non-contractual arrangement where employees will be expected to spend a minimum of 60% of their working time in the office.  Applicants can request further information regarding how this may work in their team from the Vacancy Holder (see advert for contact details). 

<h3 class="govuk-heading-s">Job description</h3>
This role is within the Enablers Portfolio  where you’ll be supporting agile and user-centred design projects. You’ll be working with senior designers as part of a multi-disciplinary team and will help ensure that users are embedded at the heart of all our products and services. 

Enablers vision is to provide outstanding products and services for internal users across the Home Office.  We provide large, complex and business critical services to over 40,000 staff members.  We also support smaller, specialist teams to deliver on legislative requirements.  The work is fast paced and varied. You’ll be joining a team of over forty user centred design professionals. 

As a Content Designer, you’ll know how to: 

Make complex language and processes simple to understand 
Make the case for designing content based on user needs 
Explain your decisions clearly 
You’ll work closely, and build relationships, with our internal communications teams, content designers working on GOV.UK and online services, DDaT technical teams, Home Office operational staff and policy officials. 

We’re looking for people who are collaborative, inclusive, open to their work being critiqued and who are empathetic towards their colleagues and users. A healthy balance of determinism and pragmatism will be needed on our complex services and products. 

If you want to join us in keeping the UK safe and secure and ensuring that our services for migrants and asylum seekers are easier and simpler to use, apply now. 

<h3 class="govuk-heading-s">Person specification</h3>
<h3 class="govuk-heading-s">Responsibilities  </h3>

Your main day-to-day responsibilities will include:  

Scoping, writing and editing content for internal and public-facing digital services  
Working as part of a multidisciplinary team to identify user needs and agree the right design approach  
Choosing the best format for delivering content to users 
Monitoring the performance of content and tools, identifying ways to improve the service 
Working with relevant stakeholders and subject matter experts to make sure content is relevant and accurate 
Helping other team members understand what content design is, why it’s important and how to work with content designers   
You will also be expected to carry out the following day to day activities:

Contributing to the User-Centred Design community, by attending and organising events, leading discussions and workshops, and sharing ideas and best practice
Encourage constructive criticism of your work and constructively review the work of others, for example during peer reviews  
<h3 class="govuk-heading-s"> Essential Skills  </h3>

 You’ll have a demonstrable passion for user-centred design, with the following skills or some experience in:    

Writing, proofing and editing digital content in line with defined processes and standards  
Making complex language and processes simple to understand for a non-specialist audience  
Assessing the accessibility of online content and advising teams how to fix issues so it is inclusive and accessible to all   
Using research, feedback and analytics to understand user needs and to inform content decisions
Organising and prioritising work effectively to meet rapidly changing deadlines, demands and goals
Building effective working relationships with a wide range of stakeholders and clearly articulating the benefits of adopting an accessible, user-centred design approach to stakeholders and team members   
​Our Technical skills align with the cross gov DDaT Capability Framework

Digital, Data and Technology Profession Capability Framework - GOV.UK (www.gov.uk)​  

Candidates reaching the required standard and attending the final interview, will be assessed using technical and experience-based questions. Technical level definitions can be found via www.gov.uk/guidance/content-designer 

<h3 class="govuk-heading-s">Technical skills</h3>
We'll assess you against these technical skills during the selection process:

User focus Level: working
User-centred content design Level: working
			<h2 class="govuk-heading-m">Benefits</h2>
Alongside your salary of £41,600, Home Office contributes £11,232 towards you being a member of the Civil Service Defined Benefit Pension scheme. Find out what benefits a Civil Service Pension provides.
Alongside your salary, Home Office contributes towards:

You being a member of the Civil Service Defined Benefit Pension scheme. Find out what benefits a Civil Service Pension provides. 

You’ll be set-up for hybrid working from day one:
We provide you with an up-to-date Laptop, Office 365 licence as well as access to Sketch, Screenflow, Mural and code editing tools. We work a minimum of 60% of our week in an office. 
You can help shape how we do design and research     
We support our community to become practice leads to pursue work which provides value to the wider community. We currently have practice leads in diversity and inclusion, sustainability, design ethics, and workshopping.
You are supported by a government leading UCD Operations Team     
We have a team of passionate people who help support designers and researchers with tools, recruitment support, professional onboarding, guidance and our research library. 
Lots of ways to learn and develop     
In addition to our online training catalogue with O’Reilly and connections with professional training providers, we also offer peer learning, a comprehensive induction, and time to volunteer or do charity work.
Flexible working options to enable you to achieve the work life balance that right for you including part-time, job share, term time only, compressed hours and flexi time.  This can be discussed at the offer stage if you are interested in this and is dependent on the role.  
  You’ll also have access to the same benefits available to all civil servants in the Home Office:     

An in-year performance bonus scheme, behaviours recognition and reward scheme.
A Civil Service pension with employer contribution rates of between 26.6% and 30.3%, depending upon salary.
25 days annual leave on appointment, increasing by 1 day every year to a maximum of 30 days after five years’ service. In addition, all staff receive 8 days public holidays and 1 day for the King’s Birthday.
Flexible working options to enable you to achieve the work life balance that right for you including part-time, flexi time and job sharing.
A culture encouraging inclusion and diversity.
Season ticket loans and rental deposit loans.
Cycle to work and payroll giving.
Employee discounts - including a huge number of retailers, Microsoft Home Use programme and gym membership.
A variety of staff recognition schemes including thank you vouchers.
Health and wellbeing initiatives including monthly mindfulness sessions.
Staff support networks
Maternity, adoption or shared parental leave of up to 26 weeks full pay followed by 13 weeks of statutory pay and a further 13 weeks unpaid.
Maternity and adoption support leave (paternity leave) of 2 weeks full pay.
Up to five days paid leave for volunteering.
Study leave and support for studying for a qualification or other accredited development relevant to your role.     
You can find more information at Benefits - Home Office Careers.    

			<h2 class="govuk-heading-m">Things you need to know</h2>
			<h3 class="govuk-heading-s">Selection process details</h3>
This vacancy is using Success Profiles (opens in a new window), and will assess your Experience and Technical skills.
This gives us the best possible chance of finding the right person for the job, drives up performance and improves diversity and inclusivity. 

As part of the application process you will be asked to complete a CV and Statement of Suitability (Max 750 Word Limit). 

Further details around what this will entail are listed on the application form. 

The Statement of Suitability should explain your motivation for applying to this role and offer evidence how you meet the essential criteria listed on the Job Specification. 

The sift will be based on the CV and Statement of Suitability. 

Candidates reaching the required standard and attending the final interview, will be assessed using technical skills and experience-based questions.  

At the interview, you will be given a Content Design Task and asked questions that explore your experience and technical skills. 

<h3 class="govuk-heading-s">Sift and interview dates</h3>

The sift will commence from week commencing 29th January 2024.  

Interviews are expected to take place from week commencing 19th February 2024. 

You will be invited to attend a video interview utilising Microsoft Teams.  

We will try to meet the dates set out in the advert. There may be occasions when these dates will change. You will be provided with sufficient notice of the confirmed dates. 

PLEASE NOTE: Due to time constraints we may not be able to offer alternative interview date(s). It is therefore expected that candidates who are successful at sift stage will make themselves available during the above time frame given.

<h3 class="govuk-heading-s">Further Information</h3>

Please read the essential skills for this position carefully. We will only consider those who meet the listed requirement.  

If you have previously made an unsuccessful application for a role with the same essential skills and are not able to demonstrate how you have developed these skills since your last application please reconsider applying as your application is unlikely to be successful. 

For meaningful checks to be carried out, individuals need to have lived in the UK for a sufficient period of time to enable appropriate checks to be carried out and produce a result which provides the required level of assurance. You should normally have been resident in the United Kingdom for the last 3 years if the role requires CTC clearance, 5 years for SC clearance and 10 years for DV.  A lack of UK residency in itself is not necessarily a bar to a security clearance and applicants should contact the Vacancy Holder/Recruiting Manager listed in the advert for further advice.   

A reserve list of successful candidates will be kept for 12 months. Should another role become available within that period you may be offered this position.     

You need to have lived in the UK for the past 5 years. This is because this post requires the successful candidate to have Security Check (SC) clearance and individuals need to have lived in the UK for a sufficient period of time to enable appropriate checks to be carried out and produce a result which provides the required level of assurance. These checks will only take place after the job offer has been accepted.   

We are unable to sponsor any individuals via Skilled Worker Sponsorship / Tier 2 (General) work visas as we do not hold a UK Visa & Immigration (UKVI) Skilled Worker License.      

This post is eligible for a DDaT Recruitment Retention Allowance. Successful candidate with exceptional skills and experience may apply for a Recruitment and Retention Allowance up to a maximum of £5,000. This allowance is subject to an initial review within six months of taking up the post and thereafter an annual review in line with the departmental priorities and could be reduced or withdrawn at any time.       

This role can be based in any of the advertised location/regions, with an occasional travel required. You will be located in a regional office and under Home Office hybrid working practices you will be required to attend a Home Office workplace on an average of 60% of your working hours. Successful candidates will be able to obtain further information from their line manager.   

Job offers to this post are made on the basis of merit. We often have similar roles available at different grades. If a candidate is suitable for a similar role or a lower grade than they have applied for, we may offer the candidate that role without the need to go through a further selection process providing the role has the same behaviours and essential skills.     

Every day, Home Office civil servants do brilliant work to develop and deliver policies and services that affect the lives of people across the country and beyond. To do this effectively and fairly, the Home Office is committed to representing modern Britain in all its diversity, and creating a welcoming, inclusive workplace where all our people are able to bring their whole selves to work and perform at their best. 

We are flexible, skilled, professional and diverse. We work to recruit and retain disabled staff and area Disability Confident Leader. We are proud to be one of the most ethnically diverse departments in the civil service. We are a Social Mobility Foundation top 75 employer. 

New entrants are expected to join on the minimum of the pay band. 

Applicants who are successful at interview will be, as part of pre-employment screening, subject to a check on the Internal Fraud Database (IFD). This check will provide information about employees who have been dismissed for fraud or dishonesty offences. This check also applies to employees who resign or otherwise leave before being dismissed for fraud or dishonesty had their employment continued. Any applicant's details held on the IFD will be refused employment. 

For further information please see the attached notes for candidates which must be read before making an application. 

Existing Civil Servants should note that some of the Home Office terms and conditions of employment have changed. It is the candidate’s responsibility to ensure they are aware of the Terms and Conditions they will adopt should they be successful in application and should refer to the notes for candidates for further details. 

Transfer Terms: Voluntary. 

If you are invited to an interview you will be required to  bring a range of documentation for the purposes of establishing identity and to aid any pre-employment checks. 

Please see the attached list of Home Office acceptable ID documents. 

Any move to the Home Office from another employer will mean you can no longer access childcare vouchers. This includes moves between government departments. You may however be eligible for other government schemes, including Tax Free Childcare. Determine your eligibility at https://www.childcarechoices.gov.uk 

<h3 class="govuk-heading-s">Reasonable Adjustments </h3>

If a person with disabilities is at a substantial disadvantage compared to a non-disabled person, we have a duty to make reasonable changes to our processes.  

If you need a change to be made so that you can make your application, you should: 

Contact Government Recruitment Service via HOrecruitment.grs@cabinetoffice.gov.uk as soon as possible before the closing date to discuss your needs 
Complete the “Assistance Required” section in the “Additional Requirements” page of your application form to tell us what changes or help you might need further on in the recruitment process. For instance, you may need wheelchair access at interview, or if you're deaf, a language service professional 
If you are experiencing accessibility problems with any attachments on this advert, please contact the email address in the ‘Contact point for applicants’ section. 

<h3 class="govuk-heading-s">Feedback </h3>



Feedback will only be provided if you attend an interview or assessment.
<h3 class="govuk-heading-s">Security</h3>
Successful candidates must meet the security requirements before they can be appointed. The level of security needed is security check (opens in a new window).

See our vetting charter (opens in a new window).
People working with government assets must complete baseline personnel security standard (opens in new window) checks.
<h3 class="govuk-heading-s">Nationality requirements</h3>
This job is broadly open to the following groups:

UK nationals
nationals of the Republic of Ireland
nationals of Commonwealth countries who have the right to work in the UK
nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities with settled or pre-settled status under the European Union Settlement Scheme (EUSS) (opens in a new window)
nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities who have made a valid application for settled or pre-settled status under the European Union Settlement Scheme (EUSS)
individuals with limited leave to remain or indefinite leave to remain who were eligible to apply for EUSS on or before 31 December 2020
Turkish nationals, and certain family members of Turkish nationals, who have accrued the right to work in the Civil Service
Further information on nationality requirements (opens in a new window)
<h3 class="govuk-heading-s">Working for the Civil Service</h3>
The Civil Service Code (opens in a new window) sets out the standards of behaviour expected of civil servants.

We recruit by merit on the basis of fair and open competition, as outlined in the Civil Service Commission's recruitment principles (opens in a new window).
The Civil Service embraces diversity and promotes equal opportunities. As such, we run a Disability Confident Scheme (DCS) for candidates with disabilities who meet the minimum selection criteria.
The Civil Service also offers a Redeployment Interview Scheme to civil servants who are at risk of redundancy, and who meet the minimum requirements for the advertised vacancy.
			<h2 class="govuk-heading-m">Apply and further information</h2>
This vacancy is part of the Great Place to Work for Veterans (opens in a new window) initiative.
Once this job has closed, the job advert will no longer be available. You may want to save a copy for your records.
<h3 class="govuk-heading-s">Contact point for applicants</h3>
Job contact :
Name :Honey Ajayi
Email :OptimusACRecruitment@homeoffice.gov.uk
Recruitment team
Email :HOrecruitment.grs@cabinetoffice.gov.uk
<h3 class="govuk-heading-s">Further information</h3>
If you feel that your application has not been treated in accordance with the recruitment principles, and wish to make a complaint, then you should contact in the first instance HORecruitment.GRS@cabinetoffice.gov.uk. If you are not satisfied with the response that you receive, then you can contact the Civil Service Commission.

<h3 class="govuk-heading-s">Attachments</h3>
Pre-employment Checking - Document Requirements (V13) 29-09-2023 Opens in new window(pdf, 426kB)
candidate_information_v10.1_nov_2023.docx Opens in new window(pdf, 281kB)

				<form method="post" action="/csjobs/sign-in?notification=needAccount" >

				{{ govukButton({
					text: "Apply now"
				  }) }}

				</form>

			</div>



		</div>

  	</div>  
</div>

{% endblock %}
