{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Applications" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    
        
    {% if data['iteration'] == "new" %}

    <div class="govuk-grid-column-two-thirds"> 

    <h1 class="govuk-heading-l">Your details</h1>
        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    <div class="govuk-grid-column-full">    
    
    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      	<p class="govuk-body-l"><a href="/csjobs/account/applications/" class="govuk-link--no-visited-state">View current applications</a></p>

		<p class="govuk-body">No data available in table.</p>
      	

    {% endif %}
  
</div>
</div>

{% endblock %}


