{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "What is the vacancy holder’s full name?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
				{% include "includes/status_null.html" %}
		{% else %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-holder-details/email" >
		{% endif %}
		
			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "mrrVhName",
				name: "mrrVhName",
				value: data['mrrVhName']
			}) }}
    	
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>
  
	</div>
</div>


{% endblock %}