{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "GRS" %}

{% set pageHeading = "How long is this vacancy’s length of employment?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    		

        <form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-details/grade" >
			
			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",				
				hint: {
					text: "For example, Fixed Term Contract ending 31 March 2024."
				},
				id: "mmrVacancyLengthEmployment",
				name: "mmrVacancyLengthEmployment",
				value: data['mmrVacancyLengthEmployment']
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}