{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Choose an option to proceed?" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<div class="govuk-inset-text">
       		<p>You told us you would like to <span class="govuk-!-font-weight-bold">{{ data['triageAsk'] }}</span>.</p>	   
		</div>

		<p>Different actions and guidance connected to your search are available. <!-- Select one of the following options and continue--></p>
		
			<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/candidates/reference-number" >	
				


            
			{{ govukRadios({
				name: "triageMulti",   				
				fieldset: {
					legend: {
						text: "Do you want to add candidates to this vacancy?",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Amend a vacancy advertisement~/grs-customer-contact/self-serve/amend-vacancy/start?query=amendVacacny", text: "Amend a vacancy advertisement", checked: checked("triageMulti", "Amend a vacancy advertisement" ), hint: {
						text: "You can request to make an ammendment to some parts of the vacancy advertisement."
					  } },
					{ value: "Withdraw a vacancy advertisement~/grs-customer-contact/self-serve/withdraw-vacancy/start?query=withdrawVacacny", text: "Withdraw a vacancy advertisement", checked: checked("triageMulti", "Withdraw a vacancy advertisement"), hint: {
						text: "You can request that the vacancy advertisement is withdrawn and no longer live."
					  } },
					  {
						divider: "or"
					  },
					{ value: "None~/grs-customer-contact/triage/advertising/", text: "Another option/something else", checked: checked("triageMulti", "None"), hint: {
						text: "You want to know how to do something else with the vacancy advertisement."
					  } }
				]
			}) }}



            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}