{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Here are some options relating to what you asked for help with" %}

{% set pageHeading = "What would you like to do?" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<div class="govuk-inset-text">
       		<p>You asked us about how to  <span class="govuk-!-font-weight-bold">{{ data['triageAsk'] }}</span>.</p>
		</div>

		
		
			<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/candidates/reference-number" >	
				


            
			{{ govukRadios({
				name: "triageMulti",   				
				fieldset: {
					legend: {
						text: "Do you want to add candidates to this vacancy?",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Amend a vacancy advertisement~/grs-customer-contact/self-serve/amend-vacancy/start?query=amendVacacny", text: "I want to make a change to the vacancy advertisement such as the vacancy holder’s details, the job title,  department location and salary details", checked: checked("triageMulti", "Amend a vacancy advertisement" ), hint: {
						text: ""
					  } },
					{ value: "Withdraw a vacancy advertisement~/grs-customer-contact/self-serve/withdraw-vacancy/start?query=withdrawVacacny", text: "I want to  withdraw the vacancy advertisement", checked: checked("triageMulti", "Withdraw a vacancy advertisement"), hint: {
						text: ""
					  } },
					  {
						divider: "or"
					  },
					{ value: "None~/grs-customer-contact/triage/advertising/", text: "I want to change something else", checked: checked("triageMulti", "None"), hint: {
						
					  } }
				]
			}) }}



            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}