{% extends "layouts/main.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Is this vacancy part of the Great Place to Work for Veterans scheme?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">This initiative aims to encourage more veterans to apply for roles at all grades, functions and professions across the Civil Service.</p>

		{% if data['status'] == "change" %}
			<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/check-your-answers" >
{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/vacancy-details/pension" >
		{% endif %}
			
			{{ govukRadios({
				name: "mrrVacancyVeterans",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mrrVacancyVeterans", "Yes") },					
					{ value: "No", text: "No", checked: checked("mrrVacancyVeterans", "No") }																			
				]
			}) }}
            
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}