{% extends "layouts/main.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Has this vacancy been approved?" %}
{% set pageSection = "Manual recruitment request" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p class="govuk-body">You will need to obtain approval in line with your department’s procedures.</p>
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/check-your-answers" >
				{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/grs-customer-contact/self-serve/manual-recruitment-request/vacancy-details/documentation" >
		{% endif %}
			
			{{ govukRadios({
				name: "mrrVacancyApproved",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: pageHeading,
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mrrVacancyApproved", "Yes") },					
					{ value: "No~/grs-customer-contact/self-serve/manual-recruitment-request/vacancy-details/request-not-complete", text: "No", checked: checked("mrrVacancyApproved", "No") }																			
				]
			}) }}

			<div class="govuk-button-group">    	
				{{ govukButton({
      	    		text: "Continue"			    
    	    	}) }}
				<a class="govuk-link" href="/grs-customer-contact/self-serve/manual-recruitment-request/vacancy-details/?mrrVacancyApproved=NotRequired">Approval not required</a>
			</div>

        </form>

	</div>
</div>


{% endblock %}