{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}
{% set defaultRole = 'Senior Events and Visits Manager ' %}
{% set defaultLocation = 'Bristol, London, Newcastle-upon-Tyne, York' %}
{% set defaultSalary = '£39,439 - £47,039' %}
{% set defaultCloseDate = '11:55 pm on Friday 26th January 2024' %}
{% set defaultRef = '335730' %}
{% set defaultDepartment = 'Department for Environment, Food and Rural Affairs' %}


{% set pageHeading = "Section 1 submitted" %}
{% set pageSection = "" %}

{% block content %}



	<div class="govuk-grid-row">    
		<div class="govuk-grid-column-two-thirds">  
						
			{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}	

			<div class="govuk-inset-text">
				{{ data['searchKeyword'] | capitalize}}<br>Ref: {{defaultRef}}
			</div>


			

				<!-- <p>Thank you for submitting the first section of your application.</p>
				<p>You can now complete the second section, where you must provide supporting evidence.</p>


				<p>Thank you for completing and submitting section 1 of your application.</p> -->

				<h2 class="govuk-heading-m">What to do next</h2>
				<p>You can now start section 2 of your application. You will be asked to give us further information and provide supporting evidence, which will be assessed.</p>
				<p class="govuk-body">We will ask you to provide information that may include:</p>
				<ul class="govuk-list govuk-list--bullet">					
					<li>digital identity check</li>					
					<li>health declaration</li>										
					<li>National Security Vetting</li>						
					<li>previous Civil Service employment</li>
					<li>references</li>					
					<li>your employment history</li>				
					<li>your right to work</li>					
				</ul>


				{{ govukWarningText({
					text: "The deadline for submitting this application is 8:10 PM on 29 February 2024",
					iconFallbackText: "Warning",
					classes: "govuk-!-margin-top-7"
				  }) }}

				
				<form method="post" action="#" >
				<!-- <form method="post" action="/csjobs/pec/candidate/details?navpage=det" > -->

					<input type="hidden" id="applicationStatus" name="applicationStatus" value="started_two" />
				
					<div class="govuk-button-group govuk-!-margin-top-3 govuk-!-margin-bottom-7">

						{{ govukButton({
							text: "Start section 2",
							isStartButton: true                   
						}) }}
					</div>

				</form>

				<p><a href="#" class="govuk-link govuk-link--no-visited-state">View the job advert</a> | <a href="#" class="govuk-link govuk-link--no-visited-state">Withdraw application</a> </p>
				<!-- <div class="govuk-button-group">					
					{{ govukButton({
						text: "View the job advert",
						classes: "govuk-button--secondary"                 
					}) }}

					{{ govukButton({
						text: "Withdraw application",
						classes: "govuk-button--secondary"                 
					}) }}
	
				</div> -->

				
			
			



			
							

	</div>
	</div>



{% endblock %}