{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Eligibility" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
		{% include "includes/nav_application_part1.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

      <h1 class="govuk-heading-l">Declaration</h1>
        
        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

		<h1 class="govuk-heading-l govuk-!-padding-top-4">{{ pageHeading }}</h1>			


		<p>Not all staff working in a government department or accredited non-departmental public body are considered to be civil servants. </p>
		<p>If any of the following statements apply to your circumstances then you should select ‘No’ when answering.</p>
		<p>You are:</p>
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
			<li>a member of agency staff working in a government department</li>
			<li>employed by an external organisation contracted into government roles</li>
			<li>a self-employed contractor working in a government department</li>
		</ul>
        

		<form method="post" action="/csjobs/pec/application/personal-information" >

			
		{{ govukRadios({
			name: "applicationEligibilityCivilServant",
			fieldset: {
			  legend: { text: "Are you already a civil servant, or employed by a Civil Service Commission accredited public body?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: { html: NationalNumberHtml }, checked: checked("applicationEligibilityCivilServant", "Yes") },
				{ value: "No", text: "No", checked: checked("applicationEligibilityCivilServant", "No")  }
			]
		}) }}
        	

		<h2 class="govuk-heading-m govuk-!-margin-top-7">Nationality requirements</h2>
		<p>This job is broadly open to the following groups:</p>
		<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
			<li>UK nationals</li>
			<li>nationals of the Republic of Ireland</li>
			<li>nationals of Commonwealth countries who have the right to work in the UK</li>
			<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities with settled or pre-settled status under the European Union Settlement Scheme (EUSS) (opens in a new window)</li>
			<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities who have made a valid application for settled or pre-settled status under the European Union Settlement Scheme (EUSS)</li>
			<li>individuals with limited leave to remain or indefinite leave to remain who were eligible to apply for EUSS on or before 31 December 2020</li>
			<li>Turkish nationals, and certain family members of Turkish nationals, who have accrued the right to work in the Civil Service</li>
		</ul>
        
		<p class="govuk-!-margin-bottom-7">For more information on job nationality requirements and the right to work in the UK, see the <a href="#">Civil Service Nationality rules (opens in a new window)</a> and the <a href="#">UK Visas and Immigration rules (opens in a new window)</a></p>


		{{ govukRadios({
			classes: "govuk-radios--inline",
			name: "applicationEligibilityNationality",
			fieldset: {
			  legend: { text: "Do you meet the nationality requirements for this post?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: { html: NationalNumberHtml }, checked: checked("applicationEligibilityNationality", "Yes") },
				{ value: "No", text: "No", checked: checked("applicationEligibilityNationality", "No")  }
			]
		}) }}



		{{ govukRadios({
			classes: "govuk-radios--inline",
			name: "applicationEligibilityRightToRemain",
			fieldset: {
			  legend: { text: "Will you have the right to remain and take up work in the UK before employment commences?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: { html: NationalNumberHtml }, checked: checked("applicationEligibilityRightToRemain", "Yes") },
				{ value: "No", text: "No", checked: checked("applicationEligibilityRightToRemain", "No")  }
			]
		}) }}

		<!-- <h2 class="govuk-heading-m">Language skills</h2> -->
		

		{{ govukRadios({
			classes: "govuk-radios--inline",
			name: "applicationEligibilityLanguageSkills",
			fieldset: {
			  legend: { text: "Do you meet the language skills requirements?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", conditional: { html: NationalNumberHtml }, checked: checked("applicationEligibilityLanguageSkills", "Yes") },
				{ value: "No", text: "No", checked: checked("applicationEligibilityLanguageSkills", "No")  }
			]
		}) }}

		<!-- <h2 class="govuk-heading-m">Licences</h2> -->

		{% set EligibilityLicenceHtml %}            
		{{ govukTextarea({
			name: "applicationEligibilityLicenceDetails",
			id: "applicationEligibilityLicenceDetails",
			label: { text: "Provide details of how you meet the licence requirements", classes: "govuk-label", isPageHeading: false },			
			rows: "6",			
			value: data['applicationEligibilityLicenceDetails']				
		}) }}        
        {% endset -%}


		{{ govukRadios({
			name: "applicationEligibilityLicence",
			fieldset: {
			  legend: { text: "Do you meet the licence requirements?", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes", checked: checked("applicationEligibilityLicence", "Yes") },
				{ value: "No", text: "No", checked: checked("applicationEligibilityLicence", "No")  },
				{ value: "Similar equivalent held", text: "Similar equivalent held", conditional: { html: EligibilityLicenceHtml }, checked: checked("applicationEligibilityLicence", "Similar equivalent held")  }
			]
		}) }}

        

			<div class="govuk-button-group">
				{{ govukButton({
				  text: "Back",
				  href: "/csjobs/pec/application/guidance"
				}) }}
			  
				{{ govukButton({
				  text: "Continue",
				  classes: "govuk-!-margin-top-7"          						  
				}) }}
			  </div>
		

        </form>





      
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


