{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Guidance" %}
{% set pageSection = "Application" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
		{% include "includes/nav_application_part1.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}	
		
		<p class="govuk-body">The application is split into 2 sections.</p>
		
		<h3 class="govuk-heading-m">Section 1 - Basic information</h3>
		<p class="govuk-body">We will ask you to provide basic information such as your:</p>
		<ul class="govuk-list govuk-list--bullet">					
			<li>name and contact details
			<li>eligibility for the job</li>
			<li>nationality</li>
		</ul>

		<p class="govuk-body">We will also ask you diversity and inclusion monitoring questions.</p>
		
		<h3 class="govuk-heading-m">Section 2 - Further details and supporting evidence</h3>
		<p class="govuk-body">When you have completed section 1, we will move your application to the next stage, section 2, where you will be asked to give us further information, which will be assessed.</p>

		<h2 class="govuk-heading-m govuk-!-margin-top-7">Before you start</h2>
		<p class="govuk-body">Consider the following points:</p>
		<ul class="govuk-list govuk-list--bullet">					
			<li>Civil Service Jobs will timeout after 45 minutes of inactivity</li>
			<!-- <li>You must save each application page manually by selecting 'Save and continue'</li> -->			
			<li>You cannot make changes to a section once it has been submitted</li>
			<li>You cannot resubmit your application if you withdraw it</li>			
			
			<li>Multiple applications for the same job may result in all of them being withdrawn</li>
			<li>We will email you about your application as it progresses</li>
		</ul>

		{{ govukWarningText({
			text: "The deadline for submitting this application is 8:10 PM on 29 February 2024",
			iconFallbackText: "Warning",
			classes: "govuk-!-margin-top-7"
		  }) }}

		  <div class="govuk-inset-text">
		  <p class="govuk-body">If you have any concerns about what we will do with your information, please see our <a href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?pageclass=StandardMessage&display=privacy" target="_blank">Civil Service Jobs privacy notice (opens in new tab)</a>.</p>
		</div>
		

			    
        <form method="post" action="/csjobs/pec/application/eligibility?navpage=eligibility" >
        	
			<input type="hidden" id="applicationStatus" name="applicationStatus" value="started_one" />

			{{ govukButton({
          		text: "Start section 1",
				classes: "govuk-!-margin-top-3",
				isStartButton: true        
        	}) }}      

		</form>
          
    
  
	</div>
</div>

{% endblock %}


