{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Vacancy advert details" %}
{% set pageSection = "Amend a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    			
        <div class="govuk-inset-text">
			<p>Once an advert is live, you can only make some limited changes. It may not be possible for you to change everything that you would like to.</p>
		</div>  
		

		
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Vacancy holder</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">						
			{% include "includes/query/amVac/vacancyHolder.html" %}
		</dl>

		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Vacancy details</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">									
			{% include "includes/query/amVac/vacancy.html" %}
			{% include "includes/query/amVac/department.html" %}
			{% include "includes/query/amVac/area.html" %}
			{% include "includes/query/amVac/job_type.html" %}
			{% include "includes/query/amVac/profession.html" %}
			{% include "includes/query/amVac/location.html" %}
			{% include "includes/query/amVac/pattern.html" %}
			<!-- {% include "includes/query/amVac/grade.html" %} -->
			<!-- {% include "includes/query/amVac/salary.html" %} -->
			<!-- {% include "includes/query/amVac/prison.html" %} -->
			<!-- {% include "includes/query/amVac/veterans.html" %} -->
			<!-- {% include "includes/query/amVac/pension.html" %}			
			{% if data['amVacPreChecks'] == "No" %}
			{% include "includes/query/amVac/pre-employment.html" %}			
			{% endif %} -->
		</dl>

        <form method="post" action="/field-of-dreams/self-serve/amend-vacancy/reason" >
            
            <input type="hidden" id="vacancyDetailsConfirmed" name="vacancyDetailsConfirmed" value="Yes" />
			
			<div class="govuk-button-group">
            {{ govukButton({
      	    	text: "Save and continue"			    
    	    }) }}            

			<!-- {{ govukButton({
				text: "Withdraw vacancy",
				classes: "govuk-button--warning",
				href: "/field-of-dreams/self-serve/withdraw-vacancy/"
			  }) }} -->
			</div>
            
        </form>

            <!-- {{ govukButton({
      	    	text: "Live chat",    
				classes: "govuk-button--secondary"
    	    }) }} -->

        
  
	</div>
</div>

{% endblock %}