{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Vacancy advertisement details" %}
{% set pageSection = "Amend a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    			
            
		<p>You are advised that once a vacancy advert is live, you can only make some changes and not all required changes are possible.</p>

		
		<div class="govuk-inset-text">
			<p class="govuk-body">Ray Kinsella
			<br>ray.kinsella@cabinetoffice.gov.uk
			<br>0191 456789</p>
		</div>
				
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
			

			{% include "includes/query/amVac/vacancy.html" %}
			{% include "includes/query/amVac/department.html" %}
			{% include "includes/query/amVac/area.html" %}
			{% include "includes/query/amVac/job_type.html" %}
			{% include "includes/query/amVac/profession.html" %}
			
			
			
			{% include "includes/query/amVac/location.html" %}
			{% include "includes/query/amVac/pattern.html" %}
			<!-- {% include "includes/query/amVac/grade.html" %} -->
			<!-- {% include "includes/query/amVac/salary.html" %} -->
			<!-- {% include "includes/query/amVac/prison.html" %} -->
			<!-- {% include "includes/query/amVac/veterans.html" %} -->
			<!-- {% include "includes/query/amVac/pension.html" %}			
			{% if data['amVacPreChecks'] == "No" %}
			{% include "includes/query/amVac/pre-employment.html" %}			
			{% endif %} -->
		</dl>

		{% if data['amVacPreChecks'] == "Yes" %}			
			<h2 class="govuk-heading-m">Pre-employment checks</h2>
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
				{% if data['amVacPreChecks'] == "Yes" %}
				{% include "includes/query/amVac/pre-employment.html" %}			
				{% endif %}
				{% include "includes/query/amVac/reserved_role.html" %}
				{% include "includes/query/amVac/checks_required.html" %}			
				{% include "includes/query/amVac/criminal_record.html" %}
				{% include "includes/query/amVac/security_level.html" %}
				<!-- Only need these if CRC is enhanced -->
				{% if data['amVacPreChecksCriminalRecord'] == "Enhanced" %}
					{% include "includes/query/amVac/regulated_adults.html" %}
					{% include "includes/query/amVac/regulated_children.html" %}
					{% if (data['amVacPreChecksRegulatedActivity'] == "Yes" or data['amVacPreChecksChildren'] == "Yes")  %}
						{% include "includes/query/amVac/home_address.html" %}
					{% endif %}
					{% include "includes/query/amVac/volunteer.html" %}
				{% endif %}
				<!-- // -->				
				
			</dl>

		{% endif %}


        <form method="post" action="/field-of-dreams/self-serve/amend-vacancy/reason" >
            
            <input type="hidden" id="vacancyDetailsConfirmed" name="vacancyDetailsConfirmed" value="Yes" />
			
            {{ govukButton({
      	    	text: "Confirm and continue"			    
    	    }) }}            
            
        </form>

            <!-- {{ govukButton({
      	    	text: "Live chat",    
				classes: "govuk-button--secondary"
    	    }) }} -->

        
  
	</div>
</div>

{% endblock %}