{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Vacancy advertisement details" %}
{% set pageSection = "Amend a vacancy advertisement" %}
{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    			
            
		<p>You are advised that once a vacancy advert is live, you can only make some changes and not all required changes are possible.</p>

				
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
			{% include "includes/query/mrr/budget.html" %}
			{% include "includes/query/mrr/vacancy.html" %}
			{% include "includes/query/mrr/department.html" %}
			{% include "includes/query/mrr/area.html" %}
			{% include "includes/query/mrr/job_type.html" %}
			{% include "includes/query/mrr/profession.html" %}
			{% include "includes/query/mrr/approach.html" %}			
			{% include "includes/query/mrr/permanent.html" %}
			<!-- Only show is not permanent role -->
			{% if data['mrrVacancyPermanent'] == "No" %}
				{% include "includes/query/mrr/contract_type.html" %}
				{% include "includes/query/mrr/length.html" %}
			{% endif %}
			<!-- // -->
			{% include "includes/query/mrr/location.html" %}
			{% include "includes/query/mrr/pattern.html" %}
			{% include "includes/query/mrr/grade.html" %}
			{% include "includes/query/mrr/salary.html" %}
			{% include "includes/query/mrr/prison.html" %}
			{% include "includes/query/mrr/veterans.html" %}
			{% include "includes/query/mrr/pension.html" %}			
			{% if data['mrrPreChecks'] == "No" %}
			{% include "includes/query/mrr/pre-employment.html" %}			
			{% endif %}
		</dl>

		{% if data['mrrPreChecks'] == "Yes" %}			
			<h2 class="govuk-heading-m">Pre-employment checks</h2>
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
				{% if data['mrrPreChecks'] == "Yes" %}
				{% include "includes/query/mrr/pre-employment.html" %}			
				{% endif %}
				{% include "includes/query/mrr/reserved_role.html" %}
				{% include "includes/query/mrr/checks_required.html" %}			
				{% include "includes/query/mrr/criminal_record.html" %}
				{% include "includes/query/mrr/security_level.html" %}
				<!-- Only need these if CRC is enhanced -->
				{% if data['mrrPreChecksCriminalRecord'] == "Enhanced" %}
					{% include "includes/query/mrr/regulated_adults.html" %}
					{% include "includes/query/mrr/regulated_children.html" %}
					{% if (data['mrrPreChecksRegulatedActivity'] == "Yes" or data['mrrPreChecksChildren'] == "Yes")  %}
						{% include "includes/query/mrr/home_address.html" %}
					{% endif %}
					{% include "includes/query/mrr/volunteer.html" %}
				{% endif %}
				<!-- // -->				
				
			</dl>

		{% endif %}


        <form method="post" action="/field-of-dreams/self-serve/amend-vacancy/reason" >
            
            <input type="hidden" id="vacancyDetailsConfirmed" name="vacancyDetailsConfirmed" value="Yes" />
			
            {{ govukButton({
      	    	text: "Confirm and continue"			    
    	    }) }}            
            
        </form>

            <!-- {{ govukButton({
      	    	text: "Live chat",    
				classes: "govuk-button--secondary"
    	    }) }} -->

        
  
	</div>
</div>

{% endblock %}