{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Amend a vacancy advertisement" %}
{% set pageSection = "Self-serve query" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p class="govuk-body-s">Last updated 16 November 2023</p>
		<p class="govuk-body govuk-!-margin-bottom-7">Some pages have dynamic content, so if using the links and not going through the flows that lead to each page, its not always possible to show the right content for all scenarios.</p>


		

		
		
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">


			
			<li><a href="/field-of-dreams/self-serve/amend-vacancy/start?query=manualRecruitmentRequest" class="govuk-link govuk-link--no-visited-state" >Amend a vacancy advertisement (Journey start)</a></li>
            <li><a href="/field-of-dreams/self-serve/amend-vacancy/reference-number" class="govuk-link govuk-link--no-visited-state" >What is the vacancy advertisement’s reference number?</a></li>
			<li><a href="/field-of-dreams/self-serve/amend-vacancy/advert-not-live" class="govuk-link govuk-link--no-visited-state" >This vacancy advertisement is not live</a></li>


			<li><a href="/field-of-dreams/self-serve/amend-vacancy/advertisement-details" class="govuk-link govuk-link--no-visited-state" >Vacancy advertisement details</a></li>
			<li><a href="/field-of-dreams/self-serve/amend-vacancy/reason" class="govuk-link govuk-link--no-visited-state" >What is the reason for amending this vacancy advertisement?</a></li>
			<li><a href="/field-of-dreams/self-serve/amend-vacancy/confirmation" class="govuk-link govuk-link--no-visited-state" >Amend to advertisement request submitted</a></li>
            
        </ul>

		
		



		


		  {{ govukButton({
			text: "Return to Field of Dreams overview",
			classes: "govuk-button--secondary",
			href: "/field-of-dreams"
		  }) }}


	</div>
</div>

{% endblock %}