{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "Which business area of the department is this vacancy in?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p>You’ve told us the department is {{data['mmrVacancyDepartment']}} </p>

        <form method="post" action="/voldemort/self-serve/manual-recruitment-request/vacancy-details/job-type" >
			
			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "mmrVacancyArea",
				name: "mmrVacancyArea",
				value: data['mmrVacancyArea']
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}