{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Which profession does this vacancy belong to?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	

        <form method="post" action="/voldemort/self-serve/manual-recruitment-request/vacancy-details/candidate-type" >
			

			{% set financeHtml %}

				{{ govukRadios({
					name: "mmrVacancyProfession",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}
					},
					items: [                
						{ value: "Counter Fraud", text: "Counter Fraud", checked: checked("mmrVacancyProfession", "Counter Fraud") },																
						{ value: "Government Corporate Finance", text: "Government Corporate Finance", checked: checked("mmrVacancyProfession", "Government Corporate Finance") },					
						{ value: "Government Economic Service", text: "Government Economic Service", checked: checked("mmrVacancyProfession", "Government Economic Service") },					
						{ value: "Government Finance", text: "Government Finance", checked: checked("mmrVacancyProfession", "Government Finance") },					
						{ value: "Government Legal Service", text: "Government Legal Service", checked: checked("mmrVacancyProfession", "Government Legal Service") },																	
						{ value: "Internal Audit", text: "Internal Audit", checked: checked("mmrVacancyProfession", "Internal Audit") },					
						{ value: "International Trade", text: "International Trade", checked: checked("mmrVacancyProfession", "International Trade") },											
						{ value: "Tax Profession", text: "Tax Profession", checked: checked("mmrVacancyProfession", "Tax Profession") }														
					]
				}) }}

			{% endset -%}

			{% set digitalHtml %}

				{{ govukRadios({
					name: "mmrVacancyProfession",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}
					},
					items: [                						
						{ value: "Digital, Data and Technology", text: "Digital, Data and Technology", checked: checked("mmrVacancyProfession", "Digital, Data and Technology") },					
						{ value: "Government Communication Service", text: "Government Communication Service", checked: checked("mmrVacancyProfession", "Government Communication Service") },											
						{ value: "Government Science and Engineering", text: "Government Science and Engineering", checked: checked("mmrVacancyProfession", "Government Science and Engineering") },					
						{ value: "Government Social Research", text: "Government Social Research", checked: checked("mmrVacancyProfession", "Government Social Research") },					
						{ value: "Government Statistical Service", text: "Government Statistical Service", checked: checked("mmrVacancyProfession", "Government Statistical Service") },					
						{ value: "Knowledge and Information Management", text: "Knowledge and Information Management", checked: checked("mmrVacancyProfession", "Knowledge and Information Management") }						
					]
				}) }}			

			{% endset -%}

			{% set researchHtml %}

				{{ govukRadios({
					name: "mmrVacancyProfession",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}
					},
					items: [                
						{ value: "Government Operational Research Services", text: "Government Operational Research Services", checked: checked("mmrVacancyProfession", "Government Operational Research Services") },					
						{ value: "Government Project Delivery", text: "Government Project Delivery", checked: checked("mmrVacancyProfession", "Government Project Delivery") },					
						{ value: "Government Property", text: "Government Property", checked: checked("mmrVacancyProfession", "Government Property") },					
						{ value: "Operational Delivery", text: "Operational Delivery", checked: checked("mmrVacancyProfession", "Operational Delivery") },					
						{ value: "Planning Inspectors", text: "Planning Inspectors", checked: checked("mmrVacancyProfession", "Planning Inspectors") },					
						{ value: "Planning", text: "Planning", checked: checked("mmrVacancyProfession", "Planning") },					
						{ value: "Policy", text: "Policy", checked: checked("mmrVacancyProfession", "Policy") }						
					]
				}) }}			

			{% endset -%}

			{% set resourceHtml %}

				{{ govukRadios({
					name: "mmrVacancyProfession",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}
					},
					items: [                
						{ value: "Government Veterinary", text: "Government Veterinary", checked: checked("mmrVacancyProfession", "Government Veterinary") },					
						{ value: "Human Resources", text: "Human Resources", checked: checked("mmrVacancyProfession", "Human Resources") },					
						{ value: "Intelligence Analysis", text: "Intelligence Analysis", checked: checked("mmrVacancyProfession", "Intelligence Analysis") },					
						{ value: "Medical", text: "Medical", checked: checked("mmrVacancyProfession", "Medical") },					
						{ value: "Psychology", text: "Psychology", checked: checked("mmrVacancyProfession", "Psychology") },					
						{ value: "Security", text: "Security", checked: checked("mmrVacancyProfession", "Security") }																	
					]
				}) }}			

			{% endset -%}



			{{ govukRadios({
				name: "mmrVacancyProfessionOption",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Finance, tax and legal professions", text: "Finance, tax and legal professions", checked: checked("mmrVacancyProfessionOption", "Finance, tax and legal professions"), conditional: { html: financeHtml } },
					{ value: "Digital, data and technology professions", text: "Digital, data and technology professions", checked: checked("mmrVacancyProfessionOption", "Digital, data and technology professions"), conditional: { html: digitalHtml } },
					{ value: "Research, planning and policy professions", text: "Research, planning and policy professions", checked: checked("mmrVacancyProfessionOption", "Research, planning and policy professions"), conditional: { html: researchHtml } },	
					{ value: "Human Resources, science and security professions", text: "Human Resources, science and security professions", checked: checked("mmrVacancyProfessionOption", "Human Resources, science and security professions"), conditional: { html: resourceHtml } }				
				]
			}) }}


			



            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}