{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}


{% set pageHeading = "Delete job alert 2653541" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-full">

    

    	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>
		<p class="govuk-body">Would you like to delete the following alert?</p>
    	

		{% if data['alertOne'] == "Yes"  %}

		<h2 class="govuk-heading-m">Alert reference 2653541</h2>
		<p>Send alert: {{ data['alertFrequency'] }}</p>
		<p>Keywords: {{ data['alertKeyword'] }} </p>
		<p>Overseas Jobs: {{ data['alertOverseas'] }}</p>

		<form method="post" action="/csjobs/account/job-alerts?notification=alertDeleted" >

			<input type="hidden" id="alertOne" name="alertOne" value="" />
			
			{{ govukButton({
				text: "Confirm alert delete"			
		  	}) }}

		</form>


		  <p><a href="#">Cancel confirm alert delete</a></p>
		  
		{% endif %}

		


  	</div>  
</div>

{% endblock %}
