{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}


{% set pageHeading = "Edit job alert" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	
	<div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>
		<p class="govuk-body">You can create <a href="#">email alerts</a> for jobs that may interest you.</p>
    	

		

		


  	</div>  
</div>

{% endblock %}
