<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Reserve list</dt>
    <dd class="govuk-summary-list__value">
        {% if data['mrrCandidate3Title'] %}
            {{data['mrrCandidate3Reserve']}}
        {% elif data['mrrCandidate2Title'] %}
            {{data['mrrCandidate2Reserve']}}
        {% else %}        
            {{data['mrrCandidate1Reserve']}}
        {% endif %}
        
        </dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> the vacancy’s budget approval status</span></a>
    </dd>
</div>


{% if data['mrrCandidate3Title'] %}
    {% if data['mrrCandidate3Reserve'] != "No" %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference number</dt>
            <dd class="govuk-summary-list__value">{{data['mrrCandidate3Reference']}}</dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> the vacancy’s budget approval status</span></a>
            </dd>
        </div>
    {% endif %}
{% elif data['mrrCandidate2Title'] %}
    {% if data['mrrCandidate2Reserve'] != "No" %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference number</dt>
            <dd class="govuk-summary-list__value">{{data['mrrCandidate2Reference']}}</dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> the vacancy’s budget approval status</span></a>
            </dd>
        </div>
    {% endif %}
{% elif data['mrrCandidate1Title'] %}
    {% if data['mrrCandidate1Reserve'] != "No" %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference number</dt>
            <dd class="govuk-summary-list__value">{{data['mrrCandidate1Reference']}}</dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> the vacancy’s budget approval status</span></a>
            </dd>
        </div>
    {% endif %}
{% endif %}