{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}

{% set pageHeading = "Employment history" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
      {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

	<h1 class="govuk-heading-l govuk-!-padding-top-4">Employment history</h1>


	<form method="post" action="/candidate/references?navpage=ref" >
	
		{{ govukRadios({
			name: "canEmploymentHistory",
			fieldset: {
				legend: { text: "Have you been employed within the last 3 years", isPageHeading: false, classes: "govuk-fieldset__legend" } },
			items: [
				{ value: "Yes", text: "Yes" },
				{ value: "No", text: "No" }				
			]
		}) }}

		<div class="govuk-inset-text">
			<p class="govuk-body">Enter details of your previous employment history covering at least the last three years, starting with the most recent.</p>
		</div>
		
		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
					
				{{ govukInput({
					label: { text: "Employer name", classes: "govuk-label", isPageHeading: false },      			
					classes: "govuk-!-width-two-thirds",
					id: "canEmploymentEmployerOne",
					name: "canEmploymentEmployerOne"
				}) }}


				{{ govukDateInput({
					id: "canEmploymentEmployerOneStartDate",
					namePrefix: "canEmploymentEmployerOneStartDate",
					fieldset: {
						legend: {
							text: "When did you start working for this employer?",
							isPageHeading: true,
							classes: "govuk-fieldset__legend"
					  	}
					},
					hint: {
					  	text: "For example, 27 3 2020"
					}
				}) }}

				{% set leavingDateHtml %}
              		{{ govukDateInput({
                		id: "canEmploymentEmployerOneEndDate",
                		namePrefix: "canEmploymentEmployerOneEndDate",
                		fieldset: {
                  			legend: {
                    			text: "When did you stop working for this employer?",
                    			isPageHeading: true,
                    			classes: "govuk-fieldset__legend"
                  			}
                		},
                		hint: {
                  			text: "For example, 27 3 2020"
                		}
              		}) }}
            	{% endset -%}

            	{{ govukRadios({
              		name: "canEmploymentEmployerOneStatus",        
              		fieldset: {
                		legend: {
                  			text: "Are you still working there?",
                  			isPageHeading: false,
                  			classes: "govuk-fieldset__legend"
                		}
              		},
              		items: [
                		{ value: "Yes", text: "Yes" },                
                		{ value: "No", text: "No" , conditional: { html: leavingDateHtml } }
              		]
            	}) }}
			
			</fieldset>				
		</div>


		<p class="govuk-body govuk-!-margin-bottom-7"><a href="#">Add another employer</a></p>				
		
		{{ govukButton({
			text: "Save and continue"                  
		}) }}		

	</form>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    	<h1 class="govuk-heading-l govuk-!-padding-top-4">Employment history</h1>


		<form method="post" action="/candidate/references?navpage=ref" >


			{% set EmploymentDetailsHtml %}

			<p class="govuk-body-l">Enter details of your previous employment history covering at least the last three years, starting with the most recent.</p>
			
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
						
					{{ govukInput({
						label: { text: "Employer name", classes: "govuk-label govuk-!-font-weight-bold", isPageHeading: false },      			
						classes: "govuk-!-width-two-thirds",
						id: "canEmploymentEmployerOne",
						name: "canEmploymentEmployerOne",
						value: data['canEmploymentEmployerOne']
					}) }}

					<div class="govuk-date-input" id="passport-issued">
						<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date from</p>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">                
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">                
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="{{ data['passport-issued-month'] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">						
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="">
							</div>
						</div>
					</div>
					
					<div class="govuk-date-input" id="passport-issued">
						<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-margin-top-2">Date To</p>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">                
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">						
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">						
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="">
							</div>
						</div>
					</div>
				</fieldset>
			</div>

			{{ govukButton({
				text: "Add another instance",
				classes: "govuk-!-margin-top-5",
				href: "#"	
			}) }}


						{% endset -%}


		
			{{ govukRadios({
				name: "canEmploymentHistory",
				fieldset: {
					legend: { text: "Have you been employed within the last 3 years", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
				items: [
					{ value: "Yes", text: "Yes", conditional: { html: EmploymentDetailsHtml } },
					{ value: "No", text: "No" }				
				]
			}) }}

			

			<div class="govuk-button-group">
				{{ govukButton({
					text: "Back",
					href: "/candidate/right-to-work?navpage=rtw"
				}) }}
		
				{{ govukButton({
					text: "Continue"                  
				}) }}
			</div>

    	</form>

    {% endif %}
  
	</div>
</div>

{% endblock %}


