{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}
{% set showIterationLinks = true %}

{% set pageHeading = "Employment history" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
      {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

      <h1 class="govuk-heading-l">Employment history</h1>


        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    <h1 class="govuk-heading-l">Employment history</h1>

	{{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Have you been employed within the last 3 years", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }				
		]
	  }) }}

	<p>Enter details of your previous employment history covering at least the last three years, starting with the most recent.</p>
	<div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          
          
		  {{ govukInput({
			label: { text: "Employer name", classes: "govuk-label govuk-!-font-weight-bold", isPageHeading: false },      			
			classes: "govuk-!-width-two-thirds",
			id: "refOneFullName",
			name: "refOneFullName"
		}) }}

          <div class="govuk-date-input" id="passport-issued">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date from</p>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">                
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="dd">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">                
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="mm">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2023">
              </div>
            </div>
          </div>
          
          <div class="govuk-date-input" id="passport-issued">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-margin-top-2">Date To</p>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">                
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="dd">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="mm">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2023">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

	  {{ govukButton({
		text: "Add another instance"
				
	  }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back"
        }) }}
      
        {{ govukButton({
          text: "Continue"
                  
        }) }}
      </div>


      
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


