{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}
{% set showIterationLinks = true %}

{% set pageHeading = "Health Declaration" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
      {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

    <h1 class="govuk-heading-l">Your details</h1>
        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    <h1 class="govuk-heading-l">Health Declaration</h1>


	<p>We ask about your health because:</p>
	<ul class="govuk-list govuk-list--bullet">

		<li>if you have a disability of health condition we need to understand how it could affect your ability to carry out the tasks of the job you’re appying for</li>
		<li>it enables us to consider adjustments we could make to help you take up employment with us and carry out the duties of the job effectively</li>
		<li>we must be confident that your attendance record will be good</li>
	</ul>




	{{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Do you need any adjustments (including adaptations to the workplace) to assist you at work?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}


	  {{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Do you have any health issues, a disability or other conditions that have affected your ability to work in the past?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}

	  {{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Do you have any health issues, a disability or other conditions that may affect your ability to underake the duties outlined in the job advert?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}

	  {{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Are you having, or waiting for, treatment or investigations for any medical condition at present that may affect your attendance or may require adjustments at work?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}


	  {{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Have you ever had any health issues which may have been caused or made worse by work (including an educational setting) and which you think may affect your ability to undertake the new role or place you at any risk in the workplace?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}

	  {{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Have you had any health-related absence from work of more than 16 days within the last 2 years?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}


	  {{ govukRadios({
		name: "refRequestUnsuitable",
		fieldset: {
		  legend: { text: "Do you have any health issues or disabilities which you would like to discuss with our occupational health provider?", isPageHeading: false, classes: "govuk-fieldset__legend govuk-!-font-weight-bold" } },
		items: [
			{ value: "Yes", text: "Yes" },
			{ value: "No", text: "No" }			
		]
	  }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back"
        }) }}
      
        {{ govukButton({
          text: "Continue"
                  
        }) }}
      </div>


      
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


