{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showNavLinks = true %}
{% set showIterationLinks = true %}

{% set pageHeading = "Self Employment" %}
{% set pageSection = "" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">    
      {% include "includes/nav.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">    
    
    {% if data['iteration'] == "new" %}

    <h1 class="govuk-heading-l">Your details</h1>
        </div>
      
    <!-- ////////////// END OF NEW ////////////////// -->
    {% else %}

    <h1 class="govuk-heading-l">Self Employment</h1>

    

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back"
        }) }}
      
        {{ govukButton({
          text: "Continue"
                  
        }) }}
      </div>


      
    
    </form>

    {% endif %}
  
</div>
</div>

{% endblock %}


