{% extends "layouts/landing.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Government Recruitment Service (GRS)" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-two-thirds ">
                <h2 class="govuk-heading-m">GRS selection and assessment services</h2>
                <p class="govuk-body">GRS offers bespoke selection and assessment services for a specific and diverse candidate market, with end-to-end recruitment data and insight. Our highly-skilled workforce has an in-depth understanding of Civil Service regulations with access to best-in-class sifting and selection tools, and exclusive access to innovative pre-employment screening.</p>
                <p class="govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="/field-of-dreams/services-and-functionality">Find out more about GRS selection and assessment services</a></p>

                <h2 class="govuk-heading-m">GRS who we are and what we do</h2>
                <p class="govuk-body">Our teams have in-depth knowledge across the recruitment spectrum. The success of our platforms is due to continuous improvement linked to customer feedback.</p>
                <p class="govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="/field-of-dreams/who-we-are">Find out more about who we are and what we do</a></p>
            </div>
            <div class="govuk-grid-column-one-third">
                {% include "/includes/did_youknow.html" %}
                {% include "/includes/guidance.html" %}
            </div>
        </div>
    
    </div>
</div>

{% endblock %}