{% extends "layouts/vacancy.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Vacancy holders" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    
    <!-- Iteration one of the recruitment process -->
    {% include "/includes/vhLayoutOne.html" %}
    
</div>

{% endblock %}