{% extends "layouts/vacancy.html" %}

{% set serviceName = "Government Recruitment Service" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Vacancy" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

<div class="govuk-grid-row">
     
    <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
        <p class="govuk-body">As a vacancy holder you work on the recruitment process from creating advertisements through to final candidate onboarding.</p>
        <p class="govuk-body">To assist you in helping people join the Civil Service, this page has links to useful forms, information and guidance about <a href="#">advertising a vacancy</a>, <a href="#">making pre-employment</a> and <a href="#">right to work checks</a>, <a href="#">recruiting candidates</a>, <a href="#">onboarding</a> and more.</p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-7 ">
        <p class="govuk-body">‘How do I…?’</p>
        <p class="govuk-body">Ask GRS online</p>        
    </div> -->
    
  


    {% include "/includes/vhLayoutOne.html" %}
    
    

</div>



{% endblock %}