{% extends "layouts/vacancy.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}
{% set showPhaseBanner = false %}
{% set showBackLink = false %}

{% set pageHeading = "Vacancy holders" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.js"></script>
    <script type="text/javascript">
        accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            selectElement: document.querySelector('#mrrVacancyDepartment' name="mrrVacancyDepartment" value="" )
        })
    </script>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    


        <h2 class="govuk-heading-l">What is your query about?</h2>

        <p>Begin typing the subject of your query and select the correct one.</p>
        <form method="post" action="" >
        {{ xGovukAutocomplete({
            id: "mrrVacancyDepartment",
            name: "mrrVacancyDepartment",
            allowEmpty: false,
            hint: {
                text: ""
            },
            label: {
                classes: "govuk-visually-hidden",
                isPageHeading: false,
                text: pageHeading
            },			
            items: [
                { text: "Ad Hoc request form" },
                { text: "Advertisement approvals " },                
                { text: "Amend a vacancy advertisement", value: "Amend a vacancy advertisement~/field-of-dreams/self-serve/amend-vacancy/start?query=amendVacacny" },
                { text: "Candidate assessment" },
                { text: "Candidate interviews" },
                { text: "Candidate pack to HR" },
                { text: "Criminal record check" },
                { text: "Conditional appointment" },
                { text: "Driving licence checks" },
                { text: "EEHC check" },
                { text: "Employment contract" },
                { text: "Enhanced integrity check" },
                { text: "Formal offer" },
                { text: "Health check" },
                { text: "Making an offer from the Reserve List" },
                { text: "Manual recruitment request", value: "Manual recruitment request~/field-of-dreams/self-serve/manual-recruitment-request/start?query=manualRecruitmentRequest" },
                { text: "National Insurance Number Check (NINO)" },
                { text: "New entrant notification" },
                { text: "NSV" },
                { text: "OGD check" },
                { text: "Online tests" },
                { text: "Overseas check" },
                { text: "Pension" },        
                { text: "Posting notice" },    
                { text: "Pre-Sift" },
                { text: "Provisional offer" },
                { text: "Reasonable adjustments" },
                { text: "Reserve List query" },
                { text: "Right to Work and identity verification" },
                { text: "Self employment" },
                { text: "Sift" },                
                { text: "Update to candidate application" },    
                { text: "Vacancies", value: "Vacancies~/field-of-dreams/query" },    
                { text: "Vacancy campaign planning" },
                { text: "Vacancy supporting documents" },
                { text: "Vacancy request form" },
                { text: "Withdraw vacancy", value: "Withdraw vacancy~/field-of-dreams/self-serve/amend-vacancy/start?query=withdrawVacacny" },
                { text: "Withdrawal request" }
            ]
        }) }}	

        {{ govukButton({
              text: "Start query"			    
        }) }}
    </form>

    <!-- Iteration one of the recruitment process -->
    {% include "/includes/vhLayoutOne.html" %}
    

    </div> 
</div>

{% endblock %}