{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}


{% if ((data['mmrPreChecksRegulatedActivity'] == "Yes") and ( data['mmrPreChecksChildren'] == "Yes" )) %}
	{% set pageHeading = "Does this vacancy involve working with children or regulated activity with adults at the applicant’s home address?" %}
{% elif data['mmrPreChecksRegulatedActivity'] == "Yes" %}
	{% set pageHeading = "Does this vacancy involve regulated activity with adults at the applicant’s home address?" %}
{% elif data['mmrPreChecksChildren'] == "Yes" %}
	{% set pageHeading = "Does this vacancy involve working with children at the applicant’s home address?" %}
{% else %}
	{% set pageHeading = "" %}
{% endif %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/enhanced/volunteer" >
		{% endif %}
            
            {{ govukRadios({
				name: "mmrPreChecksActivityAtAddress",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrPreChecksActivityAtAddress", "Yes") },					
					{ value: "No", text: "No", checked: checked("mmrPreChecksActivityAtAddress", "No") }																			
				]
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}            
            
        </form>

        
  
	</div>
</div>


{% endblock %}