{% extends "layouts/main.html" %}
{% set showBackLink = true %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Vacancy approvals" %}
{% set pageSection = "Vacancy advertisements" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}		

		<p class="govuk-body">To request the withdrawal of a vacancy’s advertisement, you need to provide the vacancy’s reference number. Make sure you have the relevant reference number ready.</p>


		
		
		{{ govukButton({
			text: "Start request",
			classes: "govuk-!-margin-top-5",
			isStartButton: true,
			href: "/grs-customer-contact/self-serve/vacancy-approvals/documentation"
		}) }}


		<h2 class="govuk-heading-m govuk-!-margin-top-5">Before you start</h2>
		<!-- <p>If you want to amend a vacancy’s advertisement you can use the self-serve <a href="/grs-customer-contact/self-serve/amend-vacancy/start?query=amendVacacny" class="govuk-link govuk-link--no-visited-state">amend a vacancy advertisement</a> option.</p> -->
		<p>For anything else you can access <a href="/grs-customer-contact/triage/advertising/" class="govuk-link govuk-link--no-visited-state">guidance about creating, managing and editing advertisements</a>.</p>
		

  
	</div>
</div>

{% endblock %}