{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	

		<h2 class="govuk-heading-m">Vacancy details</h2>
		{{ govukSummaryList({
        	classes: "govuk-!-margin-bottom-9",
        	rows: [
          		{
            		key: { text: "Role" },
            		value: { text: data['mmrVacancy'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/?status=change", text: "Change", visuallyHiddenText: "the role" } ] }
          		}, 
				  {
            		key: { text: "Department" },
            		value: { text: data['mmrVacancyDepartment'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/department?status=change", text: "Change", visuallyHiddenText: "department" } ] }
          		}, 
				  {
            		key: { text: "Area" },
            		value: { text: data['mmrVacancyArea'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/business-area?status=change", text: "Change", visuallyHiddenText: "name" } ] }
          		},
				{
            		key: { text: "Job type" },
            		value: { text: data['mmrVacancyJobType'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/job-type?status=change", text: "Change", visuallyHiddenText: "job type" } ] }
          		},   
				  {
            		key: { text: "Profession" },
            		value: { text: data['mmrVacancyProfession'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/profession?status=change", text: "Change", visuallyHiddenText: "profession" } ] }
          		}, 
				  {
            		key: { text: "Approach" },
            		value: { text: data['mmrVacancyApproach'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/candidate-type?status=change", text: "Change", visuallyHiddenText: "approach" } ] }
          		}, 
				  {
            		key: { text: "Budget approved" },
            		value: { text: data['mmrVacancyBudget'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/budget-approval?status=change", text: "Change", visuallyHiddenText: "budget approval" } ] }
          		}, 
				  {
            		key: { text: "Permanent Role" },
            		value: { text: data['mmrVacancyPermanent'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/permanent-role?status=change", text: "Change", visuallyHiddenText: "permanent role" } ] }
          		}, 

				  
				  {
            		key: { text: "Contract type" },
            		value: { text: data['mmrVacancyContractType'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/contract-type?status=change", text: "Change", visuallyHiddenText: "contract type" } ] }
          		}, 
				

				  {
            		key: { text: "Employment length" },
            		value: { text: data['mmrVacancyLengthEmployment'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/contract-type/length-of-employment?status=change", text: "Change", visuallyHiddenText: "length of employment" } ] }
          		}, 				  
				  {
            		key: { text: "Location" },
            		value: { text: data['mmrVacancyLocation'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/location?status=change", text: "Change", visuallyHiddenText: "location" } ] }
          		}, 
				  {
            		key: { text: "Working pattern" },
            		value: { text: data['mmrVacancyPattern'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/pattern?status=change", text: "Change", visuallyHiddenText: "working pattern" } ] }
          		}, 
				  {
            		key: { text: "Grade" },
            		value: { text: data['mmrVacancyGrade'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/grade?status=change", text: "Change", visuallyHiddenText: "grade" } ] }
          		}, 
				  {
            		key: { text: "Salary" },
            		value: { text: data['mmrVacancySalary'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/salary?status=change", text: "Change", visuallyHiddenText: "salary" } ] }
          		}, 
				  {
            		key: { text: "Prison leavers" },
            		value: { text: data['mmrVacancyPrisonLeavers'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/prison-leavers?status=change", text: "Change", visuallyHiddenText: "prison leavers" } ] }
          		},
				  {
            		key: { text: "Veterans" },
            		value: { text: data['mmrVacancyVeterans'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/great-place-to-work?status=change", text: "Change", visuallyHiddenText: "veterans" } ] }
          		},
				  {
            		key: { text: "Pension" },
            		value: { text: data['mmrVacancyPension'] },
            		actions: { items: [ { href: "/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/pension?status=change", text: "Change", visuallyHiddenText: "pension" } ] }
          		}
				
				

        		
        	]
      	}) }}

		{% if data['mmrPreChecks'] == "No" %}
			<h2 class="govuk-heading-m">Pre-employment checks</h2>
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
				{% include "includes/query/mrr/pre-employment.html" %}
			</dl>

		{% else %}

			<h2 class="govuk-heading-m">Pre-employment checks</h2>
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
				{% include "includes/query/mrr/reserved_role.html" %}
				{% include "includes/query/mrr/criminal_record.html" %}
				{% include "includes/query/mrr/security_level.html" %}
				<!-- Only need these if CRC is enhanced -->
				{% if data['mmrPreChecksCriminalRecord'] == "Enhanced" %}
					{% include "includes/query/mrr/regulated_adults.html" %}
					{% include "includes/query/mrr/regulated_children.html" %}
					{% include "includes/query/mrr/home_address.html" %}
					{% include "includes/query/mrr/volunteer.html" %}
				{% endif %}
				<!-- // -->				
				{% include "includes/query/mrr/checks_required.html" %}			
			</dl>

		{% endif %}


        <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/confirmation" >
            
            
            {{ govukButton({
      	    	text: "Confirm and request vacancy"			    
    	    }) }}            
            
        </form>

        
  
	</div>
</div>


{% endblock %}