{% extends "layouts/main.html" %}

{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Which candidates can apply for this vacancy?" %}

{% set pageHeading = "What is the approach for this vacancy?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}    	

		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
				Query aroun{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/location" >
		{% endif %}
			
			{{ govukRadios({
				name: "mrrVacancyApproach",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Across government", text: "Across government", checked: checked("mrrVacancyApproach", "Across government") },					
					{ value: "External", text: "External", checked: checked("mrrVacancyApproach", "External") },
					{ value: "Internal", text: "Internal", checked: checked("mrrVacancyApproach", "Internal") }																				
				]
			}) }}




            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}