{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "What is the vacancy’s contract type?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p class="govuk-body">Select all that apply.</p>
    
		
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/contract-type/length-of-employment" >
		
			
			{{ govukCheckboxes({
				name: "mrrVacancyContractType",   				     
				fieldset: {
					legend: {
						text: "What is the vacancy’s contract type?",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Apprenticeship", text: "Apprenticeship", checked: checked("mrrVacancyContractType", "Apprenticeship") },	
					{ value: "Assisted Transfer", text: "Assisted Transfer", checked: checked("mrrVacancyContractType", "Assisted Transfer") },
					{ value: "Fixed Term", text: "Fixed Term", checked: checked("mrrVacancyContractType", "Fixed Term") },
					{ value: "Internship", text: "Internship", checked: checked("mrrVacancyContractType", "Internship") },
					{ value: "Loan", text: "Loan", checked: checked("mrrVacancyContractType", "Loan") },
					{ value: "Overseas", text: "Overseas", checked: checked("mrrVacancyContractType", "Overseas") },					
					{ value: "Returner", text: "Returner", checked: checked("mrrVacancyContractType", "Returner") },					
					{ value: "Secondment", text: "Secondment", checked: checked("mrrVacancyContractType", "Secondment") },
					{ value: "Short Notice Appointment", text: "Short Notice Appointment", checked: checked("mrrVacancyContractType", "Short Notice Appointment") },
					{ value: "Temporary", text: "Temporary", checked: checked("mrrVacancyContractType", "Temporary") },					
					{ value: "Temporary (Not Fair and Open)", text: "Temporary (Not Fair and Open)", checked: checked("mrrVacancyContractType", "Temporary (Not Fair and Open)") },
					{ value: "Work Experience", text: "Work Experience", checked: checked("mrrVacancyContractType", "Work Experience") }
				]
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}