{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "What is this vacancy’s grade?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
				{% include "includes/status_null.html" %}
		{% else %}
        	<!-- <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/salary" > -->
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/pre-employment-checks/" >
		{% endif %}
			

			{% set otherHtml %}
				{{ govukInput({
					id: "mrrVacancyGradeOther",
					name: "mrrVacancyGradeOther",
					type: "text",
					autocomplete: "text",
					classes: "govuk-!-width-two-thirds",
					label: {
						text: "Enter the vacancy’s grade."
					}
				}) }}
			{% endset -%}


			{{ govukRadios({
				name: "mrrVacancyGrade",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Administrative Assistants (AA)", text: "Administrative Assistants (AA)", checked: checked("mrrVacancyGrade", "Administrative Assistants (AA)") },					
					{ value: "Administrative Officers (AO)", text: "Administrative Officers (AO)", checked: checked("mrrVacancyGrade", "Administrative Officers (AO)") },					
					{ value: "Executive Officer (EO)", text: "Executive Officer (EO)", checked: checked("mrrVacancyGrade", "Executive Officer (EO)") },														
					{ value: "Higher Executive Officer (HEO)", text: "Higher Executive Officer (HEO)", checked: checked("mrrVacancyGrade", "Higher Executive Officer (HEO)") },						
					{ value: "Senior Executive Officer (SEO)", text: "Senior Executive Officer (SEO)", checked: checked("mrrVacancyGrade", "Senior Executive Officer (SEO)") },																				
					{ value: "Grade 7", text: "Grade 7", checked: checked("mrrVacancyGrade", "Grade 7") },										
					{ value: "Grade 6", text: "Grade 6", checked: checked("mrrVacancyGrade", "Grade 6") },					
					{ value: "SCS Pay Band 1", text: "SCS Pay Band 1", checked: checked("mrrVacancyGrade", "SCS Pay Band 1") },
					{ value: "SCS Pay Band 2", text: "SCS Pay Band 2", checked: checked("mrrVacancyGrade", "SCS Pay Band 2") },
					{ value: "SCS Pay Band 3", text: "SCS Pay Band 3", checked: checked("mrrVacancyGrade", "SCS Pay Band 3") },
					{ value: "SCS Pay Band 4", text: "SCS Pay Band 4", checked: checked("mrrVacancyGrade", "SCS Pay Band 4") },
					{ value: "Industrial", text: "Industrial", checked: checked("mrrVacancyGrade", "Industrial") },					
					{ value: "Other", text: "Other", checked: checked("mrrVacancyGrade", "Other"), conditional: { html: otherHtml } }
				]
			}) }}


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}