{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "Is this vacancy part of the Great Place to Work for Veterans scheme?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">This initiative aims to encourage more veterans to apply for roles at all grades, functions and professions across the Civil Service.</p>

		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/pension" >
		{% endif %}
			
			{{ govukRadios({
				name: "mmrVacancyVeterans",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrVacancyVeterans", "Yes") },					
					{ value: "No", text: "No", checked: checked("mmrVacancyVeterans", "No") }																			
				]
			}) }}
            
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            
            
        </form>

        
  
	</div>
</div>


{% endblock %}