{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Where is the vacancy located?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">This should be the main office for {{data['mrrVacancyDepartment'] }} or branch, even if it’s classed as ‘work from home’.</p>
        
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
				{% include "includes/status_null.html" %}
		{% else %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/permanent-role" >
		{% endif %}


			{{ govukInput({
				label: { text: "Where is the vacancy located?", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				hint: {
					text: "For example, Sheffield, Newcastle or South East England"
				},
				id: "mrrVacancyLocation",
				name: "mrrVacancyLocation",
				value: data['mrrVacancyLocation']
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}