{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "What is this vacancy’s expected working pattern?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		<p class="govuk-body">This could be full-time office hours, part-time or flexible working.</p>

		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
			<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/grade" >
		{% endif %}
			
			{{ govukRadios({
				name: "mmrVacancyPattern",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Annualised hours", text: "Annualised hours", checked: checked("mmrVacancyPattern", "Administrative Assistants/Administrative Officers (AA/AO)") },					
					{ value: "Compressed hours", text: "Compressed hours", checked: checked("mmrVacancyPattern", "Compressed hours") },					
					{ value: "Contracted Home Worker", text: "Contracted Home Worker", checked: checked("mmrVacancyPattern", "Contracted Home Worker") },						
					{ value: "Flexible working", text: "Flexible working", checked: checked("mmrVacancyPattern", "Flexible working") },															
					{ value: "Full-time", text: "Full-time", checked: checked("mmrVacancyPattern", "Full-time") },
					{ value: "Homeworking", text: "Homeworking", checked: checked("mmrVacancyPattern", "Homeworking") },

					{ value: "Job share", text: "Job share", checked: checked("mmrVacancyPattern", "Job share") },
					{ value: "Part Year", text: "Part Year", checked: checked("mmrVacancyPattern", "Part Year") },
					{ value: "Part-time", text: "Part-time", checked: checked("mmrVacancyPattern", "Part-time") },
					{ value: "Shift working", text: "Shift working", checked: checked("mmrVacancyPattern", "Shift working") },
					{ value: "Term time working", text: "Term time working", checked: checked("mmrVacancyPattern", "Term time working") }					

				]
			}) }}		


            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}