{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "Is this a permanent vacancy?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/pattern" >
		{% endif %}
			
			{{ govukRadios({
				name: "mmrVacancyPermanent",   	
				classes: "govuk-radios--inline",			     
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mmrVacancyPermanent", "Yes") },	
					{ value: "No~/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/contract-type", text: "No", checked: checked("mmrVacancyPermanent", "No") }
					
				]
			}) }}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}