{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Which profession does this vacancy belong to?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/candidate-type" >
		{% endif %}
			

			


			{{ govukRadios({
				name: "mrrVacancyProfessionOption",        
				fieldset: {
					legend: {
						text: "Which profession is the role in",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
				

					{ value: "Counter Fraud", text: "Counter Fraud", checked: checked("mrrVacancyProfession", "Counter Fraud") },																
					{ value: "Government Corporate Finance", text: "Government Corporate Finance", checked: checked("mrrVacancyProfession", "Government Corporate Finance") },					
					{ value: "Government Economic Service", text: "Government Economic Service", checked: checked("mrrVacancyProfession", "Government Economic Service") },					
					{ value: "Government Finance", text: "Government Finance", checked: checked("mrrVacancyProfession", "Government Finance") },					
					{ value: "Government Legal Service", text: "Government Legal Service", checked: checked("mrrVacancyProfession", "Government Legal Service") },																	
					{ value: "Internal Audit", text: "Internal Audit", checked: checked("mrrVacancyProfession", "Internal Audit") },					
					{ value: "International Trade", text: "International Trade", checked: checked("mrrVacancyProfession", "International Trade") },											
					{ value: "Tax Profession", text: "Tax Profession", checked: checked("mrrVacancyProfession", "Tax Profession") },
					{ value: "Digital, Data and Technology", text: "Digital, Data and Technology", checked: checked("mrrVacancyProfession", "Digital, Data and Technology") },					
					{ value: "Government Communication Service", text: "Government Communication Service", checked: checked("mrrVacancyProfession", "Government Communication Service") },											
					{ value: "Government Science and Engineering", text: "Government Science and Engineering", checked: checked("mrrVacancyProfession", "Government Science and Engineering") },					
					{ value: "Government Social Research", text: "Government Social Research", checked: checked("mrrVacancyProfession", "Government Social Research") },					
					{ value: "Government Statistical Service", text: "Government Statistical Service", checked: checked("mrrVacancyProfession", "Government Statistical Service") },					
					{ value: "Knowledge and Information Management", text: "Knowledge and Information Management", checked: checked("mrrVacancyProfession", "Knowledge and Information Management") },		
					{ value: "Government Operational Research Services", text: "Government Operational Research Services", checked: checked("mrrVacancyProfession", "Government Operational Research Services") },					
					{ value: "Government Project Delivery", text: "Government Project Delivery", checked: checked("mrrVacancyProfession", "Government Project Delivery") },					
					{ value: "Government Property", text: "Government Property", checked: checked("mrrVacancyProfession", "Government Property") },					
					{ value: "Operational Delivery", text: "Operational Delivery", checked: checked("mrrVacancyProfession", "Operational Delivery") },					
					{ value: "Planning Inspectors", text: "Planning Inspectors", checked: checked("mrrVacancyProfession", "Planning Inspectors") },					
					{ value: "Planning", text: "Planning", checked: checked("mrrVacancyProfession", "Planning") },					
					{ value: "Policy", text: "Policy", checked: checked("mrrVacancyProfession", "Policy") },
					{ value: "Government Veterinary", text: "Government Veterinary", checked: checked("mrrVacancyProfession", "Government Veterinary") },					
						{ value: "Human Resources", text: "Human Resources", checked: checked("mrrVacancyProfession", "Human Resources") },					
						{ value: "Intelligence Analysis", text: "Intelligence Analysis", checked: checked("mrrVacancyProfession", "Intelligence Analysis") },					
						{ value: "Medical", text: "Medical", checked: checked("mrrVacancyProfession", "Medical") },					
						{ value: "Psychology", text: "Psychology", checked: checked("mrrVacancyProfession", "Psychology") },					
						{ value: "Security", text: "Security", checked: checked("mrrVacancyProfession", "Security") }																	
				]
			}) }}


			



            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}