{% extends "layouts/main.html" %}
{% set showBackLink = false %}

{% set serviceName = "GRS" %}

{% set pageHeading = "You cannot make this request" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	

        <p class="govuk-body">It is not possible to create this vacancy as it has not been approved.</p>
		<p>Content to instruct them what to do David?</p>


		<p><a href="#">Return to ...</a></p>

        
  
	</div>
</div>


{% endblock %}