{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "What is this vacancy’s salary?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
				{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/prison-leavers" >
		{% endif %}
            

            {{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-one-third",
                prefix: {
                    text: "£"
                  },
				hint: {
					text: "For example, 25000 or 35000 - 37000"
				},
				type: "text",
				id: "mrrVacancySalary",
				name: "mrrVacancySalary",
				value: data['mrrVacancySalary']
			}) }}


            <div class="govuk-button-group">
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}
            <a class="govuk-link" href="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/prison-leavers?mrrVacancySalary=NA">This vacancy does not have a salary</a>
            </div>

            
        </form>

        
  
	</div>
</div>


{% endblock %}