{% extends "layouts/main.html" %}

{% set serviceName = "GRS" %}

{% set pageHeading = "Has this vacancy been approved?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/approval-confirmation" >
		{% endif %}
			
			{{ govukRadios({
				name: "mrrVacancyBudget",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: pageHeading,
						isPageHeading: false,
						classes: "govuk-visually-hidden"
					}
				},
				items: [                
					{ value: "Yes", text: "Yes", checked: checked("mrrVacancyBudget", "Yes") },					
					{ value: "No~/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/request-not-complete", text: "No", checked: checked("mrrVacancyBudget", "No") }																			
				]
			}) }}

			<div class="govuk-button-group">
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

			<a class="govuk-link" href="/field-of-dreams/self-serve/manual-recruitment-request/vacancy-details/?mrrVacancyBudget=Not required">Not required</a>
		</div>

        </form>

        
  
	</div>
</div>


{% endblock %}