<h2 class="govuk-heading-m">Location</h2>
				<p>{{ defaultLocation }}</p>
				
				<h2 class="govuk-heading-m">About the job</h2>
				<h3 class="govuk-heading-s">Job summary</h3>
				<p>Please refer to Job Description</p>
				
				<h3 class="govuk-heading-s">Job description</h3>
				<p>We encourage applications from people from all backgrounds and aim to have a workforce that represents the wider society that we serve. We pride ourselves on being an employer of choice. We champion diversity, inclusion and wellbeing and aim to create a workplace where everyone feels valued and a sense of belonging. To find out more about how we do this visit: https://www.gov.uk/government/organisations/ministry-of-justice/about/equality-and-diversity.</p>				
				<p>New entrants to the Civil Service will be expected to join at the entry point salary for the advertised band </p>
				<p>Existing Civil Servants will have their salary calculated in accordance with the Department’s pay on transfer / pay on promotion rules.</p>
				<p>This post is currently advertised without VISOR Vetting to enable appointment to take place as soon as possible, however, VISOR vetting will be required to be completed in due course.</p>
				<p>Note to candidate - this role will be based at the following address once the site opens.</p>
				<p>Victoria House, Hampshire Court, Newcastle Business Park, Newcastle Upon Tyne, NE4 7YL</p>
				<p>The job holder will undertake the full range of work with offenders before and after sentence. This will include assessment, sentence implementation, offender management and producing reports. The job holder will provide case management support to a full range of offenders utilising service procedures and practice directions that underpin professional judgement</p>
				
				<h2 class="govuk-heading-m">Overview of the job</h2>	
				<p>The job holder will undertake the full range of work with people on probation before and after sentence. This will include assessment, sentence implementation, offender management and producing reports. The job holder will provide case management support to a full range of people on probation utilising service procedures and practice directions that underpin professional judgement.</p>

				<h2 class="govuk-heading-m">Summary</h2>	
				<p>To assess and manage the risk (including risk management plans and escalation) posed by people on probation to protect  victims of crime and the general public by:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Liaising, providing information and advice to criminal courts, criminal justice agencies and other partner agencies.</li>
					<li>Supervise and manage risk of those people on probation subject to community sentences, during and after custodial sentences.</li>
					<li>Work with other agencies and groups to prevent crime and meet the needs of victims and people on probation.</li>
				</ul>
				<p>In line with PS policies and procedures, the job holder must at all times demonstrate a commitment to equality and inclusion and an understanding of their relevance to the work they do.</p>
				<p>The post holder must adhere to all policies in respect of the sensitive/confidential nature of the information handled whilst working in this position.</p>
				<p>If relevant to the role, some out of hours working may be required (i.e. Courts, Approved Premises, programmes, evening reporting etc.).</p>


				
				<h2 class="govuk-heading-m">Benefits</h2>			
				<p>Alongside your salary of £24,228, HM Prison & Probation Service contributes £6,420 towards you being a member of the Civil Service Defined Benefit Pension scheme. Find out what benefits a Civil Service Pension provides.</p>
				
				<ul class="govuk-list govuk-list--bullet">
					<li>Access to learning and development</li>
					<li>A working environment that supports a range of flexible working options to enhance your work life balance</li>
					<li>A working culture which encourages inclusion and diversity</li>
					<li>A Civil Service pension with an average employer contribution of 27%</li>
					<li>Annual Leave</li>
					<li>Public Holidays</li>
					<li>Season Ticket Advance</li>
				</ul>

				<p>For more information about the recruitment process, benefits and allowances and answers to general queries, please click the below link which will direct you to our Candidate Information Page.</p>


			<h2 class="govuk-heading-m">Things you need to know</h2>
			<h3 class="govuk-heading-s">Selection process details</h3>
			<p>This vacancy is using Success Profiles (opens in a new window), and will assess your Behaviours, Strengths, Experience and Technical skills.</p>
			
			
			<h3 class="govuk-heading-s">Security</h3>											
			<p>Successful candidates must undergo a criminal record check.</p>
			<p>People working with government assets must complete baseline personnel security standard (opens in new window) checks.</p>
			
			<h3 class="govuk-heading-s">Nationality requirements</h3>								
			<p>This job is broadly open to the following groups:</p>			
			<ul class="govuk-list govuk-list--bullet">
				<li>UK nationals</li>
				<li>nationals of the Republic of Ireland</li>
				<li>nationals of Commonwealth countries who have the right to work in the UK</li>
				<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities with settled or pre-settled status under the European Union Settlement Scheme (EUSS) (opens in a new window)</li>
				<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities who have made a valid application for settled or pre-settled status under the European Union Settlement Scheme (EUSS)</li>
				<li>individuals with limited leave to remain or indefinite leave to remain who were eligible to apply for EUSS on or before 31 December 2020</li>
				<li>Turkish nationals, and certain family members of Turkish nationals, who have accrued the right to work in the Civil Service</li>
			</ul>
			
			<p><a href="#" target="_blank">Further information on nationality requirements (opens in a new window)</a>.</p>
			
			<h3 class="govuk-heading-s">Working for the Civil Service</h3>											
			<p>The Civil Service Code (opens in a new window) sets out the standards of behaviour expected of civil servants.</p>
			<p>We recruit by merit on the basis of fair and open competition, as outlined in the Civil Service Commission's recruitment principles (opens in a new window).</p>
			<p>The Civil Service embraces diversity and promotes equal opportunities. As such, we run a Disability Confident Scheme (DCS) for candidates with disabilities who meet the minimum selection criteria.</p>
			<p>The Civil Service also offers a Redeployment Interview Scheme to civil servants who are at risk of redundancy, and who meet the minimum requirements for the advertised vacancy.</p>
			
			<h2 class="govuk-heading-m">Apply and further information</h2>											
			<p>Once this job has closed, the job advert will no longer be available. You may want to save a copy for your records.</p>
			
			<h3 class="govuk-heading-s">Contact point for applicants</h3>											
			<p>Job contact</p>
			<p>SSCL Recruitment Enquiries Team</p>
			<p>Email :Moj-recruitment-vetting-enquiries@gov.sscl.com</p>
			
			<p>Recruitment team</p>
			<p>Email :Moj-recruitment-vetting-enquiries@gov.sscl.com</p>
			
			<a id="apply_tag"></a>
			<h3 class="govuk-heading-s">Further information</h3>											
			<p>Appointment to the Civil Service is governed by the Civil Service Commission’s Recruitment Principles. I you feel a department has breached the requirement of the Recruitment Principles and would like to raise this, please contact SSCL (Moj-recruitment-vetting-enquiries@gov.sscl.com) in the first instance. If the role has been advertised externally (outside of the Civil Service) and you are not satisfied with the response, you may bring your complaint to the Commission. For further information on bringing a complaint to the Civil Service Commission please visit their web pages: http://civilservicecommission.independent.gov.uk/civil-service-recruitment/complaints</p>