<h2 class="govuk-heading-m">Location</h2>
				<p>{{ defaultLocation }}</p>
				
				<h2 class="govuk-heading-m">About the job</h2>
				<h3 class="govuk-heading-s">Job summary</h3>
				<p>Are you looking for an organisation that cares about the work-life balance of its workforce?</p>
				<p>An employer who offers structured personal development, progression opportunities and outstanding training?</p>
				<p>Well look no further!</p>
				<p>At HMRC we are committed to creating a great place to work for all our colleagues; an inclusive and respectful environment that reflects the diversity of the society we serve. We do this by taking equality, diversity and inclusion into account in everything we do. Diverse perspectives and experiences are critical to our success, and we welcome and encourage applications from all people from all backgrounds with the relevant experience and skills.</p>
				<p>These posts are full time, however, applicants who wish to work alternative working patterns are welcome to apply. The preferred working pattern may or may not be available, agreement will be subject to business need, and any request to work an alternative working pattern should be made prior to your acceptance of the provisional offer.</p>
				<p>Once in post, the successful candidate will be required to successfully obtain National Security Vetting clearance at Security Check (SC) level. The offer of permanent employment in this role is conditional upon achieving the required level of vetting clearance. </p>

				<h3 class="govuk-heading-s">Job description</h3>
				<p>This is an exciting opportunity to work within the operational security team, where you will keep our people, buildings, and assets safe and secure. You will work with other Estates colleagues within your building to achieve outcomes. You’ll use your knowledge to give advice and be part of the decision-making process.</p>
				
				<h3 class="govuk-heading-s">Person specification</h3>
				<p>Here are some of the things you'll be responsible for as Integrated Offender Management  role:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Identify, record, and analyse all building related security risks; formulate mitigating actions and share with stakeholders, in line with the standard HMRC security templates. Identify and exploit measures to improve the security posture</li>
					<li>Undertake Level One Security Assurance on the security supplier’s service provision in the form of monthly KPIs and associated checks to support contract management</li>
					<li>Work with the Commercial Business Partner to support and progress initiatives and project work to maximise the security contract’s potential and efficiencies</li>
					<li>Produce and maintain building security management documentation such as site-specific Risk Registers and local risk assessments and security reviews, formulating the Building Security Policy in line with the consistent national approach.</li>
					<li>Undertake regular security assurance reviews to ensure standards are adequate and meet existing threats and emerging risks to the business.</li>
					<li>Collaborate with the external security providers to ensure the effective and efficient delivery of physical security posture via the agreed site-specific assignment instructions: to include man-guarding, patrolling, reporting, incident management, after action reviews and escalations to the appropriate stakeholders.</li>
					<li>Take the lead in dealing with operational security incidents in line with National Security Framework guidelines.</li>
					<li>Collaborate and initiate security operations and activities with HMRC colleagues and outside agencies as appropriate.</li>
					<li>Communicate security status, updates, actual or potential problems, to appropriate stakeholders, including in real-time dynamic situations during incidents .</li>
					<li>Support and assist in emergency and contingency planning and management regarding operational security issues as the operational security subject matter expert (SME), liaising with other members of the Building Management Team.</li>
					<li>Work collaboratively in partnership with the Incident Control Officer (ICO) for all sites in area of responsibility.</li>
					<li>Proactively seek out and develop contacts and networks, internally (eg with customers/colleagues and other security subject matter experts, etc) and externally (eg with police, security professionals, neighbours, local contacts, etc)</li>
					<li>Provide SME (Subject Matter Expert) advice and management overview of security provisions in additional sites within your areas of responsibility.</li>
					<li>Raise and investigate all operational security-related Security Incident Reports (SIRs).</li>
					<li>Chair After Action Reviews for incidents where appropriate, to identify lessons learned, consider the wider impacts (eg if there is a national impact).</li>					
				</ul>

				
				<h3 class="govuk-heading-s">Essential Criteria:</h3>
				<ul class="govuk-list govuk-list--bullet">
					<li>A working knowledge of operational security</li>
					<li>Evidence of working with Suppliers & demonstrating strong supplier management skills</li>
					<li>Excellent relationship builder, experience working across all levels in an organisation</li>
					<li>Demonstration of strong customer relationship management dealing with a diverse range of stakeholders</li>
					<li>A proven track record of operating at a tactical level, delivering Security Services across complex sites</li>
					<li>Proven track record of analysing and resolving problems, developing opportunities, and implementing innovate solutions/approaches</li>
					<li>Able to demonstrate personal self-development</li>
				</ul>
				
				<h3 class="govuk-heading-s">Desirable Criteria:</h3>
				<p>BTEC Level 5 in Security Management or equivalent qualification</p>
				<p>If not already held, you must be willing to obtain BTEC level 5 in Security within 2 years of appointment and Contract management foundation level. Additionally, the applicant should be prepared to complete Threat and Risk Analysis Training Pathway incorporating NVQ Level 4 in Security Coordination and Design.</p>
				
				<h3 class="govuk-heading-s">Behaviours </h3>
				<p>We'll assess you against these behaviours during the selection process:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Making Effective Decisions</li>
					<li>Managing a Quality Service</li>
					<li>Working Together</li>
				</ul>
			
			<h2 class="govuk-heading-m">Benefits</h2>			
			<ul class="govuk-list govuk-list--bullet">
				<li>Learning and development tailored to your role</li>
				<li>An environment with flexible working options</li>
				<li>A culture encouraging inclusion and diversity</li>
				<li>A Civil Service pension with an average employer contribution of 27%</li>
			</ul>

			<h2 class="govuk-heading-m">Things you need to know</h2>
			<h3 class="govuk-heading-s">Selection process details</h3>
			<p>This vacancy is using Success Profiles (opens in a new window), and will assess your Behaviours, Strengths, Experience and Technical skills.</p>
			
			<h3 class="govuk-heading-s">Application Process</h3>		
			<p>As part of the application process you will be asked to submit information about your skills and experience, a personal statement and Civil Service Behaviour statements.</p>
			<p>Further details around what this will entail are listed on the application form.</p>

			<h3 class="govuk-heading-s">Sift</h3>
			<p>For your personal statement, please provide detailed evidence of the criteria in the person specification. Should a large number of applications be received, an initial sift may be conducted using the personal statement. Candidates who pass the initial sift may be progressed to a full sift, or progressed straight to assessment/interview.</p>
			<p>Sift and interview dates, as well as the interview location, to be confirmed.</p>

			<h3 class="govuk-heading-s">Interview</h3>
			<p>If successful at application stage, you will be invited to interview where you will be assessed on the following Civil Service Behaviours: Communicating and Influencing, Delivering at Pace and Working Together; the following Technical Skill: Digital Skills; and a Strength. </p>
			<p>A presentation or additional exercise may also be assessed.</p>

			<h3 class="govuk-heading-s">Reserve List</h3>
			<p>A reserve list may be held for a period of 12 months from which further appointments can be made.</p>

			<h3 class="govuk-heading-s">Merit Lists</h3>	
			<p>Where more than one location is advertised, candidates will be posted in merit order by location. You will be asked to state your location preference on your application.</p>
			
			<h3 class="govuk-heading-s">Salary</h3>	
			<p>New entrants to the Civil Service are expected to start on the minimum of the pay band. The internal roles rules apply to existing Civil Servants, i.e. level transfers move on current salary or the pay range minimum, transfers on promotion move to new pay range minimum or receive 10% increase. Either case is determined by whichever is the highest.</p>

			<h3 class="govuk-heading-s">Visa Sponsorship Statement</h3>	
			<p>Please take note that Defra does not hold a UK Visa & Immigration (UKVI) Skilled Worker License sponsor and are unable to sponsor any individuals for Skilled Worker Sponsorship.</p>

			<h3 class="govuk-heading-s">Reasonable Adjustment</h3>					
			<p>If a person with disabilities is put at a substantial disadvantage compared to a non-disabled person, we have a duty to make reasonable changes to our processes. </p>
			<p>If you need a change to be made so that you can make your application, you should: </p>
			<ul class="govuk-list govuk-list--bullet">
				<li>Contact Government Recruitment Service via defrarecruitment.grs@cabinetoffice.gov.uk as soon as possible before the closing date to discuss your needs.</li>
				<li>Complete the “Assistance required” section in the “Additional requirements” page of your application form to tell us what changes or help you might need further on in the recruitment process. For instance, you may need wheelchair access at interview, or if you’re deaf, a Language Service Professional. </li>
			</ul>

			<h3 class="govuk-heading-s">Accessibility</h3>					
			<p>If you are experiencing accessibility problems with any attachments on this advert, please contact the email address in the 'Contact point for applicants' section.</p>
			
			<h3 class="govuk-heading-s">Criminal Record Check</h3>								
			<p>If successful and transferring from another Government Department, a criminal record check may be carried out.</p>
			<p>In order to process applications without delay, we will be sending a Criminal Record Check to Disclosure and Barring Service on your behalf. However, we recognise in exceptional circumstances some candidates will want to send their completed forms direct. If you will be doing this, please advise Government Recruitment Service of your intention by emailing Pre-EmploymentChecks.grs@cabinetoffice.gov.uk stating the job reference number in the subject heading. </p>
			
			<h3 class="govuk-heading-s">Internal Fraud Database Check</h3>								
			<p>Applicants who are successful at interview will be, as part of pre-employment screening subject to a check on the Internal Fraud Database (IFD). This check will provide information about employees who have been dismissed for fraud or dishonesty offences. This check also applies to employees who resign or otherwise leave before being dismissed for fraud or dishonesty had their employment continued. Any applicant’s details held on the IFD will be refused employment.</p>
			<p>A candidate is not eligible to apply for a role within the Civil Service if the application is made within a 5-year period following a dismissal for carrying out internal fraud against government.</p>
			
			<h3 class="govuk-heading-s">Higher Security Clearance</h3>								
			<p>Please be aware the levels of national security clearance are changing which may impact on the level needed for this role by the time of appointment. All efforts will be made to keep candidates informed of any changes and what that will mean in terms of vetting criteria. For more information please See our vetting charter.</p>
			<p>Candidates posted to the Marsham Street, London office will require the higher level of CTC clearance. Therefore, confirmation of appointment to the advertised post will be dependent upon successful CTC clearance being confirmed as part of pre-employment checks.</p>
			
			<h3 class="govuk-heading-s">Childcare Vouchers</h3>								
			<p>Any move to Defra from another employer will mean you can no longer access childcare vouchers. You may however be eligible for other government schemes, including Tax Free Childcare. Determine your eligibility at https://www.childcarechoices.gov.uk</p>
			<p>Feedback will only be provided if you attend an interview or assessment.</p>
			
			<h3 class="govuk-heading-s">Security</h3>											
			<p>Successful candidates must undergo a criminal record check.</p>
			<p>People working with government assets must complete baseline personnel security standard (opens in new window) checks.</p>
			
			<h3 class="govuk-heading-s">Nationality requirements</h3>								
			<p>This job is broadly open to the following groups:</p>			
			<ul class="govuk-list govuk-list--bullet">
				<li>UK nationals</li>
				<li>nationals of the Republic of Ireland</li>
				<li>nationals of Commonwealth countries who have the right to work in the UK</li>
				<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities with settled or pre-settled status under the European Union Settlement Scheme (EUSS) (opens in a new window)</li>
				<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities who have made a valid application for settled or pre-settled status under the European Union Settlement Scheme (EUSS)</li>
				<li>individuals with limited leave to remain or indefinite leave to remain who were eligible to apply for EUSS on or before 31 December 2020</li>
				<li>Turkish nationals, and certain family members of Turkish nationals, who have accrued the right to work in the Civil Service</li>
			</ul>
			
			<p><a href="#" target="_blank">Further information on nationality requirements (opens in a new window)</a>.</p>
			
			<h3 class="govuk-heading-s">Working for the Civil Service</h3>											
			<p>The Civil Service Code (opens in a new window) sets out the standards of behaviour expected of civil servants.</p>
			<p>We recruit by merit on the basis of fair and open competition, as outlined in the Civil Service Commission's recruitment principles (opens in a new window).</p>
			<p>The Civil Service embraces diversity and promotes equal opportunities. As such, we run a Disability Confident Scheme (DCS) for candidates with disabilities who meet the minimum selection criteria.</p>
			<p>The Civil Service also offers a Redeployment Interview Scheme to civil servants who are at risk of redundancy, and who meet the minimum requirements for the advertised vacancy.</p>
			
			<h2 class="govuk-heading-m">Apply and further information</h2>								
			<p>This vacancy is part of the Great Place to Work for Veterans (opens in a new window) initiative.</p>
			<p>The Civil Service welcomes applications from people who have recently left prison or have an unspent conviction. Read more about prison leaver recruitment (opens in new window).</p>
			<p>Once this job has closed, the job advert will no longer be available. You may want to save a copy for your records.</p>
			
			<h3 class="govuk-heading-s">Contact point for applicants</h3>											
			<p>Job contact</p>
			<p>Siobhan Wakely</p>
			<p>Email :siobhan.wakely@defra.gov.uk</p>
			
			<p>Recruitment team</p>
			<p>Email :defrarecruitment.grs@cabinetoffice.gov.uk</p>
			
			<a id="apply_tag"></a>
			<h3 class="govuk-heading-s">Further information</h3>											
			<p>If you feel your application has not been treated in accordance with the Recruitment Principles and you wish to make a complaint, in the first instance, you should contact:</p>
			<p>Government Recruitment Services via email: defrarecruitment.grs@cabinetoffice.gov.uk</p>
			<p>If you are not satisfied with the response you receive from the Department, you can contact the Civil Service Commission: Click here to visit Civil Service Commission.</p>
			