<h2 class="govuk-heading-m">Location</h2>
				<p>{{ defaultLocation }}</p>
				
				<h2 class="govuk-heading-m">About the job</h2>
				<h3 class="govuk-heading-s">Job summary</h3>
				<p>Do you have an interest in criminal law and are looking to become a fully qualified solicitor?</p>
				<p>Apply for the Crown Prosecution Service (CPS) legal trainee scheme now and start your training pathway in October 2025.</p>
				<p>We currently have two adverts live, one for the barrister trainee role and one for the solicitor role. You can only apply for one of these vacancies. If you apply for both positions, we will only accept an application for the first role you applied for and will automatically reject the second. However, if this has been an error and you wish for the second application to be considered, email earlycareers@cps.gov.uk by 1pm on Wednesday 7 February 2024.</p>
				<p>The pathway is open to you if you hold an undergraduate degree in law (or have completed a conversion) at a minimum 2:2 and have completed, or will be due to complete, your postgraduate Legal Practice Course (LPC) or SQE 1 and 2 so you can start training in October 2025.</p>
				<p>We are now also inviting applications if you’re a final-year law undergraduate completing a law conversion course with a predicted minimum 2:2, and will have completed your LPC or SQE 1 and 2 to start training in October 2025.</p>
				<p>We’re offering up to 80 legal trainee posts for both solicitors and barristers in CPS locations across England and Wales. These are full-time posts although flexible and part-time working is considered, taking into account business needs.</p>
				<p>As a legal trainee solicitor, you play a key role in the CPS. You support our duty to ensure the right person is prosecuted for the right offence, bringing offenders to justice wherever possible.</p>
				<p>Find out what our current legal trainees say about working at the CPS, cps.gov.uk/careers/legal-trainee.</p>
				<p>Please note that the number of posts available is subject to change and that final offers will reflect business needs.</p>
				<p>Our legal trainee scheme is open if you wish to complete your qualifying solicitor training with the CPS with the goal of becoming a permanent CPS crown prosecutor. Solicitor training is available, with posts offered in order of merit to the top performing candidates, subject to having appropriate supervisory arrangements in place. Once you’ve successfully completed the CPS legal trainee scheme, you become a permanent crown prosecutor.</p>
				<p>These posts are available nationally. You’re asked to confirm the location you would prefer to be based. Offers are made in merit order in line with your location preference order. It isn’t guaranteed that your location preference will be accommodated.							</p>
				<p>You must complete and pass your Civil Service tests by 1pm on Tuesday 6 February 2024 to be able to complete an application for this role.							</p>
				<p>Costs incurred for the Professional Skills Course are covered by the CPS.							</p>
				<p>For comprehensive details about the process, please see the attached CPS legal trainee candidate pack.</p>
				
				<h3 class="govuk-heading-s">Job description</h3>
				<p>As a legal trainee solicitor, you complete your studies and train to become a fully qualified solicitor. You’re supported by your legal trainee supervisor, gaining knowledge, experience, an understanding of working as a prosecutor within the CPS and how we work with other criminal justice partners.</p>
				<p>Once you successfully qualify, you’re offered a permanent role as a crown prosecutor, working in a magistrates’ court unit with fellow prosecutors and caseworkers. We offer great progression opportunities – you have the chance to work in specialist crime areas including rape, serious sexual offences and fraud. You can also consider a move into management and leadership, look to be promoted to senior crown prosecutor, and into crown advocacy, presenting cases in the Crown Court.</p>
				<p>Opportunities to apply for roles within the CPS and develop your career after the completion of the training course will be available.</p>
				
				<h3 class="govuk-heading-s">Person specification</h3>				
				<ul class="govuk-list govuk-list--bullet">					
					<li>To prepare cases for prosecution on summary-only and either-way offences in the magistrates’ court. Working with caseworkers, meeting witnesses, and supporting counsel.</li>
					<li>To advise police and other investigators on charging decisions, and work with criminal justice partners, defence lawyers and counsel on casework.</li>
					<li>To shadow prosecutors at magistrates’ and Crown Court and observe advocacy.</li>
					<li>To attend conferences with police and counsel, and meetings with victims and witnesses.</li>
					<li>To carry out legal research and provide feedback to your legal supervisor and other CPS colleagues.</li>
					<li>To work with a supervisor throughout pupillage, keeping accurate records of work and meeting to discuss training progress.</li>
					<li>To arrange and complete your required work secondments, in line with the Law Society.					</li>
				</ul>

				<h3 class="govuk-heading-s">Qualifications</h3>
				<h3 class="govuk-heading-s">Undergraduate degree</h3>
				<p>You must hold a minimum of a 2:2 university undergraduate degree – this doesn’t need to be in law. Equivalent undergraduate degrees are considered.</p>
				<p>If you have a university undergraduate degree at a minimum of a 2:2 in a subject other than law, you must have completed one of the following conversion courses:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Graduate Diploma in Law (GDL)</li>
					<li>Common Professional Examination (CPE)</li>
				</ul>
				
				<h3 class="govuk-heading-s">Postgraduate qualifications</h3>
				<p>You must have successfully completed or be due to complete the Law Practice Course (LPC) or SQE to be able to start with the CPS by October 2025. And have passed the LPC or both parts of the SQE (SQE1 and SQE2) by the time you join the scheme.</p>
				<p>Qualifications must be successfully completed, with results provided to the CPS recruitment team by 1 September 2025 at the latest. If you’re unable to provide confirmation of passing your LPC or SQE by this time, you are removed from the process.</p>

				<p>We don’t accept CILEX instead of the LPC or SQE qualification.</p>
				
				
				<h3 class="govuk-heading-s">Behaviours </h3>
				<p>We'll assess you against these behaviours during the selection process:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Delivering at Pace</li>
					<li>Making Effective Decisions</li>
					<li>Seeing the Big Picture</li>
					<li>Communicating and Influencing					</li>
				</ul>

				<h3 class="govuk-heading-s">Technical skills </h3>
				<p>We'll assess you against these technical skills during the selection process:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Undergraduate Degree</li>
					<li>Post graduate Qualifications</li>

				</ul>
			
				<h2 class="govuk-heading-m">Benefits</h2>			
				<p>Alongside your salary of £28,760, Crown Prosecution Service contributes £7,765 towards you being a member of the Civil Service Defined Benefit Pension scheme. Find out what benefits a Civil Service Pension provides.</p>
				<p>Alongside your salary of £28,760, Crown Prosecution Service contributes £7,765 towards you being a member of the Civil Service Defined Benefit Pension scheme. Find out what benefits a Civil Service Pension provides.</p>
				<p>You’re guaranteed a crown prosecutor role with the CPS after successfully completing your legal trainee scheme.</p>
				<p>At the CPS, we’re passionate about ensuring that we’re a top performing organisation and a great place to work. We’re a committed equal opportunities employer, creating a culture where you can bring your whole self to work, and individuality is truly appreciated.</p>
				<p>We want to ensure that our staff can thrive at work and home, and we offer a range of support to achieve a balance. This includes flexibility to support working hours, caring responsibilities and deployment, which means that where you work (a court, office or your home) is based on the kind of work you’re undertaking. This culture of inclusion is underpinned by our staff networks covering disability, faith and belief, LGBTQI+, race, social mobility alongside our mental health first aiders and wellbeing sessions.</p>
				<p>The CPS commits to offer its employees the following experience.</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>You have impactful, purposeful work that makes a difference to local communities.</li>
					<li>You are able to learn and grow, with access to the right opportunities and resources.</li>
					<li>We care about your wellbeing.</li>
					<li>We want you to feel valued, trusted and included.</li>
				</ul>

				<p>We also offer the following benefits:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>Civil Service contributory pension of up to 27%</li>
					<li>access to employee savings</li>
					<li>Cycle2Work scheme</li>
					<li>25 days’ leave, rising to 30 days after 5 years’ service</li>
					<li>1 extra privilege day to mark the King’s birthday</li>
					<li>competitive maternity, paternity and parental leave</li>
					<li>flexible working and a family friendly approach to work</li>
					<li>childcare vouchers.</li>
				</ul>
				<p>If you are applying on transfer from another government department, any move across the Civil Service on or after 6 April 2018 may have implications on an employee's ability to carry on claiming childcare vouchers. More information about the new Tax Free Childcare Scheme.</p>

				
			<h2 class="govuk-heading-m">Things you need to know</h2>
			<h3 class="govuk-heading-s">Selection process details</h3>
			<p>This vacancy is using Success Profiles (opens in a new window), and will assess your Behaviours, Strengths, Experience and Technical skills.</p>
			
			<h3 class="govuk-heading-s">Application Process</h3>		
			<p>As part of the application process you will be asked to submit information about your skills and experience, a personal statement and Civil Service Behaviour statements.</p>
			<p>Further details around what this will entail are listed on the application form.</p>

			<h3 class="govuk-heading-s">Sift</h3>
			<p>For your personal statement, please provide detailed evidence of the criteria in the person specification. Should a large number of applications be received, an initial sift may be conducted using the personal statement. Candidates who pass the initial sift may be progressed to a full sift, or progressed straight to assessment/interview.</p>
			<p>Sift and interview dates, as well as the interview location, to be confirmed.</p>

			<h3 class="govuk-heading-s">Interview</h3>
			<p>If successful at application stage, you will be invited to interview where you will be assessed on the following Civil Service Behaviours: Communicating and Influencing, Delivering at Pace and Working Together; the following Technical Skill: Digital Skills; and a Strength. </p>
			<p>A presentation or additional exercise may also be assessed.</p>

			<h3 class="govuk-heading-s">Reserve List</h3>
			<p>A reserve list may be held for a period of 12 months from which further appointments can be made.</p>

			<h3 class="govuk-heading-s">Merit Lists</h3>	
			<p>Where more than one location is advertised, candidates will be posted in merit order by location. You will be asked to state your location preference on your application.</p>
			
			<h3 class="govuk-heading-s">Salary</h3>	
			<p>New entrants to the Civil Service are expected to start on the minimum of the pay band. The internal roles rules apply to existing Civil Servants, i.e. level transfers move on current salary or the pay range minimum, transfers on promotion move to new pay range minimum or receive 10% increase. Either case is determined by whichever is the highest.</p>

			<h3 class="govuk-heading-s">Reasonable Adjustment</h3>					
			<p>If a person with disabilities is put at a substantial disadvantage compared to a non-disabled person, we have a duty to make reasonable changes to our processes. </p>
			<p>If you need a change to be made so that you can make your application, you should: </p>
			<ul class="govuk-list govuk-list--bullet">
				<li>Contact Government Recruitment Service via defrarecruitment.grs@cabinetoffice.gov.uk as soon as possible before the closing date to discuss your needs.</li>
				<li>Complete the “Assistance required” section in the “Additional requirements” page of your application form to tell us what changes or help you might need further on in the recruitment process. For instance, you may need wheelchair access at interview, or if you’re deaf, a Language Service Professional. </li>
			</ul>

			<h3 class="govuk-heading-s">Accessibility</h3>					
			<p>If you are experiencing accessibility problems with any attachments on this advert, please contact the email address in the 'Contact point for applicants' section.</p>
			
			<h3 class="govuk-heading-s">Criminal Record Check</h3>								
			<p>If successful and transferring from another Government Department, a criminal record check may be carried out.</p>
			<p>In order to process applications without delay, we will be sending a Criminal Record Check to Disclosure and Barring Service on your behalf. However, we recognise in exceptional circumstances some candidates will want to send their completed forms direct. If you will be doing this, please advise Government Recruitment Service of your intention by emailing Pre-EmploymentChecks.grs@cabinetoffice.gov.uk stating the job reference number in the subject heading. </p>
			
			<h3 class="govuk-heading-s">Internal Fraud Database Check</h3>								
			<p>Applicants who are successful at interview will be, as part of pre-employment screening subject to a check on the Internal Fraud Database (IFD). This check will provide information about employees who have been dismissed for fraud or dishonesty offences. This check also applies to employees who resign or otherwise leave before being dismissed for fraud or dishonesty had their employment continued. Any applicant’s details held on the IFD will be refused employment.</p>
			<p>A candidate is not eligible to apply for a role within the Civil Service if the application is made within a 5-year period following a dismissal for carrying out internal fraud against government.</p>
			
			<h3 class="govuk-heading-s">Security</h3>											
			<p>Successful candidates must undergo a criminal record check.</p>
			<p>People working with government assets must complete baseline personnel security standard (opens in new window) checks.</p>
			
			<h3 class="govuk-heading-s">Nationality requirements</h3>								
			<p>This job is broadly open to the following groups:</p>			
			<ul class="govuk-list govuk-list--bullet">
				<li>UK nationals</li>
				<li>nationals of the Republic of Ireland</li>
				<li>nationals of Commonwealth countries who have the right to work in the UK</li>
				<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities with settled or pre-settled status under the European Union Settlement Scheme (EUSS) (opens in a new window)</li>
				<li>nationals of the EU, Switzerland, Norway, Iceland or Liechtenstein and family members of those nationalities who have made a valid application for settled or pre-settled status under the European Union Settlement Scheme (EUSS)</li>
				<li>individuals with limited leave to remain or indefinite leave to remain who were eligible to apply for EUSS on or before 31 December 2020</li>
				<li>Turkish nationals, and certain family members of Turkish nationals, who have accrued the right to work in the Civil Service</li>
			</ul>
			
			<p><a href="#" target="_blank">Further information on nationality requirements (opens in a new window)</a>.</p>
			
			<h3 class="govuk-heading-s">Working for the Civil Service</h3>											
			<p>The Civil Service Code (opens in a new window) sets out the standards of behaviour expected of civil servants.</p>
			<p>We recruit by merit on the basis of fair and open competition, as outlined in the Civil Service Commission's recruitment principles (opens in a new window).</p>
			<p>The Civil Service embraces diversity and promotes equal opportunities. As such, we run a Disability Confident Scheme (DCS) for candidates with disabilities who meet the minimum selection criteria.</p>
			<p>The Civil Service also offers a Redeployment Interview Scheme to civil servants who are at risk of redundancy, and who meet the minimum requirements for the advertised vacancy.</p>
			
			<h2 class="govuk-heading-m">Apply and further information</h2>											
			<p>Once this job has closed, the job advert will no longer be available. You may want to save a copy for your records.</p>
			
			<h3 class="govuk-heading-s">Contact point for applicants</h3>											
			<p>Job contact</p>
			<p>Early Careers</p>
			<p>Email :Earlycareers@cps.gov.uk</p>
			
			<p>Recruitment team</p>
			<p>Email :Earlycareers@cps.gov.uk</p>
			
			<a id="apply_tag"></a>
			<h3 class="govuk-heading-s">Further information</h3>											
			<p>You will need to submit your short application form through Civil Service Jobs, following this you are invited to complete online tests – Civil Service judgement test and Civil Service verbal test, these will need to be fully completed by 13:00pm on Tuesday 6 February 2024, if these tests are not fully complete by this time, your application will be rejected.</p>
			<p>For further information regarding the online Civil Service tests, please see the GOV.UK website: Civil Service online tests - GOV.UK (www.gov.uk)</p>