{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "You have added 1 candidate to this vacancy" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


		<div class="govuk-form-group govuk-!-margin-bottom-7">
			<dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
				
				{% if data['mmrCandidate3Name'] %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mmrCandidate3Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change </span></a></li>
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
				{% endif %}

				{% if data['mmrCandidate2Name'] %}
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mmrCandidate2Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change </span></a></li>
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
				{% endif %}

				{% if data['mmrCandidate1Name'] %}
				  <div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mmrCandidate1Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change </span></a></li>
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
				  {% endif %}


			</dl>		  
		</div>
		
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers"  novalidate action="" >
				<input type="hidden"  id="status" name="status" value="" />
		{% else %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" novalidate action="" >
		{% endif %}

				
		{% if data['mmrCandidate3Name'] %}

		{{ govukRadios({
			name: "mmrAddCandidate4",   
			classes: "govuk-radios--inline",     
			fieldset: {
				legend: {
					text: "Do you need to add another candidate?",
					isPageHeading: false,
					classes: "govuk-label--m"
				}
			},
			items: [                
				{ value: "Yes~/field-of-dreams/self-serve/manual-recruitment-request/candidates/", text: "Yes", checked: checked("mmrAddCandidate4", "Yes") },					
				{ value: "No", text: "No", checked: checked("mmrAddCandidate4", "No") }																			
			]
		}) }}


		{% elif data['mmrCandidate2Name'] %}

		{{ govukRadios({
			name: "mmrAddCandidate3",   
			classes: "govuk-radios--inline",     
			fieldset: {
				legend: {
					text: "Do you need to add another candidate?",
					isPageHeading: false,
					classes: "govuk-label--m"
				}
			},
			items: [                
				{ value: "Yes~/field-of-dreams/self-serve/manual-recruitment-request/candidates/", text: "Yes", checked: checked("mmrAddCandidate3", "Yes") },					
				{ value: "No", text: "No", checked: checked("mmrAddCandidate3", "No") }																			
			]
		}) }}


		{% elif data['mmrCandidate1Name'] %}
			
			{{ govukRadios({
				name: "mmrAddCandidate",   
				classes: "govuk-radios--inline",     
				fieldset: {
					legend: {
						text: "Do you need to add another candidate?",
						isPageHeading: false,
						classes: "govuk-label--m"
					}
				},
				items: [                
					{ value: "Yes~/field-of-dreams/self-serve/manual-recruitment-request/candidates/", text: "Yes", checked: checked("mmrAddCandidate", "Yes") },					
					{ value: "No", text: "No", checked: checked("mmrAddCandidate", "No") }																			
				]
			}) }}
		
		{% endif %}

			{{ govukButton({
				text: "Continue"			    
			}) }}    		
				  					
      		

        </form>        
  
	</div>
</div>


{% endblock %}