{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "You have added 1 candidate" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


		<div class="govuk-form-group govuk-!-margin-bottom-7">
			<dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">{{ data.mmrCandidate1Name }}</dt>
					<dd class="govuk-summary-list__actions hmrc-summary-list__actions">
				  		<ul class="govuk-summary-list__actions-list">
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change </span></a></li>
							<li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
				  		</ul>
					</dd>
			  	</div>			  	
			</dl>		  
		</div>
		
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers"  novalidate action="" >
				<input type="hidden"  id="status" name="status" value="" />
		{% else %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" novalidate action="" >
		{% endif %}
				        
				
				  
			<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
				  Do you need to add another candidate for this vacancy?
				</legend>
				<!-- <div id="add-another-hint" class="govuk-hint">
				  You must tell us about all your candidates.
				</div> -->
				<div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
				  <div class="govuk-radios__item">
					<input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
					<label class="govuk-label govuk-radios__label" for="add-another">
					  Yes
					</label>
				  </div>
				  <div class="govuk-radios__item">
					<input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
					<label class="govuk-label govuk-radios__label" for="add-another-2">
					  No
					</label>
				  </div>
				</div>
		  
			  </fieldset>
			</div>
		  
			<button class="govuk-button" data-module="govuk-button">
			  Continue
			</button>
		  </form>
		
      		

        </form>        
  
	</div>
</div>


{% endblock %}