{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	

		<!-- <h2 class="govuk-heading-m">Candidate’s details</h2> -->
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">			
			{% include "includes/candidate/mrr/title.html" %}
			{% include "includes/candidate/mrr/name.html" %}
			{% include "includes/candidate/mrr/email.html" %}
			{% include "includes/candidate/mrr/telephone.html" %}
			{% include "includes/candidate/mrr/type.html" %}
			{% include "includes/candidate/mrr/reference.html" %}
		</dl>		

        <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/candidates/add-more-candidates" >
            
            
            {{ govukButton({
      	    	text: "Confirm and add candidate"			    
    	    }) }}            
            
        </form>

        
  
	</div>
</div>


{% endblock %}