{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% if data['mmrCandidate3Name'] %}
	{% set pageHeading = 'What is ' + data.mmrCandidate3Name + '’s email address?' %}
{% elif data['mmrCandidate2Name'] %}
	{% set pageHeading = 'What is ' + data.mmrCandidate2Name + '’s email address?' %}
{% elif data['mmrCandidate1Name'] %}
	{% set pageHeading = 'What is ' + data.mmrCandidate1Name + '’s email address?' %}
{% else %}
	{% set pageHeading = "What is the candidates email address?" %}
{% endif %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p>This is the email address used to log in to Civil Service Jobs.</p>
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
<input type="hidden"  id="status" name="status" value="" />
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/candidates/telephone" >
		{% endif %}


		{% if data['mmrCandidate2Email'] %}  

        {{ govukInput({
          label: { text: "Candidates full name", classes: "govuk-visually-hidden", isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "mmrCandidate3Email",
          name: "mmrCandidate3Email",
          value: data['mmrCandidate3Email']
        }) }}


      {% elif data['mmrCandidate1Email'] %}  

        {{ govukInput({
          label: { text: "Candidates full name", classes: "govuk-visually-hidden", isPageHeading: false },      
          classes: "govuk-!-width-two-thirds",
          id: "mmrCandidate2Email",
          name: "mmrCandidate2Email",
          value: data['mmrCandidate2Email']
        }) }}

      {% else %}


			{{ govukInput({
				label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
				classes: "govuk-!-width-two-thirds",
				id: "mmrCandidate1Email",
				name: "mmrCandidate1Email",
				value: data['mmrCandidate1Email']
			}) }}

		{% endif %}
    	
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}