{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "What is the candidate’s reference number?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
			{% include "includes/status_null.html" %}
		{% else %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/candidates/check-your-answers" >
		{% endif %}
        

    		{% if data['mrrCandidate2Reference'] %}  

				{{ govukInput({
					label: { text: "Candidates full name", classes: "govuk-visually-hidden", isPageHeading: false },      
					classes: "govuk-!-width-two-thirds",
					id: "mrrCandidate3Reference",
					name: "mrrCandidate3Reference",
					value: data['mrrCandidate3Reference']
				}) }}


      		{% elif data['mrrCandidate1Reference'] %}  

        		{{ govukInput({
          			label: { text: "Candidates full name", classes: "govuk-visually-hidden", isPageHeading: false },      
					classes: "govuk-!-width-two-thirds",
					id: "mrrCandidate2Reference",
					name: "mrrCandidate2Reference",
					value: data['mrrCandidate2Reference']
        		}) }}

      		{% else %}

        		{{ govukInput({
          			label: { text: "Candidates full name", classes: "govuk-visually-hidden", isPageHeading: false },      
					classes: "govuk-!-width-two-thirds",
					id: "mrrCandidate1Reference",
					name: "mrrCandidate1Reference",
					value: data['mrrCandidate1Reference']
        		}) }}

      		{% endif %}
    	
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>
  
	</div>
</div>


{% endblock %}