{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}


{% if data['mrrCandidate3Name'] %}
	{% set pageHeading = 'What is ' + data.mrrCandidate3Name + '’s telephone number?' %}
{% elif data['mrrCandidate2Name'] %}
	{% set pageHeading = 'What is ' + data.mrrCandidate2Name + '’s telephone number?' %}
{% elif data['mrrCandidate1Name'] %}
	{% set pageHeading = 'What is ' + data.mrrCandidate1Name + '’s telephone number?' %}
{% else %}
	{% set pageHeading = "What is the candidate’s telephone number?" %}
{% endif %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	
		{% if data['status'] == "change" %}
			<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
				{% include "includes/status_null.html" %}
		{% else %}
        	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/candidates/type" >
		{% endif %}
			

			{% if data['mrrCandidate2Phone'] %}  

				{{ govukInput({
					label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
					classes: "govuk-!-width-two-thirds",
					id: "mrrCandidate3Phone",
					name: "mrrCandidate3Phone",
					value: data['mrrCandidate3Phone']
				}) }}

			{% elif data['mrrCandidate1Phone'] %}  

				{{ govukInput({
					label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
					classes: "govuk-!-width-two-thirds",
					id: "mrrCandidate2Phone",
					name: "mrrCandidate2Phone",
					value: data['mrrCandidate2Phone']
				}) }}

			{% else %}

				{{ govukInput({
					label: { text: "Your full name", classes: "govuk-visually-hidden", isPageHeading: false },      
					classes: "govuk-!-width-two-thirds",
					id: "mrrCandidate1Phone",
					name: "mrrCandidate1Phone",
					value: data['mrrCandidate1Phone']
				}) }}

			{% endif %}


        	{{ govukButton({
      	    	text: "Continue"			    
    		}) }}

        </form>
  
	</div>
</div>


{% endblock %}