{% extends "layouts/main.html" %}
{% set serviceName = "Government Recruitment Service (GRS)" %}

{% set pageHeading = "What is the candidate’s title?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} {{ macroPageTitle.pageTitle(pageHeading) }} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
			{% if data['status'] == "change" %}
				<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
          		{% include "includes/status_null.html" %}
		  	{% else %}
			  	<form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/candidates/name" >
		  	{% endif %}
        

			{% if data['mrrCandidate2Title'] %}


				{% set textHtml %}
						
					{{ govukInput({
						id: "mrrCandidate3TitleOther",
						name: "mrrCandidate3TitleOther",
						type: "tel",
						autocomplete: "tel",
						classes: "govuk-!-width-two-thirds",
						label: {
							text: "What is the candidates title?", classes: "govuk-visually-hidden"
						},
						hint: {
							text: "For example Dr, Professor or Reverend"
						}
					}) }}

				{% endset -%} 


				{{ govukRadios({
					name: "mrrCandidate3Title",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}	
					},
					items: [                
						{ value: "Miss", text: "Miss", checked: checked("mrrCandidate3Title", "Miss") },					        
						{ value: "Mr", text: "Mr", checked: checked("mrrCandidate3Title", "Mr") },					
						{ value: "Mrs", text: "Mrs", checked: checked("mrrCandidate3Title", "Mrs") },					
						{ value: "Ms", text: "Ms", checked: checked("mrrCandidate3Title", "Ms") },						  
						{ value: "Other", text: "Other", checked: checked("mrrCandidate3Title", "Other"), conditional: { html: textHtml } }					              
					]
				}) }}

      		
			{% elif data['mrrCandidate1Title'] %}

					
				{% set textHtml %}
				
					{{ govukInput({
						id: "mrrCandidate2TitleOther",
						name: "mrrCandidate2TitleOther",
						type: "tel",
						autocomplete: "tel",
						classes: "govuk-!-width-two-thirds",
						label: {
							text: "What is the candidates title?", classes: "govuk-visually-hidden"
						},
						hint: {
							text: "For example Dr, Professor or Reverend"
						}
					}) }}

				{% endset -%} 


				{{ govukRadios({
					name: "mrrCandidate2Title",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}	
					},
					items: [                
						{ value: "Miss", text: "Miss", checked: checked("mrrCandidate2Title", "Miss") },					        
						{ value: "Mr", text: "Mr", checked: checked("mrrCandidate2Title", "Mr") },					
						{ value: "Mrs", text: "Mrs", checked: checked("mrrCandidate2Title", "Mrs") },					
						{ value: "Ms", text: "Ms", checked: checked("mrrCandidate2Title", "Ms") },						  
						{ value: "Other", text: "Other", checked: checked("mrrCandidate2Title", "Other"), conditional: { html: textHtml } }					              
					]
				}) }}


			{% else %}
			
				{% set textHtml %}
			
					{{ govukInput({
						id: "mrrCandidate1TitleOther",
						name: "mrrCandidate1TitleOther",
						type: "tel",
						autocomplete: "tel",
						classes: "govuk-!-width-two-thirds",
						label: {
							text: "What is the candidates title?", classes: "govuk-visually-hidden"
						},
						hint: {
							text: "For example Dr, Professor or Reverend"
						}
					}) }}

				{% endset -%} 


				{{ govukRadios({
					name: "mrrCandidate1Title",        
					fieldset: {
						legend: {
							text: "Which profession is the role in",
							isPageHeading: false,
							classes: "govuk-visually-hidden"
						}	
					},
					items: [                
						{ value: "Miss", text: "Miss", checked: checked("mrrCandidate1Title", "Miss") },					        
						{ value: "Mr", text: "Mr", checked: checked("mrrCandidate1Title", "Mr") },					
						{ value: "Mrs", text: "Mrs", checked: checked("mrrCandidate1Title", "Mrs") },					
						{ value: "Ms", text: "Ms", checked: checked("mrrCandidate1Title", "Ms") },						  
						{ value: "Other", text: "Other", checked: checked("mrrCandidate1Title", "Other"), conditional: { html: textHtml } }					              
					]
				}) }}

			{% endif %}

            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>
  
	</div>
</div>


{% endblock %}