{% extends "layouts/main.html" %}
{% set serviceName = "GRS" %}

{% set pageHeading = "What type of candidate are they?" %}
{% set pageSection = "Manual recruitment request" %}

{% block pageTitle %} - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
		  {% if data['status'] == "change" %}
			  <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/check-your-answers" >
          {% include "includes/status_null.html" %}
		  {% else %}
			  <form method="post" action="/field-of-dreams/self-serve/manual-recruitment-request/candidates/reference-number" >
		  {% endif %}

    {{ govukRadios({
      name: "mrrCandidate1Title",        
      fieldset: {
        legend: {
          text: "Which profession is the role in",
          isPageHeading: false,
          classes: "govuk-visually-hidden"
        }
      },
      items: [                
        { value: "Internal - current employee of advertising department", text: "Internal - current employee of advertising department", checked: checked("mrrCandidate1Title", "Internal - current employee of advertising department") },					        
        { value: "OGD - current employee of another Civil Service department", text: "OGD - current employee of another Civil Service department", checked: checked("mrrCandidate1Title", "OGD - current employee of another Civil Service department") },					
        { value: "NDPB - current employee of accredited NDPB", text: "NDPB - current employee of accredited NDPB", checked: checked("mrrCandidate1Title", "NDPB - current employee of accredited NDPB") },					
        { value: "External - not working in the Civil Service", text: "External - not working in the Civil Service", checked: checked("mrrCandidate1Title", "External - not working in the Civil Service") }					          
      ]
    }) }}



    	
            {{ govukButton({
      	    	text: "Continue"			    
    	    }) }}

        </form>

        
  
	</div>
</div>


{% endblock %}