{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Reference check improvements" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    	<ul class="govuk-list govuk-body-s">
      		<li>August 2023</li>      		
    	</ul>
    
  	</div>

  	<div class="govuk-grid-column-two-thirds">
    	
		<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Candidate application</h3>
    	<ul class="govuk-list">
			<li><a href="/candidate/?iteration=" class="govuk-link govuk-link--no-visited-state" >Application status</a></li>			
			<li><a href="/candidate/details?iteration=" class="govuk-link govuk-link--no-visited-state" >Your details</a></li>			
			<li><a href="/candidate/right-to-work?iteration=" class="govuk-link govuk-link--no-visited-state" >Right to work</a></li>			
			<li><a href="/candidate/employment-history?iteration=" class="govuk-link govuk-link--no-visited-state" >Employment History</a></li>			
			<li><a href="/candidate/transfer-of-staff?iteration=" class="govuk-link govuk-link--no-visited-state" >Transfer of Staff Form</a></li>			
			<li><a href="/candidate/references?iteration=new" class="govuk-link govuk-link--no-visited-state" >References</a></li>			
			<li><a href="/candidate/pension?iteration=" class="govuk-link govuk-link--no-visited-state" >Pension Questionnaire</a></li>			
			<li><a href="/candidate/overseas?iteration=" class="govuk-link govuk-link--no-visited-state" >Overseas</a></li>			
			<li><a href="/candidate/bankruptcy-details?iteration=" class="govuk-link govuk-link--no-visited-state" >Bankruptcy Details</a></li>			
			<li><a href="/candidate/health-declaration?iteration=" class="govuk-link govuk-link--no-visited-state" >Health Declaration</a></li>			
			<li><a href="/candidate/self-employment?iteration=" class="govuk-link govuk-link--no-visited-state" >Self Employment</a></li>			
			<li><a href="/candidate/previous-civil-service?iteration=" class="govuk-link govuk-link--no-visited-state" >Previous Civil Service Employment</a></li>			
			<li><a href="/candidate/national-security-vetting?iteration=" class="govuk-link govuk-link--no-visited-state" >National Security Vetting</a></li>			
			<li><a href="/candidate/identity-documents?iteration=" class="govuk-link govuk-link--no-visited-state" >Upload identity documents</a></li>			
			<li><a href="/candidate/dbs-personal-information?iteration=" class="govuk-link govuk-link--no-visited-state" >DBS - Personal Information</a></li>			
			<li><a href="/candidate/dbs-address-details?iteration=" class="govuk-link govuk-link--no-visited-state" >DBS - Address Details</a></li>			
			<li><a href="/candidate/digital-identity-check?iteration=" class="govuk-link govuk-link--no-visited-state" >Digital identity check</a></li>			
			<li><a href="/candidate/declaration?iteration=" class="govuk-link govuk-link--no-visited-state" >Declaration</a></li>			


			
    	</ul>
		
		<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Reference request emails</h3>
		<ul class="govuk-list">
			<li><a href="/emails/personal-reference-request?iteration=new" class="govuk-link govuk-link--no-visited-state" >Email reference request - personal</a></li>			
			<li><a href="/emails/employer-reference-request?iteration=new" class="govuk-link govuk-link--no-visited-state" >Email reference request - employer</a></li>						  
		</ul>

		<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Reference request forms</h3>
		<ul class="govuk-list">			
			<li><a href="/reference-request/personal?iteration=new" class="govuk-link govuk-link--no-visited-state" >Reference form - personal</a></li>			
			<li><a href="/reference-request/employer?iteration=new" class="govuk-link govuk-link--no-visited-state" >Reference form - employer</a></li>			
			<li><a href="/reference-request/academic?iteration=new" class="govuk-link govuk-link--no-visited-state" >Reference form - academic</a></li>			
		</ul>

		<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Confirmation screens</h3>
		<ul class="govuk-list">			
			<li><a href="/reference-request/complete?iteration=new" class="govuk-link govuk-link--no-visited-state" >Reference submitted</a></li>						
		</ul>

  	</div>


  <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Assets </h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1689584400444/06781d001a5fa73a5c6e5b33db503320a5fa0434?sender=ub98a52257bdf547e502c3033" class="govuk-link govuk-link--no-visited-state" target="_blank" >Mural board</a></li>                    
                </ul>
            </nav>
        </div>   
</div>

{% endblock %}
