{% extends "layouts/main.html" %}

{% set showBackLink = false %}

{% set pageHeading = "Candidate application improvements (PEC)" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    	<!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}    	    
  	</div>
  	<div class="govuk-grid-column-two-thirds">		
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">A8 Reference check improvements</h2>
		<p class="govuk-body-s">August 2023</p>
		<p class="govuk-!-margin-bottom-2">Analysis and improvements on candidate references, referee emails and reference forms.</p>
		<p class="govuk-body-s"><a href="/a8" class="govuk-link govuk-link--no-visited-state">View work <span class="govuk-visually-hidden"> on reference check improvements</span></a></p>		
  	</div>

	<div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
		<h3 class="govuk-heading-m">Pages within candidate application</h3>
		<p>Some pages have dynamic content, so if using the links and not going through the flows that lead to each page, its not always possible to show the right content for all scenarios.</p>
	</div>
	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">  		
				<ul class="govuk-list">
					<li><a href="/candidate/?iteration=" class="govuk-link govuk-link--no-visited-state" >Application status</a></li>
					<li><a href="/candidate/details?iteration=" class="govuk-link govuk-link--no-visited-state" >Your details</a></li>
					<li><a href="/candidate/right-to-work?iteration=" class="govuk-link govuk-link--no-visited-state" >Right to work</a></li>
					<li><a href="/candidate/employment-history?iteration=" class="govuk-link govuk-link--no-visited-state" >Employment History</a></li>
					<li><a href="/candidate/transfer-of-staff?iteration=" class="govuk-link govuk-link--no-visited-state" >Transfer of Staff Form</a></li>
					<li><a href="/candidate/references?iteration=new" class="govuk-link govuk-link--no-visited-state" >References</a></li>			
					<li><a href="/candidate/pension?iteration=" class="govuk-link govuk-link--no-visited-state" >Pension Questionnaire</a></li>
					<li><a href="/candidate/overseas?iteration=" class="govuk-link govuk-link--no-visited-state" >Overseas</a></li>
					<li><a href="/candidate/bankruptcy-details?iteration=" class="govuk-link govuk-link--no-visited-state" >Bankruptcy Details</a></li>
					
				</ul>
    		</div>   
			<div class="govuk-grid-column-one-half">  		
				<ul class="govuk-list">
					<li><a href="/candidate/health-declaration?iteration=" class="govuk-link govuk-link--no-visited-state" >Health Declaration</a></li>
					
					<li><a href="/candidate/self-employment?iteration=" class="govuk-link govuk-link--no-visited-state" >Self Employment</a></li>					
					<li><a href="/candidate/previous-civil-service?iteration=" class="govuk-link govuk-link--no-visited-state" >Previous Civil Service Employment</a></li>
					<li><a href="/candidate/national-security-vetting?iteration=" class="govuk-link govuk-link--no-visited-state" >National Security Vetting</a></li>
					<li><a href="/candidate/identity-documents?iteration=" class="govuk-link govuk-link--no-visited-state" >Upload identity documents</a></li>
					<li><a href="/candidate/dbs-personal-information?iteration=" class="govuk-link govuk-link--no-visited-state" >DBS - Personal Information</a></li>
					<li><a href="/candidate/dbs-address-details?iteration=" class="govuk-link govuk-link--no-visited-state" >DBS - Address Details</a></li>
					<li><a href="/candidate/digital-identity-check?iteration=" class="govuk-link govuk-link--no-visited-state" >Digital identity check</a></li>
					<li><a href="/candidate/declaration?iteration=" class="govuk-link govuk-link--no-visited-state" >Declaration</a></li>
				</ul>
    		</div>   
			<div class="govuk-grid-column-one-third">  		
				<ul class="govuk-list">
					
					
				</ul>
    		</div>   
		
		</div>
	</div>
</div>

{% endblock %}