{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Field of Dreams" %}
{% set pageSection = "Customer Relationship Management (CRM) improvements" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}        

    	<ul class="govuk-list govuk-body-s">
      		<li>Last updated: September 2023</li>      		
    	</ul>
    
  	</div>

  	<div class="govuk-grid-column-two-thirds">        

        <h2 class="govuk-heading-m">Landing pages</h2>
        <ul class="govuk-list">
            <li><a href="/field-of-dreams/landing-page" class="govuk-link govuk-link--no-visited-state" >Main landing page</a></li>
            <li><a href="/field-of-dreams/vacancy-holder" class="govuk-link govuk-link--no-visited-state" >Vacancy holders</a></li>
            <li><a href="/field-of-dreams/candidates" class="govuk-link govuk-link--no-visited-state" >Canddidates</a></li>            
        </ul>

        <h2 class="govuk-heading-m">Other main pages</h2>
        <ul class="govuk-list">
            <li><a href="/field-of-dreams/authentication" class="govuk-link govuk-link--no-visited-state" >Sign in with departmental details</a></li>            
        </ul>


        <h2 class="govuk-heading-m">Self-serve query flows</h2>
        <ul class="govuk-list">
            <li><a href="/field-of-dreams/self-serve/manual-recruitment-request/?query=manualRecruitmentRequest" class="govuk-link govuk-link--no-visited-state" >Manual Recruitment Request</a></li>            
        </ul>






    	
		
		
		
  	</div>


  <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Assets</h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank" >Mural board</a></li>

                </ul>
            </nav>

            
        </div>   
</div>

{% endblock %}
