{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Prototype work" %}
{% set pageSection = "CivilService Jobs" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    <ul class="govuk-list govuk-body-s">
      <li>Last updated: 4 August 2023</li>
      <li>Prototype version: {{ releaseVersion}}</li>
    </ul>
    
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p>Links to ongoing work will go here.</p>
  </div>
  <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Assets </h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="/listings" class="govuk-link govuk-link--no-visited-state" >Page listings</a></li>
                    <li><a href="https://github.com/Government-Business-Services/crm-csjobs-prototype" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" >Github repository <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>                 
                </ul>
            </nav>
        </div>   
</div>

{% endblock %}
