{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Prototype work" %}
{% set pageSection = "CivilService Jobs" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    <ul class="govuk-list govuk-body-s">
      <li>Last updated: 3 August 2023</li>
      <li>Prototype version: {{ releaseVersion}}</li>
    </ul>
    
  </div>
</div>

{% endblock %}
