{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "CivilService Jobs" %}
{% set pageSection = "Prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    	<ul class="govuk-list govuk-body-s">
      		<li>Last updated: 9 January 2024</li>
      		<li>Prototype version: {{ releaseVersion}}</li>
    	</ul>
    
  	</div>

  	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Civil Service Jobs service improvements</h2>
		<p class="govuk-body-s">Started: December 2023</p>
		<p class="govuk-!-margin-bottom-2">Improvements to user flows including job search, sign on, job alerts, password reset and account mangement including possible additional content changes to candidate application form (PEC).</p>
		<p class="govuk-body-s"><a href="/civil-service-jobs" class="govuk-link govuk-link--no-visited-state">View more</a></p>

		
		
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">GRS Customer Contact Project</h2>
		<p class="govuk-body-s">Started: September 2023</p>
		<p class="govuk-!-margin-bottom-2">Improvement work to look at better two-way contact.</p>
		<p class="govuk-body-s"><a href="/grs-customer-contact" class="govuk-link govuk-link--no-visited-state">View more</a></p>
    	

    	<h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Candidate application improvements (PEC)</h2>
		<p class="govuk-body-s">Started: August 2023</p>
		<p class="govuk-!-margin-bottom-2">Analysis and improvements on candidate application form  (PEC).</p>
		<p class="govuk-body-s"><a href="/candidate-application" class="govuk-link govuk-link--no-visited-state">View more</a></p>

  	</div>


  <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">Assets </h2>
            <nav class="govuk-!-margin-bottom-7">
                <ul class="govuk-list">
                    <li><a href="/listings" class="govuk-link govuk-link--no-visited-state" >Page listings</a></li>
                    <li><a href="https://github.com/Government-Business-Services/grs-customer-contact-csjobs-prototype" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" >Github repository <span class="govuk-visually-hidden">(opens in new tab)</span></a></li>                 
                </ul>
            </nav>
        </div>   
</div>

{% endblock %}
