{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Manual recruitment request" %}
{% set pageSection = "" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


		<p>This self-serve option allows you to...</p>

		<h2 class="govuk-heading-m">What we will need from you</h2>
		<p>To complete a manual recuritment request you would need to provide us with:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>information about the vacancy holder</li>
			<li>details of the vacancy, type, role and salary</li>
			<li>your requirements for pre-employment checks if needed</li>
		</ul>

		<form method="post" action="/crm/self-serve/manual-recruitment-request/vacancy-holder-details/" >

			<input type="text" name="mmr" id="mmr" value="Started" class="govuk-visually-hidden" />
		
    		{{ govukButton({
      			text: "Continue",				
				classes: "govuk-!-margin-top-5"
    		}) }}

		</form>
  
	</div>
</div>

{% endblock %}