{% extends "layouts/main.html" %}
{% set showBackLink = false %}
{% set serviceName = "GRS" %}

{% set pageHeading = "Manual recruitment request" %}
{% set pageSection = "Self-serve" %}

{% block pageTitle %}Session data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    	<p>Flow would follow.</p>

    	{{ govukButton({
      		text: "Save and continue",
			href: "/crm/self-serve/manual-recruitment-request/vacancy-details/"

    	}) }}
  
	</div>
</div>


{% endblock %}