

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/"                    
    }) }}

    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },
        breadcrumbs: {
            items: [            
                { href: "/grs-customer-contact/landing-page", text: "Home" },
                { href: "/grs-customer-contact/vacancy-holder", text: "Candidates" }                
            ]
        },
        title: {
            text: "Candidates"
        },
        description: {
            html: "Access your Civil Service Jobs account, and find guidance and advice about using Civil Service Jobs."
        },
        
            image: {
                src: "/public/images/candidates2.svg"
            }
    }) }}


    {% include "includes/masthead_3.html" %}

{% endblock %}

{% block beforeContent %}




{% endblock %}