{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: "Government Recruitment Service (GRS)",
        serviceUrl: "/"                    
    }) }}

    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },
        breadcrumbs: {
            items: [            
                { href: "/field-of-dreams/landing-page", text: "Home" },
                { href: "/field-of-dreams/vacancy-holder", text: "Candidates" }                
            ]
        },
        title: {
            text: "Candidates"
        },
        description: {
            html: "Access your Civil Service Jobs account, and find guidance and advice about using Civil Service Jobs."
        },
        startButton: {
            text: "Sign in",
            href: "/get-started/"
        },
            image: {
                src: "/public/images/pay-top-image-5f2b3404.png"
            }
    }) }}

{% endblock %}

{% block beforeContent %}




{% endblock %}