

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/"                    
    }) }}

    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is an updated service"
        },        
        title: {
            text: "Government Recruitment Service (GRS)"
        },
        description: {
            html: "We are the recruitment partner of choice for government departments, agencies and non-departmental public bodies (NDPBs). We provide deep expertise, capacity, reach and excellent value for money."            
        },  
        
        image: {
            src: "/public/images/JoinNow2.svg"
        }
    }) }}


    {% include "includes/masthead.html" %}

{% endblock %}

{% block beforeContent %}

{% endblock %}