{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: "Government Recruitment Service (GRS)",
        serviceUrl: "/"                    
    }) }}

    <!-- {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is an updated service"
        },        
        title: {
            text: "Government Recruitment Service (GRS)"
        },
        description: {
            html: "Our vision remains to be the recruitment partner of choice for departments, agencies and non-departmental public bodies (NDPBs). By increasing our capacity and reach, developing deep expertise, and providing excellent value for money we are moving forward with this ambition."            
        },  
        startButton: {
            text: "Who we are",
            href: "/voldemort/who-we-are"
        },      
        image: {
            src: "/images/pay-top-image-5f2b3404.png"
        }
    }) }} -->


    {% include "includes/masthead.html" %}

{% endblock %}

{% block beforeContent %}

{% endblock %}