{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}
{% if showIterationLinks == true %}
    
    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/",
        navigation: [
            { href: "?iteration=&gaps=", text: "Current" },
            { href: "?iteration=new", text: "New" },            
            { href: "?showPhone=Yes", text: "Phone" },
            { href: "?showPhone=", text: "No Phone" }
        ]
    }) }}    
    
{% else %}

    {{ govukHeader({
        homepageUrl: "/grs-customer-contact/landing-page",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/grs-customer-contact/landing-page"                    
    }) }}

{% endif %}
{% endblock %}

{% block beforeContent %}

    {% if showPhaseBanner != false %}
        {{ govukPhaseBanner({
            tag : { text: "Prototype" },
            html: "This is a prototype. It is not a real service."
        }) }}        
    {% endif %}

    {% if showBackLink != false %}
        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
        }) }}
    {% endif %}

    {% if showNavLinks == true %}
        <p class="govuk-!-text-align-right govuk-!-margin-top-5 govuk-!-margin-bottom-0">        
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/pec/candidate/search">Home</a>
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/pec/candidate/applications/">Applications</a>
            <!-- <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">View application</a>
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Job Description</a>
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Booked Interviews</a> -->
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Sign out</a>      
        </p>
    {% elif showNavLinksExtra == true %}
    <p class="govuk-!-text-align-right govuk-!-margin-top-5 govuk-!-margin-bottom-0">        
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/pec/candidate/search">Home</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/pec/candidate/applications/">Applications</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/pec/candidate/job-alerts">Job Alerts</a>        
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/pec/candidate/account-details">Account details</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Sign out</a>      
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Cymraeg</a>      
    </p>

    {% endif %}

{% endblock %}