{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}
{% if showIterationLinks == true %}
    
    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/",
        navigation: [
            { href: "?iteration=&gaps=", text: "Current" },
            { href: "?iteration=new", text: "New" },            
            { href: "?showPhone=Yes", text: "Phone" },
            { href: "?showPhone=", text: "No Phone" }
        ]
    }) }}    
    
{% else %}

    {{ govukHeader({
        homepageUrl: "/grs-customer-contact/landing-page",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/grs-customer-contact/landing-page"                    
    }) }}

{% endif %}
{% endblock %}

{% block beforeContent %}

    {% if showPhaseBanner != false %}
        {{ govukPhaseBanner({
            tag : { text: "Prototype" },
            html: "This is a prototype. It is not a real service."
        }) }}        
    {% endif %}

    {% if showBackLink != false %}
        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.go(-1)"
        }) }}
    {% endif %}
    

    {% if showNavLinks == true %}
    
    {% if data['account-status'] == "SignedIn" %}        
    <p class="govuk-!-text-align-right govuk-!-margin-top-3 govuk-!-margin-bottom-0">User Name</p>       
    <p class="govuk-!-text-align-right govuk-!-margin-bottom-0">        
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/search?notification=">Home</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/account/applications/?notification=">Applications</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/account/job-alerts?notification=">Job Alerts</a>        
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/account/details?notification=">Account details</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/search?notification=signedOut&account-status=signedOut">Sign out</a>      
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Cymraeg</a>                          
    {% else %}
    <p class="govuk-!-text-align-right govuk-!-margin-top-5 govuk-!-margin-bottom-0">        
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/search?notification=">Home</a>
        
        <!-- <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">View application</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Job Description</a>
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Booked Interviews</a> -->
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="/csjobs/sign-in?notification=">Sign in / create an account</a>     
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-padding-left-3" href="#">Cymraeg</a>                  
    {% endif %}
    </p>
    {% endif %}

{% endblock %}