

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/"                    
    }) }}

    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },
        breadcrumbs: {
            items: [            
                { href: "/field-of-dreams/landing-page", text: "Home" },
                { href: "/field-of-dreams/vacancy-holder", text: "Vacancy holders" }                
            ]
        },
        title: {
            text: "Vacancy holders"
        },
        description: {
            html: "Find out about pre-employment checking, manage applications, authentications and statuses of candidates.<br><br>As a vacancy holder you work on the recruitment process from creating advertisements through to final candidate onboarding."
        },     
        
        image: {
            src: "/public/images/Chair.svg"
        }
    }) }}


    



    {% include "includes/masthead_2.html" %}

{% endblock %}

{% block beforeContent %}




{% endblock %}