{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: "Government Recruitment Service",
        serviceUrl: "/"                    
    }) }}

    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },
        breadcrumbs: {
            items: [            
                { href: "/field-of-dreams/landing-page", text: "Home" },
                { href: "/field-of-dreams/vacancy-holder", text: "Vacancy holders" }                
            ]
        },
        title: {
            text: "Vacancy holders"
        },
        description: {
            html: "Access pre-employment checking, manage applications, authentications and statuses of candidates."
        },     
        startButton: {
            text: "Chat with us"
            
        },   
        image: {
            src: "/images/homepage-illustration.svg"
        }
    }) }}


    

{% endblock %}

{% block beforeContent %}




{% endblock %}