

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/"                    
    }) }}

    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },
        breadcrumbs: {
            items: [            
                { href: "/field-of-dreams/landing-page", text: "Home" },
                { href: "/field-of-dreams/vacancy-holder", text: "Vacancy holders" }                
            ]
        },
        title: {
            text: "Vacancy holders"
        },
        description: {
            html: '
            Find out about pre-employment checking, manage applications, authentications and statuses of candidates.<br><br>
            To assist you in helping people join the Civil Service, this page has links to useful forms, information and guidance about <a href="#advertising_tag" class="govuk-link govuk-link--no-visited-state">advertising a vacancy</a>, <a href="#preemployment_tag" class="govuk-link govuk-link--no-visited-state">making pre-employment</a> and <a href="#righttowork_tag" class="govuk-link govuk-link--no-visited-state">right to work checks</a>, <a href="#recruiting_tag" class="govuk-link govuk-link--no-visited-state">recruiting candidates</a>, <a href="#onboarding_tag" class="govuk-link govuk-link--no-visited-state">onboarding</a> and more.'
        },             
        image: {
            src: "/public/images/Chair.svg"
        }
    }) }}

    {% include "includes/masthead_2.html" %}

{% endblock %}

{% block beforeContent %}




{% endblock %}