{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: "Government Recruitment Service",
        serviceUrl: "/"                    
    }) }}

    


    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },      
        breadcrumbs: {
            items: [            
                { href: "/field-of-dreams/landing-page", text: "Home" },
                { href: "/field-of-dreams/what-we-do", text: "What we do" }                
            ]
        },  
        title: {
            text: "What we do"
        },
        description: {
            html: "Run by civil servants for civil servants, GRS has an unrivalled understanding of government. We are uniquely placed to deliver expert recruitment services to every department."
        },        
            image: {
                src: "/images/homepage-illustration.svg"
        }
    }) }}

{% endblock %}

{% block beforeContent %}




{% endblock %}