

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block header %}

    {{ govukHeader({
        homepageUrl: "/",
        classes: "",
        serviceName: serviceName,
        serviceUrl: "/"                    
    }) }}    


    {{ xGovukMasthead({
        classes: "x-govuk-masthead--large",
        phaseBanner: {
            text: "This is a new service"
        },      
        breadcrumbs: {
            items: [            
                { href: "/field-of-dreams/landing-page", text: "Home" },
                { href: "/field-of-dreams/who-we-are", text: "Who we are" }                
            ]
        },  
        title: {
            text: "GRS - Who we are and what we do"
        },
        description: {
            html: "GRS was set up in 2017 to meet recruitment needs across government. We offer innovative solutions through our platforms and services. We attract, select and recruit talented individuals to government vacancies."
        },        
            image: {
                src: "/images/homepage-illustration.svg"
        }
    }) }}

{% endblock %}

{% block beforeContent %}




{% endblock %}